@use "shared/extends/controls";
@use "shared/extends/style";

:root {
	--bottombar_spacing: 4px;
}

#AddGameButton {
	&::after {
		content: "";

		@include style.arrow("bottom");

		background-color: var(--blue-text);
	}
}

#BottomBar {
	@include style.blue-bar;

	box-shadow: none;

	flex: unset;
}

#AddGameButton,
#DownloadStatusContent,
#FriendsButton {
	gap: var(--bottombar_spacing);
	padding: 0;
}

#DetailedDownloadProgress {
	gap: var(--bottombar_spacing);
}

#Icon {
	@include style.icon;

	order: -1;

	#AddGameButton & {
		--icon: var(--icon-add);
	}

	#DetailedDownloadProgress & {
		box-shadow: none;

		width: var(--icon-size);
		height: var(--icon-size);
	}

	#DownloadStatusContent & {
		--icon: var(--icon-download);
	}

	#FriendsButton & {
		--icon: var(--icon-users);
	}

	svg {
		display: none;
	}
}

#IconBevel {
	display: none;
}

#ProgressBar {
	@include controls.progress-bar-outer;

	// Align with icons
	margin-block: -1px;

	width: 0;
	flex-grow: 1;

	&::after {
		@include controls.progress-bar-inner;
	}
}

#ProgressBarWrapper {
	gap: var(--bottombar_spacing);

	flex-direction: row;
	align-items: center;
}

#Status {
	color: var(--blue-text);

	flex-grow: 0;

	&#Percentage {
		@include style.parentheses;

		opacity: var(--library_secondary-text-opacity);
		margin-left: var(--bottombar_spacing);
	}
}

#Text,
#Queue {
	color: var(--blue-text);
}
