#DragArea {
	display: none;
}

#FocusBar {
	display: none;
}

#OuterFrame {
	gap: var(--steamdesktop_spacing);
	margin: var(--steamdesktop_border-size);

	width: var(--steamdesktop_window-size);
	height: var(--steamdesktop_window-size);

	& > .part {
		order: -1;
	}
}

#RootMenuBar {
	gap: 0;
	padding: 0;
	margin: 0;

	display: none;
}

#SuperNavBar {
	padding: 0;

	overflow: hidden;
	height: unset;
	min-height: unset;
}

#TitleBar {
	width: unset;
	height: unset;
}

#TopBar {
	background-color: transparent;
	box-shadow: none;
	margin-bottom: calc(var(--steamdesktop_spacing) * -1);

	order: -1;
	flex-direction: row-reverse;
	justify-content: space-between;

	app-region: var(--steamdesktop_top-bar-drag);
}

#URLBarReplacement {
	display: none;
}

#WindowControls {
	flex: unset;

	.title-area {
		position: unset;
	}
}

#Wrapper {
	background-image: var(--steamdesktop_window-gradient);
	border: none;
}

html:not([data-millennium-plugin~="aerothemesteam_plugin"]) {
	#DragArea,
	#RootMenuBar {
		display: flex;
	}

	#TopBar {
		border-bottom: 2px solid var(--supernav_tab-gradient-end);

		flex-direction: column;
	}
}
