:root {
	--steamdesktop_border-size: 1px;
	--steamdesktop_spacing: 2px;
	--steamdesktop_window-size: calc(100% - var(--steamdesktop_border-size) * 2);
}

#DragArea {
	display: none;
}

#FocusBar {
	display: none;
}

#OuterFrame {
	gap: var(--steamdesktop_spacing);
	margin: var(--steamdesktop_border-size);

	width: var(--steamdesktop_window-size);
	height: var(--steamdesktop_window-size);

	& > .part {
		order: -1;
	}
}

#RootMenuBar {
	display: none;
}

#SuperNavBar {
	padding: 0;

	overflow: hidden;
	height: unset;
	min-height: unset;
}

#TitleBar {
	width: unset;
	height: unset;
}

#TopBar {
	background-color: transparent;
	box-shadow: none;
	margin-bottom: calc(var(--steamdesktop_spacing) * -1);

	order: -1;
	flex-direction: row-reverse;
	justify-content: space-between;

	:root:not([browsertype="DirectHWND"]) & {
		app-region: drag;
	}
}

#URLBarReplacement {
	display: none;
}

#WindowControls {
	flex: unset;

	.title-area {
		position: unset;
	}
}

#Wrapper {
	background-image:
		linear-gradient(0deg, transparent 96.5%, #82b4ff1a 100%),
		linear-gradient(180deg, #293b53 0%, #112034 100%);
	border: none;
}
