@use "shared/extends/style";

#Arrow {
	@include style.icon("nav-forward", "path");

	margin: 0 var(--supernav_icon-spacing);

	&#Disabled {
		opacity: 0.5;

		pointer-events: none;
	}
}

#MenuButton {
	color: inherit;
	text-shadow: none;
	padding: var(--supernav_tab-spacing-y) 12px;

	&::after {
		display: none;
	}
}

#SuperNav {
	& > .part {
		margin: 0 var(--supernav_icon-spacing);

		app-region: no-drag;
		order: -1;
	}
}

#SuperNavMenu {
	color: #fff;
	font-size: var(--font-size);
	text-transform: unset;
	padding: 0;
	border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;

	position: relative;

	&#Selected {
		--inverse-border-color: var(--supernav_tab-gradient-end);
		background-image: linear-gradient(
			360deg,
			var(--supernav_tab-gradient-end) 18.86%,
			#fff 95.54%
		);
		color: var(--blue-text);
		box-shadow: inset 0 1px #ccddf2;
	}

	&::before,
	&::after {
		content: "";

		position: absolute;
		bottom: 0;
		width: var(--supernav_inverse-border-size);
		height: calc(var(--supernav_inverse-border-size) * 2);

		box-shadow: 0 var(--supernav_inverse-border-size)
			var(--inverse-border-color);
	}

	&::before {
		left: calc(var(--supernav_inverse-border-size) * -1);
		border-bottom-right-radius: var(--supernav_inverse-border-size);
	}

	&::after {
		right: calc(var(--supernav_inverse-border-size) * -1);
		border-bottom-left-radius: var(--supernav_inverse-border-size);
	}
}
