@use "shared/extends/style";

@mixin _titlebar-button {
	margin-right: 10px;

	width: var(--icon-size);
	min-width: var(--icon-size);
	min-height: var(--icon-size);
}

#AccountMenu {
	display: none;
}

#AnnouncementWaveSVG {
	display: none;
}

#Button {
	@include _titlebar-button;

	background-color: transparent;
	padding: 0;

	&#AnnouncementsButton {
		--icon: var(--icon-rss);
	}

	&#GamepadUIToggle {
		--icon: var(--icon-display);
	}

	&#NotificationsButton {
		--icon: var(--icon-notifications);
	}
}

#Icon {
	@include style.icon;

	// #GamepadUIToggle
	position: unset;

	path {
		display: none;
	}
}

#NotificationButtonContainer {
	margin: 0;
}

#TitleBarControls {
	margin: 0;

	.icon-button {
		@include _titlebar-button;

		app-region: no-drag;
	}
}
