@use "shared/extends/style";

@mixin _titlebar-button {
	margin-right: 10px !important;

	width: var(--icon-size) !important;
	min-width: var(--icon-size) !important;
	min-height: var(--icon-size) !important;

	// TODO: hover & use for every icon
	&:active {
		filter: brightness(1.25) !important;
	}
}

#AccountMenu {
	display: none !important;
}

#AnnouncementsButton {
	--icon: var(--icon-rss);
}

#AnnouncementWaveSVG {
	display: none !important;
}

#Button {
	@include _titlebar-button;

	background-color: transparent !important;
	padding: 0 !important;

	path {
		display: none !important;
	}

	svg {
		@include style.icon;
	}
}

#GamepadUIToggle {
	--icon: var(--icon-display);

	svg {
		position: unset !important;
	}
}

#NotificationButtonContainer {
	--icon: var(--icon-notifications);

	margin: 0 !important;
}

#TitleBarControls {
	margin: 0 !important;

	.icon-button {
		@include _titlebar-button;

		app-region: no-drag;
	}
}
