@use "shared/extends/style";

@mixin _titlebar-button {
	margin-right: 10px;

	width: var(--icon-size);
	min-width: var(--icon-size);
	min-height: var(--icon-size);

	// TODO: hover & use for every icon
	&:active {
		filter: brightness(1.25);
	}
}

#AccountMenu {
	display: none;
}

#AnnouncementsButton {
	--icon: var(--icon-rss);
}

#AnnouncementWaveSVG {
	display: none;
}

#Button {
	@include _titlebar-button;

	background-color: transparent;
	padding: 0;

	path {
		display: none;
	}

	svg {
		@include style.icon;
	}
}

#GamepadUIToggle {
	--icon: var(--icon-display);

	svg {
		position: unset;
	}
}

#NotificationButtonContainer {
	--icon: var(--icon-notifications);

	margin: 0;
}

#TitleBarControls {
	margin: 0;

	.icon-button {
		@include _titlebar-button;

		app-region: no-drag;
	}
}
