#Details {
	color: inherit;
	font: inherit;
	opacity: 0.5;
}

#FatButton {
	svg {
		display: none;
	}
}

#Highlight {
	color: inherit;
	font-weight: bold;
	margin-inline-start: 4px;
}

#Label {
	color: inherit;
	font: inherit;
	font-size: var(--font-size-large);
}
