@use "mixins/contextmenu";
@use "mixins/controls";
@use "mixins/style";

#AppBody,
#AppHeader,
#AppName {
	color: inherit;
}

#AppBodyRight {
	align-items: center;
}

#AppSize {
	color: inherit;
	opacity: 0.5;
}

#DriveName {
	color: inherit;
	font: inherit;
	letter-spacing: 0;
	text-transform: unset;
}

#DriveSettingsButton {
	@include style.icon("settings", "svg");

	background-color: transparent;
}

#DriveSize {
	color: var(--listitem_fg-secondary);
	font: inherit;
	letter-spacing: 0;
	text-transform: unset;
}

#DriveUsageBar {
	@include controls.progress-bar-inner;

	background-image:
		linear-gradient(var(--bg), var(--bg)), var(--white-gradient);
	box-shadow: none;
	z-index: 1;

	&:not([style="width: 0%;"], [style^="width: 0.0"]) {
		border-inline-end: 1px solid var(--border-and-grad-color-50);
	}
}

// Same colors, but from the same base as the progress bar background
#DriveUsage {
	&DLC {
		--bg: #9e22c4;
	}

	&Games {
		--bg: #22b9c4;
	}

	&Media {
		--bg: #22c42f;
	}

	&Other,
	&OtherDot {
		--bg: #2248c4;
	}

	&Shader {
		--bg: #c4227b;
	}

	&Updates {
		--bg: #c45522;
	}

	&Workshop {
		--bg: #84c422;
	}
}

#DriveUsageDot {
	--size: var(--font-size);

	@include style.white-gradient;

	background: linear-gradient(var(--bg), var(--bg)), var(--white-gradient);
	box-shadow:
		0 1px 2px #00000040,
		inset 0 1px #ffffff40;
	height: var(--size);
	width: var(--size);
}

// The parent of all, hence the vars
#DriveUsageIndicator {
	--bar-z-index: 1;
	--border-and-grad-color: #fff;
	--border-and-grad-color-50: color-mix(
		in srgb,
		var(--border-and-grad-color) 50%,
		transparent
	);

	@include controls.progress-bar-outer;
	@include style.white-gradient($size: 9px);

	position: relative;

	&::before,
	&::after {
		content: "";
		inset: 0;
		position: absolute;
	}

	&::before {
		--bg: color-mix(in srgb, #000 12.5%, transparent);
		--size: 10px;

		background-image:
			repeating-linear-gradient(
				315deg,
				var(--bg),
				var(--bg) var(--size),
				transparent var(--size),
				transparent calc(var(--size) * 2)
			),
			var(--white-gradient);
	}

	&::after {
		background-image: linear-gradient(
			90deg,
			transparent,
			var(--border-and-grad-color-50) 65%,
			color-mix(in srgb, var(--border-and-grad-color) 75%, transparent) 98%
		);
		box-shadow: inset 0 0 0 1px var(--border-and-grad-color-50);
		z-index: var(--bar-z-index);
	}
}

#DriveUsageNumber {
	color: inherit;
	font: inherit;
	font-weight: bold;
	letter-spacing: 0;
	opacity: 0.5;
	text-transform: unset;
}

#DriveUsageText {
	color: inherit;
	font: inherit;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: unset;
}

#DropdownOptionCtn {
	.DialogDropDown_CurrentDisplay {
		margin-inline-start: calc(var(--icon-size) + 5px);
	}

	// star icon
	.tool-tip-source svg {
		display: block;
	}
}

#InstallDropdownOption {
	--icon: icon("download");

	color: inherit;

	&::before {
		@include contextmenu.icon-pos;

		background-image: var(--icon);
		background-size: var(--icon-size);
		content: "";
	}

	// The dropdown doesn't have a separate class for that...
	svg {
		display: none;
	}
}

#LibraryHeader {
	padding: 0;
}

#NoCheckboxSpacer {
	@include controls.input-base("checkbox", ".hack", ".hack");

	height: var(--size);
	width: var(--size);

	&,
	&:active,
	&:hover {
		// Always disabled
		--state: 3;
	}
}
