@use "shared/extends/controls";
@use "shared/extends/settings";
@use "shared/extends/style";

#AddPerGameRow {
	color: inherit;
	font: inherit;
}

#BackgroundSettingGameNameRow {
	gap: 4px;
}

#BackgroundSettingOperator {
	font-weight: bold;
	margin-block-start: 17px;
}

#BackgroundSettingRow {
	border: none;
	margin: 0;
	padding: 0;
}

#Body {
	color: inherit;
	font: inherit;
	gap: 0;
	margin: 0;
	opacity: 0.5;
}

#DiskSpace {
	color: inherit;
	font: inherit;
	height: unset;
}

#DurationUnits {
	padding: 3px 5px;
}

#FolderLink {
	color: inherit;
}

#GameIconAndName {
	gap: 4px;

	img,
	svg {
		border-radius: 0;
		height: var(--icon-size);
		width: var(--icon-size);
	}

	span {
		align-items: center;
		color: inherit;
		display: flex;
		font: inherit;
		font-weight: bold;
		width: 100%;

		&:after {
			border-block-start: var(--pagedsettings_separator);
			content: "";
			flex: 1 1 0;
			margin-inline-start: 4px;
		}
	}
}

#Header {
	// For some reason, gamerecordingsettings also has the exact same class
	&:not(.DialogHeader) {
		color: inherit;
		font: inherit;
	}

	#BackgroundSetting & {
		letter-spacing: 0;
		margin-block-end: 4px;
		text-transform: unset;
	}
}

#HeaderContent {
	margin: 0;
}

#LinkContainer {
	display: none;
}

#ModeDescriptionText {
	padding: 0;
}

#Pip {
	@include controls.input-base("radio", "#ActivePip", "");

	background-color: transparent;
	border: none;
	height: var(--size);
	margin: 0;
	width: var(--size);

	#RecordingModeOption:hover & {
		--state: 1;
	}

	#RecordingModeOption:active & {
		--state: 2;
	}
}

#RecordingMode {
	gap: 6px;
}

#RecordingModeOption {
	background-color: transparent;
	border: none;
	box-shadow: none;
	gap: 4px;
	padding: 0;
}

#TrashButton {
	@include style.icon("delete", "svg");
}
