#CheckboxColumn {
	color: inherit;
	font-size: var(--font-size);

	align-items: start;
}

#CheckboxHeaders {
	padding: 0;

	position: unset;

	#NotifyViaHeader {
		opacity: 0.5;
		font-size: var(--font-size);
		font-style: normal;
	}
}

#NotificationDescription {
	color: inherit;
	font: inherit;
	margin: 0;
}

#NotificationGroup {
	background-color: transparent;
	border: none;
}

#NotificationPrefDetails {
	background-color: transparent;
	box-shadow: none;
	padding-top: 0;
	padding-left: 20px;
}

#NotificationSection {
	font: inherit;
}

#NotificationSectionHeader {
	position: relative;

	#Toggles {
		gap: 0;
		margin: 0;

		position: absolute;
		// 6px = settings.header padding
		inset: 6px;
		inset-inline-start: unset;
	}
}

#PrefDetailsToggle {
	svg {
		height: unset;
	}
}

#Sound {
	text-align: end;
}

#Toggles {
	color: inherit;
	font: inherit;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: unset;
	gap: 105px;
	padding: 0;
	margin-inline-end: 6px;
}
