#Container {
	--icon: var(--icon-minus);
	--icon-size: 5px 2px;

	background-image: linear-gradient(
		135deg,
		transparent,
		var(--collapseicon_bg)
	);
	border: 1px solid;
	border-left-color: var(--collapseicon_border-1);
	border-top-color: var(--collapseicon_border-1);
	border-right-color: var(--collapseicon_border-2);
	border-bottom-color: var(--collapseicon_border-2);
	border-radius: var(--border-radius);
	padding: 0;

	position: relative;
	width: var(--collapseicon_size);
	height: var(--collapseicon_size);

	&::before {
		content: "";

		position: absolute;
		inset: 0;

		background-color: var(--collapseicon_border-2);
		mask-image: var(--icon);
		mask-repeat: no-repeat;
		mask-position: 2px;
		mask-size: var(--icon-size);
	}

	&:active {
		transform: rotate(180deg);
	}

	&#Collapsed {
		--icon: var(--icon-plus);
		--icon-size: 5px;
	}

	svg {
		display: none;
	}
}
