@use "shared/extends/library";
@use "shared/extends/style";

#AdvancedSearchButton {
	@include library.button;

	padding: 2px 3px;

	min-width: unset;

	& > div {
		--icon: var(--icon-settings);

		@include style.icon;
	}

	svg {
		display: none;
	}
}

#AdvancedSearchContainer {
	background-color: transparent;
	border-radius: 0;

	height: unset;
}

#Container {
	background-color: transparent;
	gap: 3px;
	margin: 3px 4px 5px 3px;

	// for part
	order: -1;
	z-index: 1;

	.DialogInput {
		--spacing-x: 5px;

		background-image: var(--icon-search);
		background-position: calc(100% - var(--spacing-x));
		font-size: 11px;
		padding-right: calc(var(--icon-size) + var(--spacing-x) * 2);

		height: unset;
	}
}

#SearchInput {
	border-radius: 0;

	min-height: unset;
}
