@use "shared/extends/style";

#Bar {
	@include style.blue-bar;
	--wg-opacity-1: 0.375;
	--wg-opacity-2: 0.125;

	color: var(--blue-text);
	font-weight: bold;
	letter-spacing: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;

	&#Selected {
		--blue-dark: #66c8ff;
		--blue-light: #a0d5f2;
	}
}

#CollectionButton {
	&::before {
		content: var(--GameList_View_Collections);
	}
}

#CollectionIcon,
#Icon {
	display: none;
}

#Label {
	color: inherit;
	font-weight: inherit;
	margin: 0;
}
