:root {
	--gamelistentry_active-bg: #8dd6ff;
}

#Container {
	background-color: transparent;
	color: var(--fg-main);
	font-size: var(--font-size);
	border: none;
	box-shadow: none;

	&:is(:hover, #HasContextMenuOpen) {
		background-color: color-mix(
			in srgb,
			var(--gamelistentry_active-bg) 50%,
			transparent
		);
	}

	&#Selected {
		background-color: var(--gamelistentry_active-bg);
	}

	* {
		background-color: transparent;
	}
}

#FriendIsPlaying {
	--offset: 4px;

	background-image: var(--icon-users);

	top: var(--offset);
	left: var(--offset);
	width: var(--icon-size);
	height: var(--icon-size);

	svg {
		display: none;
	}
}

#GameListEntryContainer {
	padding: 3px 6px 3px 38px;

	align-items: center;
}
