#Container {
	background-color: transparent !important;
	background-image: linear-gradient(
		0deg,
		#728fb7 88.41%,
		#c9d3e1 102.3%
	) !important;

	& > .part {
		order: -1;
	}
}

#GameListHomeAndSearch {
	--border-size: 1px;

	background-color: transparent !important;
	box-shadow: none !important;
	padding: 0 !important;
	gap: var(--border-size) !important;
	margin-top: var(--border-size) !important;

	flex-direction: column !important;
	height: unset !important;
	order: 1 !important;
}
