@use "shared/extends/style";

#Bar {
	@include style.blue-bar;
	--wg-opacity-1: 0.375;
	--wg-opacity-2: 0.125;

	color: var(--blue-text) !important;
	font-weight: bold !important;
	letter-spacing: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;

	&#Selected {
		--blue-dark: #66c8ff;
		--blue-light: #a0d5f2;
	}
}

#CollectionButton {
	&::before {
		content: var(--GameList_View_Collections);
	}
}

#CollectionIcon,
#Icon {
	display: none !important;
}

#Label {
	color: inherit !important;
	font-weight: inherit !important;
	margin: 0 !important;
}
