#Container {
	color: var(--fg-main);
	font-size: var(--font-size);
	border: none;

	&:is(:hover, #Selected) {
		background-color: #8dd6ff;
		box-shadow: none;
	}
}

#FriendIsPlaying {
	--offset: 4px;

	background-image: var(--icon-users);

	top: var(--offset);
	left: var(--offset);
	width: var(--icon-size);
	height: var(--icon-size);

	svg {
		display: none;
	}
}

#GameListEntryContainer {
	background-color: transparent;
	padding: 3px 6px 3px 38px;

	align-items: center;
}
