@use "mixins/tab";

#DragArea {
	display: none;
}

#FocusBar {
	display: none;
}

#OuterFrame {
	gap: var(--steamdesktop_spacing);
	margin: var(--steamdesktop_border-size);
	height: var(--steamdesktop_window-size);
	width: var(--steamdesktop_window-size);

	& > .part {
		order: -1;
	}
}

#RootMenuBar {
	display: none;
	gap: 0;
	margin: 0;
	padding: 0;
}

#SuperNavBar {
	height: unset;
	min-height: unset;
	overflow: hidden;
	padding: 0;
}

#TitleBar {
	height: unset;
	width: unset;
}

#TopBar {
	app-region: var(--steamdesktop_top-bar-drag);
	background-color: transparent;
	box-shadow: none;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-block-end: calc(var(--steamdesktop_spacing) * -1);
	order: -1;
}

#URLBarReplacement {
	display: none;
}

#WindowControls {
	flex: unset;

	.title-area {
		position: unset;
	}
}

#Wrapper {
	background-image: var(--steamdesktop_window-gradient);
	border: none;
}

html:not([data-aerothemesteam-plugin-loaded]) {
	#DragArea,
	#RootMenuBar {
		display: flex;
	}

	#TopBar {
		@include tab.container;

		flex-direction: column;
		margin-block-end: calc(
			var(--steamdesktop_spacing) * -1 + var(--steamdesktop_border-size)
		);
	}
}
