@use "mixins/style";
@use "mixins/tab";

#Arrow {
	@include style.icon("nav-forward", "path");

	margin: 0 var(--supernav--icon-spacing);

	&#Disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

#MenuButton {
	color: inherit;
	padding: var(--desktoptab--item-spacing-block)
		var(--desktoptab--item-spacing-inline);
	text-shadow: none;

	&::after {
		display: none;
	}
}

#SuperNav {
	& > .part {
		app-region: no-drag;
		margin: 0 var(--supernav--icon-spacing);
		order: -1;
	}
}

// !important for #menu_MenuOpen
#SuperNav #SuperNavMenu {
	@include tab.item($selected: "&#Selected");

	color: var(--steamdesktop--top-bar-text-color);
	font-size: var(--text--font-size-md);
	padding: 0;
	text-transform: unset;

	&#Selected {
		color: var(--blue-text);
	}
}
