@use "shared/extends/controls";

#Toggle {
	@include controls.input-base("checkbox", "#On");

	border-radius: 0;
	box-shadow: none;
	height: var(--size);
	margin: 0;
	position: unset;
	width: var(--size);
}

#ToggleRail,
#ToggleSwitch {
	display: none;
}
