@use "mixins/controls";

#Group {
	background-color: transparent;
	box-shadow: none;
	color: inherit;
	flex-direction: column;
	gap: 6px;
	padding: 0;
}

#Button {
	@include controls.input-base("radio", "#Active");

	align-items: start;
	background-color: transparent;
	background-repeat: no-repeat;
	color: inherit;
	flex-direction: row;
	font-size: var(--font-size);
	gap: 4px;
	justify-content: start;
	line-height: 1;
	margin: 0;
	padding: 0;
	// TODO: what lol
	padding-block-end: 1px;
	padding-inline-start: calc(var(--size) + 4px);
	text-shadow: none;

	&::before {
		display: none;
	}
}
