@use "mixins/controls";
@use "mixins/list";

#Footer {
	gap: 8px;
	padding-block-start: 8px;
}

#GameList {
	@include controls.table;

	border-block-start: none;
	border-radius: 0;
	box-shadow: none;
}

#GameRow {
	@include list.item;

	padding: 0;

	#AppName {
		color: inherit;
		font: inherit;
		padding-inline-start: 6px;
	}

	#ExePath {
		color: inherit;
		font: inherit;
		opacity: 1;
		padding-inline-start: 12px;
	}
}

#Header {
	@include controls.table;

	border-block-end: none;

	& > div {
		@include controls.table-header-row;

		text-transform: none;
	}
}
