@use "mixins/library";

#GameName {
	@include library.header-primary;

	order: -1;
}

#Launching {
	@include library.header-secondary;
}

#Layout {
	gap: var(--library--spacing);
	margin: auto;
}

#OpenSteamButton {
	margin-block-start: var(--library--spacing);
}

#RightColumn {
	padding: 0;
}

#StatusWrapper {
	margin-block-start: var(--library--spacing);
}
