@use "shared/extends/controls";
@use "shared/extends/list";
@use "shared/extends/style";

#AddFavoriteButton {
	margin: 0 8px 0 0;

	&::after {
		content: "";

		@include style.icon("plus");
	}
}

#BottomControlsRow {
	gap: 4px;
	height: unset;
	inset-inline: 0;
	inset-block-end: 0;
	position: absolute;
}

#ColumnResizer {
	background-color: transparent;
	margin-inline-end: -3px;
}

#DialogBody {
	position: relative;
}

#DropdownLabel {
	font-size: inherit;
}

#FilterOptionsCtr {
	padding-block-end: 0;

	&:not(#Collapsed) {
		height: unset;
	}
}

#FilterOptionsCheckboxesCtr {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-block-end: 8px;
}

#RadioButtonColumn {
	display: none;
}

#SearchButton {
	justify-content: center;

	&::after {
		content: "";

		@include style.icon("search");
	}
}

// !important
div#PasswordColumn,
div#SecureColumn {
	height: unset;
	padding-inline: 0;

	// !important
	#DialogBody & svg:not(.SVGIcon_Button) {
		display: unset;
		height: var(--icon-size);
		margin: 0;
		width: var(--icon-size);
	}
}

#SelectColumnsButton {
	@include controls.table-header-row;
}

#ServerBrowserDialog {
	.DialogCheckbox_Container {
		padding: 0;
	}

	.DialogFooter {
		padding: 0;
	}

	.DialogDropDown,
	.DialogInput_Wrapper {
		margin-block-end: 8px;
	}

	svg:not(.SVGIcon_Button) {
		display: none;
	}

	#SwitchTabButton {
		@include controls.tab;

		min-width: unset;

		&#Selected {
			@include controls.tab-selected;
		}
	}
}

#ServerList {
	@include controls.table;

	box-shadow: none;
	margin: 0;

	[role="rowgroup"] {
		padding: var(--contextmenu_container-spacing);

		overflow: auto;
	}
}

#ServerListHeaderCell {
	@include controls.table-header-row;
}

#ServerListHeaderCtr {
	background-color: transparent;
	padding: 0;
}

#ServerListHeaderRow {
	gap: 0;
}

#ServerListHeaderSort {
	color: inherit;
	font: inherit;
	text-transform: unset;
}

#ServerRow {
	@include list.item;

	gap: 0;
	padding: 0;
	position: absolute;

	&:hover,
	&#SelectedRow {
		@include list.item-active;
	}
}

#ServerTabPane {
	@include controls.tab-panel;

	margin-block-end: calc(21px + 8px);
}

#TopControlsCtr {
	@include controls.tabs;

	gap: 0;

	.DialogDropDown {
		margin: 0;
	}
}
