@use "shared/extends/contextmenu";
@use "shared/extends/list";

.group_invite_menu_option_disabled {
	@include list.item-disabled;
}

.popup_block_new {
	box-shadow: none;
}

.popup_menu:not(.popup_menu_browse) {
	@include contextmenu.container;
	@include contextmenu.container-left-border;

	& & {
		@include contextmenu.container-child("9px");
	}

	.popup_menu_item {
		@include contextmenu.item;

		line-height: inherit;

		&:not([style="display: none;"]) {
			display: block;
		}

		#profile_action_dropdown & img {
			@include contextmenu.icon-pos;
		}
	}
}

.shadow_ul,
.shadow_top,
.shadow_ur,
.shadow_left,
.shadow_right,
.shadow_bl,
.shadow_bottom,
.shadow_br {
	display: none;
}
