@use "mixins/contextmenu";
@use "mixins/list";

%alias-entry {
	@include contextmenu.item;
	@include list.item-disabled;
}

#NamePopup {
	font-weight: normal;

	& > .popup_menu > :first-child {
		@extend %alias-entry;
	}
}

#NamePopupAliases {
	padding: 0;

	p {
		@extend %alias-entry;

		margin: 0;
	}
}

#NamePopupClearAliases {
	@include contextmenu.item;

	float: unset;

	a {
		color: inherit;
	}
}
