@use "shared/extends/controls";

#AppNameHeader {
	color: var(--blue-text);
	font-size: var(--font-size-xlarge);
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(90deg, var(--blue-border), transparent) 1;
	margin: 0;
	margin-block-end: 12px;

	html[browsertype="DirectHWND"] & {
		display: none;
	}
}

#ButtonContainer {
	gap: 14px;
	margin-inline: auto 0;

	#CancelButton,
	#PlayButton {
		@include controls.button;

		margin: 0;
	}
}

#ListContainer {
	all: unset;

	gap: 4px;
	padding: 4px;

	display: flex;
	flex-direction: column;
}

#ListHeader {
	letter-spacing: 0;
}

#ListItem {
	all: unset;

	label {
		padding-inline-start: 4px;
	}
}

#OptionList {
	padding: 0;
}
