@use "shared/extends/controls";
@use "shared/extends/dialog";

#AvatarAndName {
	color: inherit;
	font-weight: bold;
	gap: 4px;
}

#ColumnResizer {
	background-color: transparent;
	border-color: transparent;
}

// TODO: !important in ~/clientshared/dialog
.ModalPosition_Content > #PlayersDialog {
	@include dialog.shared;

	// TODO
	font-size: var(--font-size);

	// TODO: that's actually the above one
	background: #f0f0f0;
	color: #000;
	padding: 7px 8px 8px 6px;
}

#PlayersList {
	@include controls.table;

	box-shadow: none;
	margin: 0;
}

#PlayersListBody {
	background-color: transparent;
	padding: 0;

	[role="cell"] {
		padding: 0 6px;
	}
}

#PlayersListHeaderCell {
	@include controls.table-header-row;
}

#PlayersListHeaderColumn {
	padding: 0;

	& > :empty::before {
		content: ".";

		color: transparent;
	}
}

#PlayersListHeaderCtr {
	padding: 0;
}

#PlayersListWrapper {
	font: inherit;
}

#StatusText {
	color: inherit;
}
