@use "shared/extends/controls";
@use "shared/extends/dialog";

:where(#ButtonBox) {
	&:where(#Combobox) {
		@extend %textfield-base;
	}

	// TODO: for now
	svg {
		color: inherit;
	}
}

#DesktopBottomGlass {
	display: none;
}

#SpoilerField,
#VisibilityField {
	justify-content: space-between;
	width: 100%;

	#Label {
		color: inherit;
		font: inherit;

		// Prefer text over icons
		&#Narrow {
			display: none;
		}

		&#Wide {
			display: block;
		}
	}
}

#StickyHeader {
	@include dialog.overlay;

	border: none;
	box-shadow: none;
}

#Text {
	color: inherit;
}

#TopList {
	padding: 0;
}

#TopListButtonRow {
	margin: 0;
}
