@use "shared/extends/settings";

#SettingsDialogBodyFade {
	mask: none;

	overflow: auto;
}

#SettingsDialogBodyText {
	@include settings.header;
}

#SettingsDialogDescriptionText {
	color: inherit;
	font: inherit;
}
