@use "shared/extends/style";
@use "shared/extends/library";

:root {
	--library_body-spacing: 16px;
	--library_border-color: #aeb8c6;
	--library_border-size: 1px;
	--library_border: var(--library_border-size) solid var(--library_border-color);
	--library_container-border: var(--library_border-size) solid #39577c;
	--library_game-stat-spacing: 7px;
	--library_green: #d1e1b9;
	--library_green-dark: color-mix(in srgb, var(--library_green) 75%, black);
	--library_header-img-height: 163px;
	--library_header-img-mask: radial-gradient(
		55.62% 83.6% at 35.73% 0%,
		var(--bg-main) 0%,
		transparent 100%
	);
	--library_icon-size: 32px;
	--library_secondary-text-opacity: 0.5;
	--library_section-header-spacing-y: 2.5px;
	--library_section-header-spacing-x: 6px;
	--library_spacing: 12px;
	--library_spacing-x05: calc(var(--library_spacing) / 2);
	--library_text-spacing: 4px;
}

#AppDetailsMain {
	border: var(--library_container-border);
}

#Container {
	.DialogButton {
		@include library.button;

		box-shadow: none;

		&:is(:disabled, .Disabled) {
			@include library.button-disabled;
		}
	}

	.DialogDropDown {
		@include library.text-input;

		align-items: center;
	}

	.DialogDropDown_Arrow {
		background: none;
		border: none;
		box-shadow: none;
		margin-left: 6px;

		width: 7px;
		height: 4px;

		// TODO: wtf
		svg {
			position: relative;
			top: -9px;
		}
	}

	.DialogDropDown_CurrentDisplay {
		line-height: 1;
		padding: 0;
	}

	.DialogInput {
		@include library.text-input($compact: true);
	}
}

#LeftListSizableContainer {
	border: var(--library_container-border);
}

#LibraryWindowDivider {
	background-color: transparent;

	min-width: 4px;
}
