@use "shared/extends/style";
@use "shared/extends/library";

#AppDetailsMain {
	border: var(--library_container-border);
}

#Container {
	.DialogButton {
		@include library.button;

		box-shadow: none;

		&:is(:disabled, .Disabled) {
			@include library.button-disabled;
		}
	}

	.DialogDropDown {
		@include library.text-input;

		align-items: center;
	}

	.DialogDropDown_Arrow {
		background: none;
		border: none;
		box-shadow: none;
		margin-left: 6px;

		width: 7px;
		height: 4px;

		// TODO: wtf
		svg {
			position: relative;
			top: -9px;
		}
	}

	.DialogDropDown_CurrentDisplay {
		line-height: 1;
		padding: 0;
	}

	.DialogInput {
		@include library.text-input($compact: true);
	}
}

#LeftListSizableContainer {
	border: var(--library_container-border);
}

#LibraryWindowDivider {
	background-color: transparent;

	min-width: 4px;
}
