:root {
	--library_body-spacing: 16px;
	--library_border-color: #aeb8c6;
	--library_border-size: 1px;
	--library_border: var(--library_border-size) solid var(--library_border-color);
	--library_container-border: var(--library_border-size) solid #39577c;
	--library_game-stat-spacing: 7px;
	--library_header-img-height: 163px;
	--library_header-img-mask: radial-gradient(
		55.62% 83.6% at 35.73% 0%,
		var(--bg-main) 0%,
		transparent 100%
	);
	--library_icon-size: 32px;
	--library_secondary-text-opacity: 0.5;
	--library_section-header-spacing-y: 2.5px;
	--library_section-header-spacing-x: 6px;
	--library_spacing: 12px;
	--library_spacing-x05: calc(var(--library_spacing) / 2);
	--library_text-spacing: 4px;
}

#AppDetailsMain {
	border: var(--library_container-border) !important;
}

#LeftListSizableContainer {
	border: var(--library_container-border) !important;
}

#LibraryWindowDivider {
	background-color: transparent !important;

	min-width: 4px !important;
}
