#AchievementIconWrapper {
	height: var(--achievementiconbase--size);
	width: var(--achievementiconbase--size);
}

#HiddenLabel {
	align-items: center;
	background: var(--library--header-img-mask);
	background-color: var(--blue-dark);
	box-shadow: var(--achievementiconbase--border);
	color: inherit;
	display: flex;
	font-size: 18px;
	height: var(--achievementiconbase--size);
	justify-content: center;
	width: var(--achievementiconbase--size);
}

#Icon {
	box-shadow: none;
}

#RareAchievementIconGlowContainerRoot {
	display: none;
}
