#AchievementIconWrapper {
	--icon-size: 32px;

	width: var(--icon-size) !important;
	height: var(--icon-size) !important;
}

#Icon {
	box-shadow: none !important;
}

#RareAchievementIconGlowContainerRoot {
	display: none !important;
}
