#AchievementIconWrapper {
	width: var(--library_icon-size) !important;
	height: var(--library_icon-size) !important;
}

#Icon {
	box-shadow: none !important;
}

#RareAchievementIconGlowContainerRoot {
	display: none !important;
}
