@use "mixins/library";
@use "mixins/pageablecontainer";

#HeaderPageControls {
	@include library.section-header;

	align-items: center;
	padding: 0;
}

#Name {
	font: inherit;
	margin: var(--library_section-header-spacing-y)
		var(--library_section-header-spacing-x);
}

#PageClickContainer {
	@include pageablecontainer.buttons-container;
}

#PageableCloseButton {
	@include pageablecontainer.button("delete");
}

#PageLeft {
	@include pageablecontainer.button("nav-back");
}

#PageRight {
	@include pageablecontainer.button("nav-forward");
}
