#avatar {
	border: none;
	box-shadow: none;
	height: inherit;
	width: inherit;
}

#avatarHolder {
	height: calc(var(--steamavatar_size) * var(--multiply));
	position: relative;
	transform: unset;
	width: calc(var(--steamavatar_size) * var(--multiply));

	&.X-Small {
		--multiply: 0.75;
	}

	&.Small {
		--multiply: 1;
	}

	&.Medium {
		// same size in steam css
		--multiply: 1;
	}

	&.Large {
		--multiply: 1.5;
	}

	&.X-Large {
		--multiply: 2;
	}
}
