@use "shared/extends/library";

%button {
	@include library.button;

	margin-left: var(--library_spacing-x05);
	margin-right: 0;
}

#CompactThumbButton {
	@extend %button;
}

#LeftContainer {
	color: var(--blue-text);
}

#Playtime {
	@include library.header-primary;

	margin-bottom: var(--library_text-spacing);
}

#RatingContainer {
	@include library.spotlight;
}

#RecommendGame {
	@include library.header-secondary;
}

#ReviewThumbButton {
	@extend %button;

	span {
		all: unset;
	}
}

#ThumbIcon {
	display: none;
}
