@use "shared/extends/library";

#AchievementRemainder {
	display: none;
}

#ActiveScreenshot {
	margin: 0;
}

#ActivityAchievementUnlocked {
	background: var(--library_green-dark);
	border: var(--library_border-size) solid var(--library_green-dark);
	gap: calc(var(--library_spacing) + var(--library_border-size));
	// copied, since the inline one doesn't work
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	padding: 0;
	padding-block-start: var(--library_spacing);
	padding-inline-start: var(--library_spacing);

	&:has(> :only-child) {
		grid-template-columns: 1fr;
	}
}

#ActivityPublishedStatus {
	color: inherit;
	font: inherit;
}

#ActivityRecommendedGame {
	padding: 0;
}

#AppActivityDate {
	@include library.activity-section_header;

	letter-spacing: 0;
	margin-block-end: var(--library_spacing-x05);
	text-transform: unset;

	// ty valve, fucking amazing
	& + div:not([class]) {
		display: flex;
		flex-direction: column;
		gap: var(--library_spacing);
	}
}

#AppActivityDay {
	border: none;
	margin-block-end: calc(var(--library_spacing) * 2);
	padding: 0;
}

#Blur,
#ImageContainer,
#MediumImageContainer,
#PartnerEventTextOnly_Icon {
	display: none;
}

#CaptionQuoteContainer {
	gap: var(--library_spacing-x05);
}

#CarouselThumb {
	border-radius: var(--border-radius-large);
	margin-block-end: var(--library_spacing-x05);

	&#Active {
		border: none;
	}
}

#CarouselThumbs {
	margin: 0;
	margin-inline-start: var(--library_spacing-x05);
}

#DayPosted {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#Event {
	background: none;
	border: none;
	box-shadow: none;
	font-size: var(--font-size);
	margin-block-start: 0;
}

#EventActorAvatar {
	height: unset;
}

#EventBody {
	background: none;
	border: none;
	box-shadow: none;
	margin-block-start: var(--library_spacing);

	&#UserStatus {
		margin-block-start: 0;
		padding: var(--library_spacing);
	}
}

#EventHeadline {
	color: inherit;
	font: inherit;
	padding-block: var(--library_spacing-x05);
}

#ImageWrapper {
	border-radius: var(--border-radius-large);
}

#LeftSideMajorUpdateBar {
	display: none;
}

#PartnerEventFeatured {
	margin: calc(var(--library_spacing) * -1);
}

#PartnerEventFeaturedHeader {
	@include library.section-header;

	line-height: unset;
	letter-spacing: 0;
	margin-inline: calc(var(--library_border-size) * -1);
	text-transform: unset;
}

#PartnerEventTextOnly,
#PartnerEventLargeImage,
#PartnerEventMediumImage {
	&_Container {
		background: none;
	}

	&_Summary {
		color: inherit;
		font-size: inherit;
		opacity: var(--library_secondary-text-opacity);
		order: 1;
		text-shadow: none;
	}

	&_TextColumn {
		display: flex;
		flex-direction: column;
		text-shadow: none;
		margin: 0;
		padding: 0;
	}

	&_Title {
		@include library.header-primary;

		text-shadow: none;
	}
}

#PartnerEventType {
	@include library.header-secondary;

	margin-block-start: 10px;
	order: 1;
	text-shadow: none;
	text-transform: unset;
}

// TODO: !important
#PrimaryAchievement#PrimaryAchievement,
#ActivityAchievementUnlocked > :last-child {
	// fucking hell, valve
	--tooltip_description-spacing: 9px 0 9px;
	border: none;
	width: calc(100% + var(--library_spacing));
}

#Rule {
	@include library.activity-section_rule;

	margin-block-start: 3px;
	margin-inline-start: var(--library_text-spacing);
}

#ScreenshotCaption#HasCaption {
	border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
	font-size: var(--font-size);
	margin-inline-end: 0;
	margin-block-end: calc(1lh + var(--library_text-spacing));
	max-width: unset;
	padding-block: calc(var(--library_spacing-x05) / 2);
	padding-inline: var(--library_spacing);
}

#TimeStamp {
	@include library.description;

	margin-inline: 0;
}

/*#region Pasted from appdetailsreviewsection */
#PlayedForTime {
	@include library.description;

	font-weight: normal;
	padding: 0;
}

#ReviewDescriptionRecommended {
	@include library.header;

	padding: 0;
}

#ReviewIcon {
	--size: calc(var(--library_icon-size) * 1.5);

	border-radius: var(--border-radius);
	height: var(--size);
	margin-inline-end: var(--library_spacing);
	width: var(--size);
}

#ReviewText {
	color: inherit;
	font-size: var(--font-size);
}
/*#endregion*/
