@use "shared/extends/library";
@use "shared/extends/style";

#ButtonChild {
	@include library.button;

	padding-inline: 8px;
}

#ButtonText {
	all: unset;
}

#PlayButton {
	#ShowingStreaming & {
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}

	svg {
		@include style.icon;

		margin-inline-end: 6px;

		// TODO: refactor - move these somewhere one day
		&.SVGIcon_Download {
			--icon: var(--icon-download);
		}

		&.SVGIcon_Play {
			--icon: var(--icon-play);
		}

		&.SVGIcon_Pause,
		&.SVGIcon_X_Line {
			--icon: var(--icon-cancel);
		}

		&:not(.SVGIcon_Button) {
			--icon: var(--icon-update);
		}
	}
}

#PlayButtonContainer {
	display: inline-flex;
	height: unset;
	min-width: unset;

	svg * {
		display: none;
	}
}

#StreamingSelector {
	--size: 23px;

	border-start-start-radius: 0;
	border-end-start-radius: 0;
	height: var(--size);
	margin-inline-start: 2px;
	width: var(--size);

	svg {
		@include style.arrow("bottom");

		background-color: var(--blue-text);
		transform: unset;
	}
}
