@use "mixins/library";

#SectionHeader {
	@include library.section-header;

	letter-spacing: unset;
	text-transform: unset;
	width: 100%;
}

#Label {
	flex-grow: 1;
	justify-content: space-between;
}
