@use "mixins/library";

#AppDetailsSection {
	color: var(--blue-text);
	margin-block-end: var(--library_spacing);
}

#AppDetailsSectionContainer {
	box-shadow: none;
	margin: 0;
}

:where(#Body) {
	@include library.section;

	padding: var(--library_spacing);
}

#ButtonContainer {
	gap: var(--library_spacing-x05);
}

#Highlight {
	background: none #cedef2;
	border: var(--library_border);
	border-block-start: none;
	border-radius: 0;
	box-shadow: none;
	color: var(--library_button-text);
	font-size: var(--font-size);
	margin: 0;
	padding: var(--library_spacing);
}
