#Backdrop {
	display: none;
}

#ColumnContainer {
	padding: var(--library_body-spacing);
	padding-block-start: 0;
}

#LeftColumn {
	// shit layout
	width: calc(67% - var(--library_spacing));
}

#RightColumn {
	margin-inline-start: var(--library_spacing);
}

#Spotlights {
	padding: 0;

	& > :last-child {
		margin-block-end: var(--library_spacing);
	}
}
