@use "shared/extends/library";

#SectionHeader {
	@include library.section-header;

	letter-spacing: unset;
	text-transform: unset;

	width: 100%;
}

#Label {
	justify-content: space-between;
	flex-grow: 1;
}
