@use "shared/extends/library";
@use "shared/extends/style";

#Controls {
	margin-block-start: var(--library_spacing-x05);
	margin-block-end: var(--library_spacing);
	max-height: unset;
	padding: 0;
}

#EmoticonButton {
	background-color: transparent;
	gap: var(--library_spacing-x05);
	height: unset;
	width: unset;

	&:disabled {
		opacity: 0.75;
	}

	& > div {
		display: none;
	}

	&::before {
		content: "";

		@include style.icon("smiley");
	}

	&::after {
		@include style.arrow("bottom");

		background-color: var(--blue-text);
		content: "";
	}
}

#Label {
	color: inherit;
}

#PostButton {
	@include library.button;

	align-items: center;
	display: flex;
	gap: var(--library_spacing-x05);
	width: unset;

	&::before {
		@include style.icon("blue-arrow");

		content: "";
	}
}

#PostTextEntryArea {
	@include library.text-input;

	min-height: 40px;
	width: 100%;
}
