@use "mixins/style";

#BoxSizer {
	inset: 0;
}

#BoxSizerContainer {
	inset: var(--library_body-spacing);
}

#ImgBlur {
	display: none;
}

#ImgContainer {
	justify-content: start;
}

#ImgSrc {
	height: var(--library_header-img-height);
	mask: var(--library_header-img-mask);
	width: 80%;
}

#SVGTitle {
	display: none;
}

#TextNameSpace {
	align-self: flex-start;

	&::before {
		color: var(--blue-text);
		content: var(--library_game-name);
		font-size: var(--font-size-xlarge);
		font-weight: bold;
	}
}

#TitleImageContainer {
	display: none;
}

#TitleSection {
	inset-block-start: 0;
	padding: var(--library_body-spacing);

	&::before {
		background-image: var(--library_game-icon);
		background-size: 100%;
		content: "";
		height: var(--library_icon-size);
		margin-inline-end: var(--library_spacing);
		width: var(--library_icon-size);
	}
}

#TopCapsule {
	height: var(--library_header-img-height);

	&#FallbackArt::before {
		background-color: var(--blue-light);
		content: "";
		height: 100%;
		mask: var(--library_header-img-mask);
		position: absolute;
		width: 100%;
	}
}
