@use "../../../shared/extends/library";

#EventDaySeparator {
	background-color: var(--library_border-color) !important;
	margin: 0 !important;

	width: var(--library_border-size) !important;
}

#EventHeaderBlock {
	@extend %library_header;

	margin-bottom: var(--library_text-spacing) !important;

	height: unset !important;

	&:empty::before {
		content: "";
	}
}

#GamePlaySummaryContainer {
	margin-bottom: var(--library_spacing) !important;
}

#GamePlaySummaryHeader {
	all: unset !important;
}

#SummaryCarouselContainer {
	padding: 0 !important;

	height: unset !important;

	&::after {
		display: none !important;
	}
}

#SummaryContainer {
	margin: var(--library_spacing) !important;

	height: unset !important;
}

#TypeSeparator {
	display: none !important;
}
