@use "mixins/library";

#EventDaySeparator {
	background-color: var(--library--border-color);
	margin: 0;
	width: var(--library--border-size);
}

#EventHeaderBlock {
	@include library.header;

	height: 1lh;
	margin-block-end: var(--library--text-spacing);
}

#ForcedCarouselPadding {
	display: none;
}

#GamePlaySummaryContainer {
	margin-block-end: var(--library--spacing);

	&:not(:first-child) {
		margin-block-start: var(--library--spacing);
	}
}

#GamePlaySummaryHeader {
	color: inherit;
	font: inherit;
	letter-spacing: 0;
	margin: var(--library--section-header-spacing-y)
		var(--library--section-header-spacing-x);
	text-transform: none;
}

#SummaryCarouselContainer {
	height: unset;
	padding: 0;

	&::after {
		display: none;
	}
}

#SummaryAchievementStack {
	margin-block: var(--library--spacing) 0;
}

#SummaryContainer {
	height: unset;
	margin: var(--library--spacing);
}

#TypeSeparator {
	display: none;
}
