@use "shared/extends/list";
@use "shared/extends/style";

@mixin container {
	background: var(--contextmenu_container-bg);
	border: 1px solid var(--contextmenu_container-border-outer);
	box-shadow:
		var(--popup-shadow),
		inset 0 0 0 var(--contextmenu_container-spacing)
			var(--contextmenu_container-border-inner);
	padding: var(--contextmenu_container-spacing);
}

@mixin container-child($offset) {
	--offset: #{$offset};

	margin-inline-start: var(--offset);
	margin-block-start: var(--offset);
}

@mixin container-left-border {
	&::before {
		border-inline-start: 1px solid var(--contextmenu_separator-light);
		box-shadow: -1px 0 var(--contextmenu_separator-dark);
		content: "";
		position: absolute;
		inset-block: 0;
		inset-inline-start: var(--contextmenu_left-spacing);
	}
}

/// @param {"checkmark" | "radio"} $what
@mixin icon($what) {
	--offset: -1px;

	@include list.item-active;

	background-image:
		var(--icon-context-menu-#{$what}), var(--listitem_item-gradient);
	background-position: center;
	border-radius: var(--border-radius);
	height: var(--contextmenu_item-height);
	inset-block-start: var(--offset);
	inset-inline-start: var(--offset);
	position: absolute;
	width: var(--contextmenu_item-height);
}

@mixin icon-pos {
	height: var(--icon-size);
	inset-inline-start: 4px;
	position: absolute;
	width: var(--icon-size);
}

@mixin item {
	@include list.item;

	padding: 3px calc(8px * 2 + 4px) 3px
		calc(5px + var(--contextmenu_left-spacing));
	position: relative;
	// #contextmenu_UpperCase
	text-transform: unset;

	&:focus {
		@include list.item-active;
	}
}

@mixin separator {
	--offset: calc(1px + var(--contextmenu_container-spacing));

	border-block-start: 1px solid var(--contextmenu_separator-light);
	box-shadow: 0 -1px var(--contextmenu_separator-dark);
	margin: 5px 0 2px calc(var(--contextmenu_left-spacing) + var(--offset));
}

@mixin submenu-arrow {
	@include style.arrow("right");

	background-color: var(--listitem_fg);
	position: absolute;
	inset-inline-end: 8px;
}
