%text-input {
	background-color: #fff !important;
	color: #000 !important;
	line-height: 18px !important;
	border: 1px solid #5a7eaa !important;
	box-shadow: none !important;
	padding: 3px 6px !important;

	&::placeholder {
		color: #7f7f7f !important;
	}
}

%text-input-compact {
    @extend %text-input;
    padding: 0 6px !important;
}
