@mixin header {
	background-color: #dde7ee;
	color: var(--blue-text);
	font: inherit;
	font-weight: bold;
	border-bottom: var(--pagedsettings_separator);
	padding: 6px;
	margin: 0;
	margin-bottom: var(--tabpanel_spacing);

	width: 100%;
}

@mixin separator {
	border-top: var(--pagedsettings_separator);
	padding-top: 12px;
	margin-top: 10px;
}
