@use "mixins/controls";
@use "mixins/style";

@mixin _details-section {
	align-items: center;
	flex-direction: row;
	gap: var(--library_text-spacing);
	justify-content: start;
	margin: 0;
	padding: 0;

	&::before {
		@include style.icon;

		content: "";
	}
}

#ActionSection {
	margin: 0;
}

#Container:not(#InPage),
#StickyHeaderShadow {
	display: none;
}

#ClickablePlayBarItem {
	@include style.link;

	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#Container {
	inset-block-start: calc(
		var(--library_header-img-height) * -1 + var(--library_body-spacing) * 2 +
			1lh + 9px
	);
	position: absolute;

	svg * {
		display: none;
	}
}

#DetailsProgressContainer {
	display: none;
}

#DetailsSection {
	@include _details-section;

	&#Downloading {
		--icon: icon("download");
	}
}

#DetailsSectionExtra {
	overflow: visible;
}

#GameStat {
	margin: 0;
	padding: 0;
}

#GameStatIcon,
#GameStatIconForced {
	display: none;
}

#GameStatRight {
	@include _details-section;

	#CloudStatusSyncFail & {
		--icon: icon("cancel");
	}

	#LastPlayed & {
		--icon: icon("calendar");
	}

	#SuperimposedGridItems & {
		--icon: icon("checkmark");
	}

	// Duplicate info
	#MiniAchievements & {
		display: none;
	}

	#Playtime & {
		--icon: icon("clock");
	}
}

#GameStatsSection {
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--library_game-stat-spacing);
}

#HideWhenNarrow {
	display: flex;
}

#InnerContainer {
	margin-inline-start: calc(var(--library_icon-size) + var(--library_spacing));
	padding: 0 var(--library_body-spacing);
}

#PlayBar {
	background: none;
	margin: 0;
}

#PlayBarDetailLabel {
	color: var(--fg-main);
	font-size: var(--font-size);
	line-height: 1;
}

// Used in sticky header, no longer useful
#PlayBarIconAndGame {
	display: none;
}

#PlayBarLabel {
	color: var(--blue-text);
	font-size: var(--font-size);
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0;
	text-transform: unset;

	&::after {
		content: ":";
	}

	#Downloading &,
	&:only-child {
		&::after {
			display: none;
		}
	}
}

#RightControls {
	display: none;
}

#StatusAndStats {
	flex-direction: column;
	flex-wrap: unset;
	gap: var(--library_game-stat-spacing);
	margin-inline-start: 14px;
	max-height: unset;
}

#StatusNameContainer {
	height: unset;
}
