@use "mixins/controls";
@use "mixins/library";
@use "mixins/style";

#AchievementProgressContainer {
	@include controls.progress-bar-outer;

	margin-block-start: var(--library_text-spacing);
	margin-block-end: 0;
}

#AchievementProgress {
	@include controls.progress-bar-inner;
}

#Additional {
	margin: 0;

	#Featured + & {
		border-block-end: var(--library_border);
		margin: 0 calc(var(--library_spacing) * -1);
		padding: var(--library_spacing);
	}
}

#AdditionalItem:not(#RemainderContainer) {
	box-shadow: var(--achievementiconbase_border);
	height: unset;
	margin-inline-end: var(--library_spacing-x05);
}

#Desc {
	@include library.description;

	-webkit-line-clamp: 1;
	line-height: unset;

	#RemainderContainer & {
		all: unset;

		@include style.link;
	}
}

#Featured {
	background-color: #d1e1b9;
	border-block-end: var(--library_border);
	margin: calc(var(--library_spacing) * -1);
	margin-block-end: 0;
	padding: 0 var(--library_spacing);
}

#Label {
	color: inherit;
	font-size: var(--font-size-small);
	margin-block-end: var(--library_text-spacing);
	opacity: var(--library_secondary-text-opacity);
}

#Name {
	@include library.header;
}

#Remainder {
	@include library.button;

	align-items: center;
	display: flex;
	height: var(--achievementiconbase_size);
	justify-content: center;
	padding: 0;
	width: var(--achievementiconbase_size);
}

#RemainderContainer {
	border-radius: var(--border-radius);
	height: unset;
}

#RemainderText {
	all: unset;
}

#Ribbon {
	display: none;
}

#UnachievedSection {
	border-block-start: none;
	margin: 0 calc(var(--library_spacing) * -1);
	padding: var(--library_spacing);

	&:only-of-type {
		margin-block-start: calc(var(--library_spacing) * -1);
	}
}

#UnlockedLabel {
	color: inherit;
}

#UnlockedLabelPercent {
	color: inherit;
	opacity: var(--library_secondary-text-opacity);
}
