@use "../../../../shared/extends/library";

#ButtonsGroup {
	flex-wrap: wrap !important;
}

#CommentIcon {
	display: none !important;
}

#CommentsContainer {
	font-size: var(--font-size) !important;
}

#PlayedForTime {
	@extend %library_description;

	font-weight: normal !important;
	padding: 0 !important;
}

#ReviewDescription {
	@extend %library_header;
}

#ReviewIcon {
	margin-right: var(--library_spacing) !important;

	width: var(--library_icon-size) !important;
	height: var(--library_icon-size) !important;
}

#ReviewText {
	color: inherit !important;
	font-size: var(--font-size) !important;
}

#VoteUpDownContainer {
	padding: 0 !important;

	:last-child {
		margin-inline-end: 0 !important;
	}
}
