@use "mixins/library";

#ActivityFeedContainer {
	max-width: unset;
}

#AddToFeed {
	margin-block-end: var(--library--spacing);
}

#EndRule {
	@include library.activity-section_rule;
}

#EndText {
	@include library.activity-section_header;

	padding: 0 var(--text-spacing);
}

#FetchMoreContainer {
	margin-block-start: var(--library--spacing-x05);
	margin-block-end: 0;
}

#NoActivity {
	@include library.placeholder;

	color: inherit;
	font-size: var(--text--font-size-md);
	margin-block-end: 0;
	min-height: unset;
}

#ViewLastNews {
	@include library.button;
}
