@use "mixins/library";

#Badge {
	height: var(--library--icon-size);
	margin: 0;
	margin-inline-end: var(--library--spacing);
	width: var(--library--icon-size);

	&#EmptyCircle {
		@include library.placeholder;
	}
}

#BadgeLevel {
	@include library.description;
}

#BadgeName {
	@include library.header;
}

#CardsLeft {
	display: none;
}
