@use "shared/extends/library";
@use "shared/extends/style";

#ButtonContainer {
	flex-wrap: wrap;
	margin-block-start: calc(var(--library_spacing-x05) * -1);
}

#FeaturedItem {
	align-items: start;
}

#FeaturedItemDesc {
	@include library.description;

	-webkit-line-clamp: 4;
	max-width: unset;
}

#FeaturedItemHeader {
	display: none;
}

#FeaturedItemHideButton {
	width: var(--library_icon-size);
}

#FeaturedItemLink {
	@include style.link;

	font: inherit;
	margin: 0;
	padding: 0;
}

#FeaturedItemName {
	@include library.header;

	margin: 0;
}

#WorkshopContainer {
	background: none;
}
