@use "mixins/library";

#FriendsOverflow {
	width: 100%;
}

#LabelHolder {
	padding-block-start: 0;
}

#ShowMore {
	@include library.button;

	margin-block-start: var(--library_spacing-x05);
}

#Subsection {
	margin-block-end: var(--library_spacing-x05);
	overflow: visible;
	padding-block-end: var(--library_spacing-x05);
	position: relative;

	&:not(:last-of-type)::after {
		border-block-end: var(--library_border) !important;
		content: "";
		inset-block-end: calc(var(--library_border-size) * -1);
		inset-inline: calc(var(--library_spacing-x05) * -1);
		position: absolute;
	}

	&:last-of-type {
		margin: 0;
		padding: 0;
	}
}

#SubsectionHeader {
	color: inherit;
	font-size: var(--font-size);
	padding-block-end: var(--library_text-spacing);
}
