:root[data-millennium-plugin~="core"] {
	--MillenniumText-HeadingLarge: normal 700 26px/1.4 var(--MillenniumText-Font);
	--MillenniumText-HeadingMedium: normal 700 22px/1.4 var(--MillenniumText-Font);
	--MillenniumText-HeadingSmall: normal 700 18px/1.4 var(--MillenniumText-Font);
	--MillenniumText-BodyLarge: normal 400 16px/1.4 var(--MillenniumText-Font);
	--MillenniumText-BodyMedium: normal 400 14px/1.4 var(--MillenniumText-Font);
	--MillenniumText-BodySmall: normal 400 12px/1.4 var(--MillenniumText-Font);

	--MillenniumTextColor-Normal: var(--fg-main);
	--MillenniumTextColor-Muted: color-mix(
		in srgb,
		var(--fg-main) 50%,
		transparent
	);
	// stolen from appdetailsachievementssection, maybe reuse later
	--MillenniumTextColor-Success: hsl(111 40% 50%);
	--MillenniumTextColor-Error: hsl(347 40% 50%);
	--MillenniumTextColor-Warning: hsl(48 40% 50%);

	--MillenniumSpacing-Small: 4px;
	--MillenniumSpacing-Normal: 8px;
	--MillenniumSpacing-Large: 16px;

	--MillenniumControls-BorderRadius: var(--border-radius);
	--MillenniumControls-IconSize: var(--icon-size);
}

.MillenniumButton {
	width: auto;
	flex-grow: 0;

	&:not(.MillenniumIconButton, .MillenniumLogs_LogItemButton) svg {
		display: none;
	}
}

.MillenniumButtonsSection {
	margin-block: 0 var(--pagedsettings_dialog-spacing);
}

.MillenniumPlaceholder_Button svg {
	display: none;
}

.MillenniumPlaceholder_Icon {
	color: inherit;
}

.MillenniumSettings {
	border: none;
}

.MillenniumThemes_ThemeItem {
	--bg-mask: linear-gradient(-135deg, black, transparent);
	--separator-size: 2px;

	text-shadow: 1px 1px color-mix(in srgb, var(--dialog_bg) 50%, transparent);
	padding-inline: 6px;
	margin-block: calc(var(--separator-size) / 4);

	&::before {
		content: "";

		position: absolute;
		inset: 0;
		z-index: -1;

		mask: var(--bg-mask);
		// Received by the plugin
		background-image: var(--img);
		background-size: cover;
	}

	&::after {
		bottom: calc(var(--separator-size) * -1);
		height: var(--separator-size);

		mask: var(--bg-mask);
		// Make the latter 50% transparent for dark themes
		background: linear-gradient(
			var(--dialog_bg),
			color-mix(in srgb, var(--dialog_fg) 50%, transparent)
		);
		box-shadow: inset 0 1px var(--dialog_bg);
	}
}
