@use "shared/extends/list";
@use "shared/extends/settings";

#PageListItem_Icon {
	display: none;
}

#PageListSeparator {
	background-color: var(--pagedsettings_tab-separator);
	box-shadow: 0 -1px var(--pagedsettings_tab-separator2);
	margin: 0 4px;
}

#PagedSettingsDialog {
	background-color: var(--dialog_bg);
	color: var(--dialog_fg);
	gap: var(--pagedsettings_dialog-spacing);
	padding: var(--pagedsettings_dialog-spacing);

	&_PageContent {
		background-color: var(--bg-main);
		border: var(--pagedsettings_border);
		padding: 0;
	}

	&_PageList {
		gap: 2px;
		padding: 0;
	}

	&_PageListColumn {
		background-color: var(--bg-main);
		border: var(--pagedsettings_border);
		padding: 2px;

		min-height: unset;
	}

	&_PageListItem {
		@include list.item;

		padding: 2px 6px;

		&#Active {
			@include list.item-active;
		}
	}

	&_Title {
		display: none;
	}

	.DialogBody {
		color: var(--dialog_fg);
		font-size: var(--font-size);
		font-weight: normal;
		padding: var(--tabpanel_spacing);
		margin: 0;

		overflow: auto;
	}

	.DialogHeader {
		@include settings.header;

		margin: var(--tabpanel_spacing);
		margin-bottom: 0;

		width: calc(100% - var(--tabpanel_spacing) - var(--scrollbar-size));
	}

	.DialogSubHeader,
	.SettingsDialogSubHeader {
		@include settings.header;
	}
}
