#Container {
	color: var(--fg-main) !important;
	font-size: var(--font-size) !important;
	border: none !important;

	&:is(:hover, #Selected) {
		background-color: #8dd6ff !important;
		box-shadow: none !important;
	}
}

#FriendIsPlaying {
	--offset: 4px;

	background-image: var(--icon-users) !important;

	top: var(--offset) !important;
	left: var(--offset) !important;
	width: var(--icon-size) !important;
	height: var(--icon-size) !important;

	svg {
		display: none !important;
	}
}

#GameListEntryContainer {
	padding-left: 38px !important;

	align-items: center !important;
}
