@use "../../shared/extends/controls";
@use "../../shared/extends/style";

#AdvancedSearchButton {
	@extend %button;

	padding: 2px 3px !important;

	min-width: unset !important;

	& > div {
		--icon: var(--icon-settings);

		@extend %icon;
	}

	svg {
		display: none !important;
	}
}

#AdvancedSearchContainer {
	background-color: transparent !important;
	border-radius: 0 !important;

	height: unset !important;
}

#Container {
	background-color: transparent !important;
	gap: 3px !important;
	margin: 3px 4px 5px 3px !important;

	/* for part */
	order: -1 !important;
	z-index: 1 !important;

	.DialogInput {
		--spacing-x: 5px;

		background-image: var(--icon-search) !important;
		background-position: calc(100% - var(--spacing-x)) !important;
		font-size: 11px !important;
		padding-right: calc(var(--icon-size) + var(--spacing-x) * 2) !important;

		height: unset !important;
	}
}

#SearchInput {
	border-radius: 0 !important;

	min-height: unset !important;
}
