@use "mixins/tab";

#ChatTab {
	@include tab.item($selected: "&#Active");

	height: unset;

	&::before,
	&::after {
		inset-block-start: unset;
	}
}

#ChatTabContent_ChatRoom {
	height: unset;
}

#ChatTabContent_ChatRoomName {
	color: inherit;
	font: inherit;
	margin-inline-start: var(--text-spacing);
}

#CloseButton {
	height: var(--icon-size-md);
	width: var(--icon-size-md);
}

.ChatTabs {
	background: none;
	border: none;
	box-shadow: none;
}

.chatTabSetContainer {
	padding-inline-start: var(--desktoptab--inverse-border-size);
}
