@use "shared/extends/library";
@use "shared/extends/style";

#BigPlus {
	transform: none;
	color: inherit;
	margin: 0;

	width: var(--library_icon-size);
	height: var(--library_icon-size);
}

#Collection {
	background-color: var(--blue-text);
	color: var(--bg-main);
	border: 2px solid var(--blue-text);
	border-radius: 0;
	padding: var(--library_spacing);

	flex-direction: column;
	justify-content: end;

	transition: var(--anim-time);

	&:hover {
		--library_secondary-text-opacity: 1;
		filter: contrast(1.25);

		transition: var(--anim-time);
	}
}

#CollectionBG {
	filter: blur(64px);
}

#CollectionLabel {
	color: inherit;
	font-size: var(--font-size-large);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: unset;
	padding: 0;

	position: unset;
	width: 100%;
}

#CollectionLabelCount {
	color: inherit;
	font-size: var(--font-size);
}

#DisplayCaseContainerBounds {
	mask: linear-gradient(
		180deg,
		black 33%,
		rgba(0, 0, 0, 0.1) 58%,
		rgba(0, 0, 0, 0) 100%
	);
}

#DynamicCollection svg {
	background-color: color-mix(
		in srgb,
		var(--blue-text) 50%,
		transparent
	);
	border-radius: 0;

	top: var(--library_spacing);
	right: var(--library_spacing);

	// shadows
	polyline {
		display: none;
	}
}

#ScrollContainer {
	background-color: var(--bg-main);
	background-image: none;
	border: none;
	border-radius: 0;
	padding: var(--library_body-spacing);
}

#Header {
	@include style.section-header;

	justify-content: space-between;
}

#Label {
	all: unset;
}

// overqualify because @extends are at the start for some reason
#NewCollection#NewCollection {
	@include library.placeholder;

	background-color: transparent;
	color: var(--blue-text);

	justify-content: space-around;
}

#Rule {
	display: none;
}
