@use "shared/extends/library";
@use "shared/extends/style";

#CollectionName {
	font-size: inherit;
	letter-spacing: 0;
	text-transform: unset;

	&:not(.DialogInput) {
		font-weight: bold;
	}
}

#Container {
	border: var(--library_container-border);
	border-radius: 0;
	padding: var(--library_body-spacing);
}

// TODO: maybe move somewhere else
#EditButton {
	--icon: var(--icon-edit);

	@include style.icon;

	margin: calc(var(--library_section-header-spacing-y) * -1) 0;

	&#Close,
	.SVGIcon_Button {
		display: none;
	}
}

#Header {
	@include style.section-header;

	text-transform: unset;

	height: unset;

	& > .tool-tip-source {
		order: 1;
	}

	.DialogInput_Wrapper {
		margin: -1px 0;

		width: unset;
	}
}

#OuterContainer {
	background-color: var(--bg-main);
	background-image: none;
}

#Rule {
	display: none;
}

#SectionCount {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	margin-left: var(--library_text-spacing);

	flex-grow: 1;
}
