@use "shared/extends/controls";
@use "shared/extends/dialog";

#EditorInput {
	@extend %textfield-base;
}

#NoteActions {
	margin-top: 8px;

	justify-content: end;
	position: unset;

	.DialogButton {
		opacity: 1;

		height: unset;
	}

	.tool-tip-source .DialogButton {
		width: 32px;
	}
}

#NoteEditorArea {
	@include dialog.shared(".DialogContent:has(&)");

	margin: 0;
}

#Toolbar {
	border-bottom: 1px solid var(--tabpanel_border);
	padding-block: 0 8px;
	margin-bottom: 8px;
}
