@use "mixins/controls";
@use "mixins/tooltip";

#Name {
	margin: 0;
}

#ProgressLabel {
	color: inherit;
	font-size: var(--font-size-small);
	margin-block-end: var(--library_text-spacing);
	opacity: var(--library_secondary-text-opacity);
}

#SingleAchievementProgressBar {
	@include controls.progress-bar-outer;
}

#SingleAchievementProgressContainer {
	margin-block-start: var(--tooltip_description-spacing);
}

#TextSection {
	color: inherit;
	font: inherit;
	padding: 0;
}

#TopSection {
	gap: var(--tooltip_description-spacing);
	margin: var(--tooltip_description-spacing);
}

#TopSectionAchievementIcon {
	--achievementiconbase_size: 64px;

	margin: 0;
}

#Unlocked {
	--tooltip--bottom-bg: rgb(200, 216, 239);

	background: none;
	color: inherit;
	display: flex;
	flex-direction: column;
	font-size: var(--font-size);
	font-weight: bold;
	padding: var(--tooltip_description-spacing);

	&::before {
		@include tooltip.separator;

		content: "";
		padding-block: calc(var(--tooltip_description-spacing) / 2);
	}

	#RareLabel {
		color: hsl(from var(--tooltip--bottom-bg) 35 s calc(l - 40));
	}

	#YouUnlocked {
		color: hsl(from var(--tooltip--bottom-bg) h s calc(l - 40));
	}
}
