@use "mixins/tooltip";

#AppDetailsHover {
	@include tooltip.bigger--container;

	background-image: none;
}

#Background {
	background-image: var(--tooltip_background);
	border-radius: inherit;
}

#BlurContainer {
	@include tooltip.bigger--bg-blur;

	mask: none;
	opacity: 1;
}
