@use "mixins/library";
@use "mixins/tooltip";

#AppPortraitHover {
	--width: 220px;

	@include tooltip.bigger--container;
}

#AppStatus {
	display: none;
}

#AppTitle {
	@include library.header;

	margin: 0;
	text-shadow: none;
}

#AppTitleContainer {
	padding: var(--tooltip_description-spacing);
}

#CapsuleBackground {
	@include tooltip.bigger--bg-blur;

	height: 100%;
	inset: 0;
	width: 100%;
}

#Content {
	// steam bug
	position: relative;
}

#FriendsCircle {
	display: none;
}

#FriendsContainer {
	background: none;
	display: flex;
	flex-direction: column;
	padding: var(--tooltip_description-spacing);
	padding-block-start: 0;
}

#FriendsHeader {
	margin: 0;
}

#FriendsLabel {
	@include library.description;

	margin-block-end: 4px;
	text-transform: none;
}

#PlaytimeDetails {
	color: inherit;
	font: inherit;
	letter-spacing: 0;
	margin: 0;
	padding: var(--tooltip_description-spacing);
	width: var(--width);

	#Header {
		@include library.header;

		margin: 0;
		text-transform: none;
	}

	div[class=""] {
		@include library.description;
	}
}

#ScreenshotCrossfade {
	background: linear-gradient(currentColor, transparent);
	mask: none;
	width: var(--width);
}
