@use "mixins/tooltip";

#ListItemTooltipBase {
	@include tooltip.container;
}

#ListItemTooltipDetail {
	color: inherit;
	font-size: var(--text--font-size-md);
}

#ListItemTooltipDetailSection {
	margin-inline: var(--tooltip--description-spacing);

	&:last-child {
		margin-block-end: var(--tooltip--description-spacing);
	}
}

#Title {
	color: inherit;
}

#TitleRow {
	margin-block-end: var(--tooltip--description-spacing);
}
