@use "mixins/tooltip";

#ImageContainer {
	box-shadow: none;
	position: unset;
}

#ThumbnailContainerOffset {
	padding: 0;
}

#ThumbnailContents {
	@include tooltip.container;
}

#ThumbnailImage {
	border-radius: var(--rounding-md);
}

#TimeDisplayContainer {
	color: var(--blue-text);
	font-family: var(--text--font-family-monospace);
	margin: 0;
	padding: 0;
}

#TooltipButtons {
	min-height: unset;

	svg {
		color: var(--blue-border);
		filter: none;
		height: var(--icon-size-sm);
		opacity: 1;
		padding: 0;
		width: var(--icon-size-sm);
	}
}

#TooltipChildren {
	background: none;
	width: 100%;

	&::before {
		@include tooltip.separator;

		content: "";
		margin-block: 8px 4px;
	}
}
