@use "mixins/library";

#AppPartnerEventsContainer {
	margin: 0;
	padding: 0;
}

#AppPartnerEventsPage {
	inset-block-start: calc(var(--library_spacing) * 2 + var(--icon-size));
}

#ControlSection {
	background: var(--bg-main);
	border-block-end: var(--library_border);
	inset-block-start: 0;
	padding: var(--library_spacing);
}

#ControlSectionRightSide {
	flex-direction: row-reverse;
	gap: var(--library_spacing-x05);
	max-width: 100%;

	#CloseButton {
		all: unset;

		display: flex;
	}

	#ScrollButton {
		all: unset;

		height: var(--icon-size);
		width: var(--icon-size);

		&:where(#Down) svg {
			transform: none;
		}

		&:where(#GameArt) {
			// TODO(vars):
			--icon-size: 24px;

			margin: calc(8px / -2);
			margin-inline-end: 0;

			img {
				padding: 0;
			}
		}

		&:where(#Up) svg {
			transform: scale(-1, 1);
		}
	}
}

#ControlSectionWidth {
	width: 100%;
}

#PartnerEvent {
	background: var(--library_section-bg);
	border: none;
	border-block-end: var(--library_border);
	border-radius: 0;
	box-shadow: none;
	margin: 0;

	#EventType {
		// TODO(vars):
		--spacing: 2.5px;

		background: color-mix(in srgb, currentColor 20%, transparent);
		color: darkviolet;
		padding: var(--spacing) calc(var(--spacing) * 2);
		margin: calc(var(--spacing) * -1) calc(var(--spacing) * -2);
		margin-inline-end: var(--library_text-spacing);
	}

	#EventTypeAndTimeRow#WithReminder {
		background: none;
		margin: 0;
		padding: 0;
	}

	#TimeandPostedBy {
		@include library.description;
	}
}
