@use "mixins/library";

#DynamicLinkBox {
	background: none;
	color: var(--blue-text);
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#DynamicLink_Author {
	@include library.header-secondary;
}

#DynamicLink_AuthorName {
	color: inherit;
}

#DynamicLink_Content {
	color: inherit;
	font: inherit;
	text-shadow: none;
}

#DynamicLink_Description {
	@include library.description;
}

#DynamicLink_Name {
	@include library.header-primary;

	margin: 0;
}

#DynamicLink_Preview {
	margin-inline-end: var(--library_spacing);
}
