@import "../../shared/extends/appdetails.css";
@import "../../shared/extends/style.css";

#Blur,
#ImageContainer,
#MediumImageContainer {
	display: none !important;
}

#DayPosted {
	color: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
}

#Event {
	background: none !important;
	font-size: var(--font-size) !important;
	border: none !important;
	box-shadow: none !important;
	margin: calc(var(--appdetails_spacing-x05) * -1) !important;
	margin-top: calc(var(--appdetails_spacing) * -1) !important;
}

#PartnerEventFeaturedHeader {
	@extend %section-header;

	text-transform: unset !important;
	line-height: unset !important;
	margin-inline: calc(var(--appdetails_border-size) * -1) !important;
}

/* TODO: &_Container with scss */
#PartnerEventLargeImage_Container,
#PartnerEventMediumImage_Container {
	background: none !important;
}

#PartnerEventLargeImage_Contents,
#PartnerEventMediumImage_Contents {
	padding: var(--appdetails_spacing) !important;
}

#PartnerEventLargeImage_Summary,
#PartnerEventMediumImage_Summary {
	opacity: var(--appdetails_secondary-text-opacity) !important;
	color: inherit !important;
	font-size: inherit !important;
	text-shadow: none !important;

	order: 1 !important;
}

#PartnerEventLargeImage_TextColumn,
#PartnerEventMediumImage_TextColumn {
	text-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;

	display: flex;
	flex-direction: column;
}

#PartnerEventTextOnly_Title,
#PartnerEventLargeImage_Title,
#PartnerEventMediumImage_Title {
	@extend %appdetails_header;

	font-size: 10pt !important;
	text-decoration: underline !important;
	text-shadow: none !important;
}

#PartnerEventType {
	opacity: var(--appdetails_secondary-text-opacity) !important;
	color: inherit !important;
	font-size: inherit !important;
	font-weight: bold !important;
	text-shadow: none !important;
	text-transform: unset !important;
	margin-top: 10px !important;

	order: 1 !important;
}
