@import "../../shared/extends/controls.css";

#HeaderStyles {
	border-radius: 0 !important;
	margin: 0 !important;
}

#LoadContentButton {
	@extend %button;

	margin: var(--library_spacing) !important;
}
