@use "../../shared/extends/style";

#BoxSizer {
	inset: 0 !important;
}

#BoxSizerContainer {
	inset: var(--library_body-spacing) !important;
}

#ImgBlur {
	display: none;
}

#ImgContainer {
	justify-content: start !important;
}

#ImgSrc {
	mask: var(--library_header-img-mask) !important;

	width: 80% !important;
	height: var(--library_header-img-height) !important;
}

#SVGTitle {
	display: none !important;
}

#TextNameSpace {
	align-self: flex-start !important;

	&::before {
		content: var(--library_game-name);

		color: var(--blue-text) !important;
		font-size: var(--font-size-xlarge) !important;
		font-weight: bold !important;
	}
}

#TitleImageContainer {
	display: none !important;
}

#TitleSection {
	padding: var(--library_body-spacing) !important;

	top: 0 !important;

	&::before {
		content: "";

		width: var(--library_icon-size);
		height: var(--library_icon-size);

		background-image: var(--library_game-icon);
		background-size: 100%;
		margin-right: var(--library_spacing) !important;
	}
}

#TopCapsule {
	height: var(--library_header-img-height) !important;

	&#FallbackArt::before {
		content: "";

		position: absolute;
		width: 100%;
		height: 100%;

		background-color: var(--blue-light);
		mask: var(--library_header-img-mask);
	}
}
