@use "shared/extends/contextmenu";
@use "shared/extends/list";
@use "shared/extends/style";

:root {
	--contextmenu_container-bg: #f0f0f0;
	--contextmenu_container-border-inner: #f5f5f5;
	--contextmenu_container-border-outer: #979797;
	--contextmenu_container-spacing: 2px;
	--contextmenu_item-height: 22px;
	--contextmenu_left-spacing: 27px;
	--contextmenu_separator-dark: #e0e0e0;
	--contextmenu_separator-light: #fff;
}

$icons: (
	"Check": "context-menu-checkmark",
	"DialogCheck": "context-menu-checkmark",
	"PlusCircle": "add",
	"Play": "play",
);

#Arrow {
	@include style.arrow("right");

	background-color: var(--listitem_fg);

	position: absolute;
	right: 8px;

	svg {
		display: none;
	}
}

#contextMenu {
	@include contextmenu.container;

	// child
	& + & {
		--offset: -3px;

		margin-top: var(--offset);
		margin-left: var(--offset);
	}
}

#contextMenuContents {
	@include contextmenu.container-left-border;

	background-color: transparent;
	padding: 0;

	position: relative;
}

#contextMenuItem {
	@include contextmenu.item;

	line-height: unset;

	@each $class, $icon in $icons {
		&:has(.SVGIcon_#{$class}) {
			--icon: var(--icon-#{$icon});

			svg {
				display: none;
			}
		}
	}

	&:has(.SVGIcon_Check, .SVGIcon_DialogCheck) {
		&::before {
			@include contextmenu.icon("checkmark");

			box-sizing: border-box;
		}
	}

	&#active {
		@include list.item-active;
	}

	&.disabled {
		@include list.item-disabled;
	}

	&::before {
		content: "";

		@include contextmenu.icon-pos;

		background-image: var(--icon);
		background-size: var(--icon-size);
	}

	svg:not([class]) {
		@include contextmenu.icon-pos;
	}
}

#ContextMenuPosition {
	margin: 0;

	overflow: visible;
}

#ContextMenuHRSeparator {
	border: none;

	@include contextmenu.separator;

	width: unset;
}

#ContextMenuSeparator {
	@include contextmenu.separator;

	// jumplist
	&:last-child {
		display: none;
	}
}
