@use "shared/extends/contextmenu";
@use "shared/extends/list";

$icons: (
	"Check": "context-menu-checkmark",
	"DialogCheck": "context-menu-checkmark",
	"PlusCircle": "add",
	"Play": "play",
);

#Arrow {
	@include contextmenu.submenu-arrow;

	svg {
		display: none;
	}
}

#contextMenu {
	@include contextmenu.container;

	& + & {
		@include contextmenu.container-child("-3px");
	}
}

#contextMenuContents {
	@include contextmenu.container-left-border;

	background-color: transparent;
	padding: 0;

	position: relative;
}

#contextMenuItem {
	@include contextmenu.item;

	line-height: unset;

	@each $class, $icon in $icons {
		&:has(.SVGIcon_#{$class}) {
			--icon: var(--icon-#{$icon});

			svg {
				display: none;
			}
		}
	}

	&:has(.SVGIcon_Check, .SVGIcon_DialogCheck) {
		&::before {
			@include contextmenu.icon("checkmark");

			box-sizing: border-box;
		}
	}

	&#active {
		@include list.item-active;
	}

	&.disabled {
		@include list.item-disabled;
	}

	&::before {
		content: "";

		@include contextmenu.icon-pos;

		background-image: var(--icon);
		background-size: var(--icon-size);
	}

	svg:not([class]) {
		@include contextmenu.icon-pos;
	}
}

#ContextMenuPosition {
	margin: 0;

	overflow: visible;
}

#ContextMenuHRSeparator {
	border: none;

	@include contextmenu.separator;

	width: unset;
}

#ContextMenuSeparator {
	@include contextmenu.separator;

	// jumplist
	&:last-child {
		display: none;
	}
}
