@use "shared/extends/contextmenu";

#AddFolderDropdownOption {
	--icon: var(--icon-add);

	&::before {
		content: "";

		@include contextmenu.icon-pos;

		background-image: var(--icon);
	}

	// The dropdown doesn't have a separate class for that...
	svg {
		display: none;
	}
}
