@use "shared/extends/contextmenu";

.contextMenuUnselectable,
.contextMenuUnselectable.disabled,
.contextMenuGameTitle,
.contextMenuBroadcast,
.contextMenuGameOptions {
	background-color: transparent;
}

.contextMenuGameName {
	color: inherit;
	font-weight: bold;
}

.recentName {
	@include contextmenu.item;

	margin: 0;
}
