@use "shared/extends/contextmenu";

.contextMenuUnselectable,
.contextMenuUnselectable.disabled,
.contextMenuGameTitle,
.contextMenuBroadcast,
.contextMenuGameOptions {
	background-color: transparent;
}

.contextMenuGameName {
	color: inherit;
	font-weight: bold;
}

.contextMenuGameTitle {
	all: unset;

	@include contextmenu.separator;
}

.contextMenuGameTitleBlurCropContainer {
	display: none;
}

.contextMenuItem.menuChecked .contextMenuCheckMark {
	@include contextmenu.icon("radio");

	display: block;
}

.contextMenuSectionContent {
	&:not(:last-child)::after {
		content: "";

		@include contextmenu.separator;
	}
}

.FriendMenuRoleCheckbox .SVGIcon_Crown {
	@include contextmenu.icon-pos;

	path {
		fill: #cb9500;
	}
}

.personaContextMenuItem {
	&::before {
		display: none;
	}

	.DialogCheckbox {
		transform: unset;

		&:not(.Active) {
			display: none;
		}

		&.Active {
			@include contextmenu.icon("checkmark");
		}
	}
}

.persona_menu_descriptor,
.persona_menu_dnd_descriptor {
	color: var(--contextmenu_fg-secondary);
	font: inherit;
	padding: 0;
}

.recentName {
	@include contextmenu.item;

	margin: 0;
}
