@use "shared/extends/contextmenu";
@use "shared/extends/list";

#AppCount {
	opacity: 1;
	color: var(--contextmenu_fg-secondary);
	padding-left: var(--library_text-spacing);
}

#DropDown {
	@include contextmenu.container-left-border;

	&::before {
		top: var(--contextmenu_container-spacing);
		bottom: var(--contextmenu_container-spacing);

		margin-left: var(--contextmenu_container-spacing);
	}
}

#Row {
	@include contextmenu.item;

	.DialogCheckbox {
		--icon: icon("context-menu-checkmark");
		--offset: -1px;

		background: transparent;
		border-radius: var(--border-radius);
		box-shadow: none;

		position: absolute;
		top: var(--offset);
		left: var(--offset);
		width: var(--contextmenu_item-height);
		height: var(--contextmenu_item-height);

		&.Active {
			@include list.item-active;
		}

		// TODO: no idea if it's ever disabled, but whatever
		&.Disabled {
			--icon: icon("context-menu-checkmark-disabled");
		}

		svg {
			background-image: var(--icon);

			display: initial;

			* {
				display: none;
			}
		}
	}

	.DialogToggle_Label {
		line-height: inherit;
	}
}

#Rule {
	@include contextmenu.separator;
}
