@use "shared/extends/contextmenu";
@use "shared/extends/list";

#AppCount {
	opacity: 1;
	color: var(--contextmenu_fg-secondary);
	padding-left: var(--library_text-spacing);
}

#DropDown {
	@include contextmenu.container-left-border;

	&::before {
		top: var(--contextmenu_container-spacing);
		bottom: var(--contextmenu_container-spacing);

		margin-left: var(--contextmenu_container-spacing);
	}
}

#Row {
	@include contextmenu.item;

	.DialogCheckbox {
		@include contextmenu.icon("checkmark");

		&:not(.Active) {
			display: none;
		}
	}

	.DialogToggle_Label {
		line-height: inherit;
	}
}

#Rule {
	@include contextmenu.separator;
}
