@use "mixins/list";

#Content {
	gap: 12px;
	padding-inline: calc(var(--contextmenu--left-spacing) + 6px) 0;
}

#FilterInput {
	height: unset;
}

#FilterInputContainer {
	padding-inline-start: calc(var(--contextmenu--left-spacing) + 6px);
}

#Item {
	@include list.item;

	margin: 0;
}

#SectionTitle {
	color: var(--listitem--fg-secondary);
	font: inherit;
	letter-spacing: 0;
	text-transform: none;
}
