@use "shared/extends/contextmenu";

// Some guy really thought putting !important would be funny af
body:is(.DesktopUI, .friendsui-container) .visible.visible #DialogDropDownMenu {
	@include contextmenu.container;
	@include contextmenu.container-left-border;

	position: relative;
}

#DialogDropDownMenu_Item {
	cursor: unset;

	&:not(#DialogDropDownMenu_Separator) {
		@include contextmenu.item;
	}
}

#DialogDropDownMenu_Separator {
	@include contextmenu.separator;
}
