@use "shared/extends/contextmenu";
@use "shared/extends/list";

#AppCount {
	color: var(--listitem_fg-secondary);
	opacity: 1;
	padding-inline-start: var(--library_text-spacing);
}

#DropDown {
	@include contextmenu.container-left-border;

	&::before {
		inset-block-start: var(--contextmenu_container-spacing);
		inset-block-end: var(--contextmenu_container-spacing);
		margin-inline-start: var(--contextmenu_container-spacing);
	}
}

#Row {
	@include contextmenu.item;

	.DialogCheckbox {
		@include contextmenu.icon("checkmark");

		&:not(.Active) {
			display: none;
		}
	}

	.DialogToggle_Label {
		line-height: inherit;
	}
}

#Rule {
	@include contextmenu.separator;
}
