@use "shared/extends/contextmenu";

#AllChats {
	--icon: var(--icon-users);
}

#AllChats,
#Chat {
	flex-direction: row;
	gap: 0;
	min-width: unset;
	max-width: unset;

	.avatarHolder {
		// contextmenu_item-height / steamavatar_size
		--multiply: 0.6875;

		inset-block-start: 0;
		inset-inline-start: 1px;
		position: absolute;
	}
}

#ChatDivider {
	@include contextmenu.separator;
}

#ChatLabel,
#SectionTitle {
	display: none;
}

#ChatRow {
	flex-direction: column;
	margin: 0;
}

#Name {
	mask: none;
	padding: 0;
	text-align: start;
}

#ShareMenuLabel {
	margin: 0;
}

#ShareSheet {
	svg {
		display: none;
	}
}
