@use "mixins/contextmenu";

#DropDownItems {
	margin: 0;
}

#OptionsRule {
	margin-block-start: 8px;
	overflow: visible;

	&::before {
		@include contextmenu.separator;

		content: "";
		inset-block-start: -9px;
		// TODO: what
		inset-inline-end: -1px;
		inset-inline-start: calc(var(--contextmenu_container-spacing) * -1);
		position: absolute;
	}
}
