$icons: (
	//"BorrowApp"
	"Cancel": "cancel",
	"Connect": "play",
	"Download": "download",
	"Install": "download",
	"Launch": "play",
	//"Pause"
	"Play": "play",
	"PlayMusic": "play",
	//"PreLoad"
	//"PurchaseApp"
	"Resume": "play",
	"Stop": "cancel",
	//"Stream"
	"Update": "update"
);

#ContextMenuAction {
	background-image: none;
	font-weight: bold;
	letter-spacing: 0;

	@each $class, $icon in $icons {
		&.#{$class} {
			--icon: var(--icon-#{$icon});
		}
	}

	svg {
		display: none;
	}
}
