@use "mixins/style";

:where(*) {
	box-sizing: border-box;
	font-family: var(--text--font-family);
}

body {
	background: var(--bg-main);
	color: var(--fg-main);
	font-size: var(--text--font-size-md);
}

:where(.awayOrSnooze) {
	--color: var(--status--color-away);
}

:where(.ingame) {
	--color: var(--status--color-ingame);
}

:where(.offline) {
	--color: var(--status--color-offline);
}

:where(.online) {
	--color: var(--status--color-online);
}

.part {
	display: initial;
}

$-icons: (
	ChatBubble: "discussions",
	Download: "download",
	FlatArrow: "nav-back",
	Play: "play",
	Pause: "delete",
	PlusCircle: "plus",
	X_Line: "delete",

	// friendsui
	Bell: "notifications",
	ChatSettings: "settings",
	Invite: "plus",
);

@each $k, $v in $-icons {
	:where(.SVGIcon_#{$k}) {
		@include style.icon($name: $v, $hide-selector: "*");
	}
}
