@use "shared/extends/controls";
@use "shared/extends/dialog";
@use "shared/extends/library";
@use "shared/extends/style";

@keyframes dropfade {
	0% {
		opacity: 0;
		transform: translateY(-5px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

:where(.DialogBody) {
	a {
		@include style.link;

		font: inherit;
	}

	// Used in launch options and app properties dialogs
	input[type="radio"] {
		@include controls.input-base("radio", ":checked", ":disabled");

		appearance: none;
		margin: 0;

		width: var(--size);
		height: var(--size);
	}
}

:where(.DialogBodyText) {
	color: inherit;
	font: inherit;
	margin: 0;
	margin-bottom: 4px;
}

:where(.DialogButton) {
	@include controls.button;

	line-height: 1;
	margin: 0;

	min-width: 75px;

	&::before {
		display: none;
	}
}

:where(.DialogCheckbox) {
	@include controls.input-base("checkbox", ".Active");

	border-radius: 0;
	box-shadow: none;

	width: var(--size);
	height: var(--size);

	svg {
		display: none;
	}
}

:where(.DialogCheckbox_Container) {
	margin: 0;

	.DialogCheckbox {
		margin-inline-end: 4px;
	}
}

:where(.DialogContent) {
	background: var(--dialog_bg);
	color: var(--dialog_fg);
	font-size: var(--font-size);
	padding: var(--dialog_spacing-content);
}

:where(.DialogControlsSection),
:where(.DialogControlsSectionHeader),
:where(.DialogHeader),
:where(.DialogSubHeader) {
	&:not(:first-child) {
		margin-top: var(--tabpanel_spacing);
	}
}

:where(.DialogDropDown) {
	@include controls.dropdown($disabled-class-name: ".Disabled");

	opacity: 1;
	gap: 0;

	display: flex;
}

:where(.DialogDropDown_Arrow) {
	@include controls.dropdown-arrow;

	svg {
		display: none;
	}
}

:where(.DialogDropDown_CurrentDisplay) {
	@include controls.dropdown-text;
}

:where(.DialogFooter) {
	padding-top: 8px;
}

:where(.DialogHeader) {
	color: var(--blue-text);

	:root[browsertype="DirectHWND"] & {
		display: none;
	}
}

:where(.DialogInput) {
	@extend %textfield-base;

	padding: 1px 3px;
}

:where(.DialogInput_ClearAction) {
	--icon-size: 12px;
	@include style.icon("delete", "svg");

	inset-inline-end: 6px;
}

:where(.DialogInput_Wrapper) {
	gap: 8px;
}

:where(._DialogInputContainer) {
	border-radius: 0;
}

:where(.DialogRoundCheckboxField) {
	margin: 0;

	width: unset;
	height: unset;
}

:where(.DialogRoundCheckboxField_Container) {
	gap: 7px;
	margin-block-end: 7px;
}

:where(.DialogRoundCheckboxField_Control) {
	@include controls.input-base("radio", ".Active", ".Disabled");

	background-color: transparent;

	width: var(--size);
	height: var(--size);
}

:where(.DialogRoundCheckboxField_OuterCircle) {
	display: none;
}

:where(.DialogLabel),
:where(.DialogToggle_Label) {
	color: inherit;
	font: inherit;
	text-transform: unset;
}

:where(.DialogToggle_Label) {
	line-height: 1;
}

:where(.DialogThreeColLayout),
:where(.DialogTwoColLayout) {
	gap: 8px;
}

:where(.FullModalOverlay) {
	@include dialog.overlay;

	// Use this element for the animation
	opacity: 1;

	display: block;

	&:where([style="display: none;"]) {
		opacity: 0;
		pointer-events: none;
	}

	:where(& > dialog) {
		border: none;
	}

	:where(& .DialogBody) {
		padding: var(--library_spacing);
	}

	:where(& .DialogButton) {
		@include library.button;

		box-shadow: none;
	}

	:where(& .DialogContent) {
		@include library.section;

		color: var(--blue-text);
		font-size: var(--font-size);
		border-top: var(--library_border);
		padding: 0;
	}

	:where(& .DialogContent_InnerWidth) {
		overflow: hidden;
	}

	:where(& .DialogHeader) {
		@include library.section-header;

		background-image: linear-gradient(
			0deg,
			var(--blue-dark),
			var(--blue-light)
		);
		font-size: var(--font-size);
		line-height: 2;
		padding-block-start: calc(
			var(--library_section-header-spacing-y) + var(--library_border-size)
		);
		margin: calc(var(--library_border-size) * -1);

		display: block;
	}

	:where(& .DialogTwoColLayout) {
		gap: var(--library_spacing-x05);

		& > ._DialogLayout {
			min-width: unset;
		}
	}

	:where(& .ModalOverlayBackground) {
		display: none;
	}

	:where(& .ModalPosition_Content) {
		animation: dropfade var(--anim-time) ease-in;
	}
}

.ModalPosition.Destructive {
	:where(& .DialogButton) {
		background:
			linear-gradient(
				0deg,
				hsl(from var(--library_button-bg-1) 0 s l) 9%,
				hsl(from var(--library_button-bg-2) 0 s l) 54%,
				hsl(from var(--library_button-bg-3) 0 s l)
			),
			var(--lighter-bg), var(--white-gradient);
		color: hsl(from var(--library_button-text) 0 s l);
		border-color: hsl(from var(--blue-border) 0 s l);
	}

	:where(& .DialogContent) {
		background-color: hsl(from var(--library_section-bg) 0 s l);
		color: hsl(from var(--blue-text) 0 s l);
		border-color: hsl(from var(--library_border-color) 0 s l);
	}

	:where(& .DialogHeader) {
		background-image: linear-gradient(
			0deg,
			hsl(from var(--blue-dark) 0 s l),
			hsl(from var(--blue-light) 0 s l)
		);
		color: hsl(from var(--blue-text) 0 s l);
		border-color: hsl(from var(--library_section-header-border-color) 0 s l);
	}
}

:where(.ModalPosition_Content) {
	color: inherit;
	font-size: inherit;
	font-weight: normal;
	box-shadow: var(--popup-shadow);

	:where(.PopupFullWindow & > :not(.DialogContent, .ModalPosition_Dismiss)) {
		padding-top: var(--title-bar-height);
	}
}

:where(.ModalPosition_Dismiss) {
	@include style.icon("delete", "svg");

	inset-inline-end: 8px;
	inset-block-start: 8px;
}

:where(.ModalPosition_TopBar) {
	display: none;
}

// fix for game info dialog
:where(.TitleBar) {
	z-index: 99;
	height: var(--title-bar-height);

	:root[browsertype="DirectHWND"] & {
		display: none;
	}
}
