@use "./extends/controls";

.DialogButton {
	@extend %button;

	box-shadow: none !important;

	&:is(:disabled, .Disabled) {
		@extend %button-disabled;
	}

	&::before {
		display: none !important;
	}
}

.DialogDropDown {
	@extend %text-input;

	align-items: center !important;
}

.DialogDropDown_Arrow {
	@extend %arrow;

	background-color: var(--blue-text) !important;
	margin-left: 6px !important;

	position: unset !important;

	svg {
		display: none !important;
	}
}

.DialogDropDown_CurrentDisplay {
	line-height: 1 !important;

	flex-grow: 1 !important;
}

.DialogInput {
	@extend %text-input-compact;
}
