:root {
	// Design
	--blue-border: #5a7eab;
	--blue-text: #304461;
	--blue-dark: #bcd0e8;
	--blue-light: #d3dfed;

	--bg-main: #fff;
	--fg-main: #000;

	--font-family-monospace: "Consolas", monospace;
	--font-size-xlarge: 18pt;
	--font-size-large: 12pt;
	--font-size: 9pt;
	--font-size-small: 8pt;

	--border-radius-large: 5px;
	--border-radius: 2.5px;

	--tag--spacing: 2.5px;

	--anim-time: 150ms;
	--icon-size: 16px;
	--popup-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.5);
	--scrollbar-size: 15px;
	--title-bar-height: 32px;

	@media (prefers-reduced-motion: reduced) {
		--anim-time: 0ms;
	}

	// Imitation of native Windows 7 controls
	--dialog--bg: #f0f0f0;
	--dialog--fg: var(--fg-main);
	--dialog--spacing-content: 7px 8px 8px 6px;

	--listitem--fg: var(--fg-main);
	--listitem--fg-secondary: #6d6d6d;
	--listitem--item-border: rgba(152, 196, 249, 0.75);
	--listitem--item-gradient-start: rgba(245, 250, 255, 0.4);
	--listitem--item-gradient-end: rgba(215, 232, 255, 0.4);
	--listitem--item-gradient: linear-gradient(
		180deg,
		var(--listitem--item-gradient-start),
		var(--listitem--item-gradient-end)
	);
	--listitem--item-inner-border: rgba(243, 248, 254, 0.75);

	--tab--bg-selected: var(--bg-main);
	--tab--border-outer: var(--tabpanel--border);
	--tab--border-inner: #f8f8f8;
	--tabpanel--bg: var(--bg-main);
	--tabpanel--border: #898c95;
	--tabpanel--spacing: 14px;

	--table--bg: var(--bg-main);
	--table--border: #828790;
	--tableheaderrow--border-start: #f2f2f2;
	--tableheaderrow--border-end: #d5d5d5;

	// Shared components
	--desktoptab--inverse-border-size: 3px;
	--desktoptab--item-gradient-end: #d7e0eb;
	--desktoptab--item-spacing-block: 9px;
	--desktoptab--item-spacing-inline: 12px;

	// Componenet vars
	--achievementiconbase--border: inset -1px -1px #fff, inset 1px 1px #3c5678;
	--achievementiconbase--size: 32px;

	--achievementslist--virt-list-gap: 8px;

	--collapseicon--bg: #b5c7e9;
	--collapseicon--border-1: #9dabc1;
	--collapseicon--border-2: #354962;
	--collapseicon--size: 11px;

	--contextmenu--container-bg: #f0f0f0;
	--contextmenu--container-border-inner: #f5f5f5;
	--contextmenu--container-border-outer: #979797;
	--contextmenu--container-spacing: 2px;
	--contextmenu--item-height: 22px;
	--contextmenu--left-spacing: 27px;
	--contextmenu--separator-dark: #e0e0e0;
	--contextmenu--separator-light: #fff;

	--desktoptoasts--image-color: #fff;
	--desktoptoasts--image-size: 48px;
	--desktoptoasts--status-away: hsl(from var(--blue-text) 75 s calc(l * 1.5));
	--desktoptoasts--status-ingame: hsl(
		from var(--blue-text) 125 s calc(l * 1.5)
	);
	--desktoptoasts--status-offline: hsl(
		from var(--blue-text) h calc(s / 2) calc(l * 1.5)
	);
	--desktoptoasts--status-online: hsl(
		from var(--blue-text) h calc(s * 2) calc(l * 2)
	);

	--gamelistentry--active-bg: #8dd6ff;

	--library--body-spacing: 16px;
	--library--border-color: #aeb8c6;
	--library--border-size: 1px;
	--library--border: var(--library--border-size) solid
		var(--library--border-color);
	--library--button-bg-1: #bdd1ea;
	--library--button-bg-2: #93b0d4;
	--library--button-bg-3: #506580;
	--library--button-text: #273b5c;
	--library--container-border: var(--library--border-size) solid #39577c;
	--library--game-stat-spacing: 7px;
	--library--green: #d1e1b9;
	--library--green-dark: color-mix(in srgb, var(--library--green) 75%, black);
	--library--header-img-height: 163px;
	--library--header-img-mask: radial-gradient(
		55.62% 83.6% at 35.73% 0%,
		var(--bg-main) 0%,
		transparent 100%
	);
	--library--header-text-shadow: 1px 1px
		color-mix(in srgb, var(--blue-text) 33%, var(--bg-main));
	--library--icon-size: 32px;
	--library--placeholder-border-size: 2px;
	--library--secondary-text-opacity: 0.5;
	--library--section-bg: #e1e7ef;
	--library--section-header-border-color: #9cb1ca;
	--library--section-header-spacing-y: 2.5px;
	--library--section-header-spacing-x: 6px;
	--library--spacing: 12px;
	--library--spacing-x05: calc(var(--library--spacing) / 2);
	--library--text-spacing: 4px;

	--pagedsettings--border: 1px solid var(--tabpanel--border);
	--pagedsettings--dialog-spacing: 6px;
	--pagedsettings--separator: 2px solid #7ba4e0;
	--pagedsettings--tab-separator: #c5c5c5;
	--pagedsettings--tab-separator2: #dde7ee;

	// 70% should cover the bottom right text
	--salepreviewwidgets--bg: radial-gradient(
		at 0% 0%,
		var(--library--section-bg) 70%,
		var(--bg-main)
	);

	--steamavatar--size: 32px;

	--steamdesktop--border-size: 1px;
	--steamdesktop--top-bar-drag: drag;
	--steamdesktop--top-bar-text-color: #fff;
	--steamdesktop--spacing: 2px;
	--steamdesktop--window-gradient:
		linear-gradient(
			0deg,
			transparent 96.5%,
			var(--steamdesktop--window-gradient-top-color-mix) 100%
		),
		linear-gradient(
			var(--steamdesktop--window-gradient-start),
			var(--steamdesktop--window-gradient-end)
		);
	--steamdesktop--window-gradient-end: #112034;
	--steamdesktop--window-gradient-start: #293b53;
	--steamdesktop--window-gradient-top-color: #82b4ff;
	--steamdesktop--window-gradient-top-color-mix: color-mix(
		in srgb,
		var(--steamdesktop--window-gradient-top-color) 10%,
		transparent
	);
	--steamdesktop--window-size: calc(
		100% - var(--steamdesktop--border-size) * 2
	);

	--supernav--icon-spacing: 4px;

	--tooltip--background: linear-gradient(180deg, #fff, #c9d9ef);
	--tooltip--description-spacing: 9px;

	&[browsertype="DirectHWND"] {
		--title-bar-height: 0px;
		--steamdesktop--top-bar-drag: no-drag;
		--desktoptab--item-spacing-block: 3px;
	}
}
