:root {
	--blue-border: 1px solid #5a7eab;
	--blue-text: #304461;
	--blue-dark: #bcd0e8;
	--blue-light: #d3dfed;

	--main-bg: #fff;

	--font-size: 9pt;
	--font-size-small: 8pt;

	--border-radius: 2px;
	--icon-size: 16px;
}
