:root {
	--blue-border: 1px solid #5a7eab;
	--blue-text: #304461;
	--blue-dark: #bcd0e8;
	--blue-light: #d3dfed;

	--bg-main: #fff;
	--fg-main: #000;

	--font-size-xlarge: 18pt;
	--font-size-large: 12pt;
	--font-size: 9pt;
	--font-size-small: 8pt;

	--border-radius-large: 4px;
	--border-radius: 2px;

	--anim-time: 150ms;
	--icon-size: 16px;
	--popup-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.5);

	@media (prefers-reduced-motion: reduced) {
		--anim-time: 0ms;
	}
}
