@use "mixins/settings";

#PanelSection {
	margin-block-end: var(--library--spacing);
	padding-inline: var(--library--spacing);
}

#PanelSectionTitle {
	@include settings.header;

	background-color: hsl(214 30% 83% / 1);
}
