@use "shared/extends/style";

:root[data-millennium-plugin~="core"] {
	--MillenniumText-HeadingLarge: normal 700 26px/1.4 var(--MillenniumText-Font);
	--MillenniumText-HeadingMedium: normal 700 22px/1.4 var(--MillenniumText-Font);
	--MillenniumText-HeadingSmall: normal 700 18px/1.4 var(--MillenniumText-Font);
	--MillenniumText-BodyLarge: normal 400 16px/1.4 var(--MillenniumText-Font);
	--MillenniumText-BodyMedium: normal 400 14px/1.4 var(--MillenniumText-Font);
	--MillenniumText-BodySmall: normal 400 12px/1.4 var(--MillenniumText-Font);

	--MillenniumTextColor-Normal: var(--fg-main);
	--MillenniumTextColor-Muted: color-mix(
		in srgb,
		var(--fg-main) 50%,
		transparent
	);
	// stolen from appdetailsachievementssection, maybe reuse later
	--MillenniumTextColor-Success: hsl(111 40% 50%);
	--MillenniumTextColor-Error: hsl(347 40% 50%);
	--MillenniumTextColor-Warning: hsl(48 40% 50%);

	--MillenniumSpacing-Small: 4px;
	--MillenniumSpacing-Normal: 8px;
	--MillenniumSpacing-Large: 16px;

	--MillenniumControls-BorderRadius: var(--border-radius);
	--MillenniumControls-IconSize: var(--icon-size);
}

.MillenniumButton {
	flex-grow: 0;
	width: auto;

	&:not(.MillenniumIconButton, .MillenniumLogs_LogItemButton) svg {
		display: none;
	}
}

button.MillenniumIconButton {
	all: unset;

	@include style.icon;

	display: block;

	$-icons: (
		Add: "plus",
		Copy: "copy",
		Download: "download",
		KaratUp: "nav-forward",
		KaratRight: "nav-forward",
		KaratDown: "nav-back",
		KaratLeft: "nav-back",
		Minus: "minus",
		Settings: "settings",
		ShoppingCart: "star",
	);

	@each $icon, $file in $-icons {
		&[data-icon-name="#{$icon}"] {
			--icon: var(--icon-#{$file});
		}
	}

	// XD
	&[data-icon-name="KaratUp"],
	&[data-icon-name="KaratDown"] {
		transform: rotate(-90deg);
	}

	svg {
		display: none;
	}
}

.MillenniumPlaceholder_Button svg {
	display: none;
}

.MillenniumPlaceholder_Icon {
	color: inherit;
}
