@use "mixins/style";
@use "mixins/library";

#AppDetailsMain {
	border: var(--library_container-border);
}

#Container {
	:where(& .DialogButton) {
		@include library.button;

		box-shadow: none;

		&:where(:disabled, .Disabled) {
			@include library.button-disabled;
		}
	}

	:where(& .DialogDropDown) {
		@include library.text-input;

		align-items: center;
	}

	:where(& .DialogDropDown_Arrow) {
		background: none;
		border: none;
		box-shadow: none;
		height: 4px;
		margin-inline-start: 6px;
		width: 7px;

		// TODO: wtf
		svg {
			inset-block-start: -9px;
			position: relative;
		}
	}

	:where(& .DialogDropDown_CurrentDisplay) {
		line-height: 1;
		padding: 0;
	}

	:where(& .DialogInput) {
		@include library.text-input($compact: true);
	}
}

#LeftListSizableContainer {
	border: var(--library_container-border);
}

#LibraryWindowDivider {
	background-color: transparent;
	min-width: 4px;
}
