@use "mixins/style";
@use "mixins/library";

#AchievementsPageContainer {
	.NarrowWindow & {
		margin: 0;
		width: 100%;
	}

	#CloseButton {
		--icon-size: var(--library_icon-size);

		@include style.icon($name: "delete-32", $hide-selector: "*");

		background-color: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
		inset-block-start: var(--library_body-spacing);
		inset-inline-end: var(--library_body-spacing);
	}
}

#AppDetailsMain {
	border: var(--library_container-border);
}

#Container {
	:where(.DialogButton) {
		@include library.button;

		box-shadow: none;

		&:where(:disabled, .Disabled) {
			@include library.button-disabled;
		}
	}

	:where(.DialogDropDown) {
		@include library.text-input;

		align-items: center;
	}

	:where(.DialogDropDown_Arrow) {
		&::before {
			display: none;
		}

		&::after {
			inset-block-end: calc(var(--arrow-border-size) + 6px);
		}
	}

	:where(.DialogDropDown_CurrentDisplay) {
		line-height: 1;
		padding: 0;
	}

	:where(.DialogInput) {
		@include library.text-input($compact: true);
	}
}

#LeftListSizableContainer {
	border: var(--library_container-border);
}

#LibraryWindowDivider {
	background-color: transparent;
	min-width: 4px;
}
