#DesktopToastBackground {
	color: var(--desktoptoasts_image-color);
	opacity: 0.1;
	transition: var(--anim-time);

	#DesktopToastPopup:hover & {
		opacity: 0.25;
	}
}

#DesktopToastPopup {
	background: linear-gradient(
		var(--library_button-bg-1),
		var(--library_button-bg-2)
	);
	color: var(--blue-text);

	&::before {
		background: radial-gradient(
			at 0% 0%,
			var(--desktoptoasts_image-color),
			var(--library_button-bg-2)
		);
		transition: var(--anim-time);
	}

	&:hover::before {
		opacity: 1;
	}
}
