@use "shared/extends/controls";
@use "shared/extends/style";

#EditorInput {
	@extend %textfield-base;
}

#NoteActions {
	gap: 8px;
	justify-content: end;
	margin-block-start: 8px;
	position: unset;

	.DialogButton {
		height: unset;
		opacity: 1;
	}

	.tool-tip-source .DialogButton {
		width: 32px;

		svg {
			@include style.icon($name: "delete", $hide-selector: "*");
		}
	}
}

#Toolbar {
	border-block-end: 1px solid var(--tabpanel_border);
	margin-block-end: 8px;
	padding-block: 0 8px;
}
