@import "../../../shared/extends/controls.css";

#FriendsOverflow {
	width: 100%;
}

#ShowMore {
	@extend %button;

	margin-top: var(--library_spacing-x05) !important;
}

#Subsection {
	padding-bottom: var(--library_spacing) !important;
	margin-bottom: var(--library_spacing) !important;
}

#SubsectionHeader {
	color: inherit !important;
	font-size: var(--font-size) !important;
	padding-bottom: 9px !important;
}
