@import "../../../shared/extends/controls.css";
@import "../../../shared/extends/library.css";

#AchievementProgressContainer {
	@extend %progress-bar-outer;

	margin-top: 8px !important;
	margin-bottom: 0 !important;
}

#AchievementProgress {
	@extend %progress-bar-inner;
}

#Additional {
	padding: var(--library_spacing) !important;
	margin: 0 calc(var(--library_spacing) * -1) !important;
}

#AdditionalItem:not(#RemainderContainer) {
	box-shadow: inset -1px -1px #fff, inset 1px 1px #3c5678;
	margin-right: var(--library_spacing-x05) !important;

	height: unset !important;
}

#Desc {
	@extend %library_description;

	line-height: unset !important;

	-webkit-line-clamp: 1 !important;
}

#Featured {
	background-color: #d1e1b9 !important;
	border-bottom: var(--library_border) !important;
	padding: 0 var(--library_spacing) !important;
	margin: calc(var(--library_spacing) * -1) !important;
	margin-bottom: 0 !important;
}

#Label {
	opacity: var(--library_secondary-text-opacity) !important;
	color: inherit !important;
	font-size: var(--font-size-small) !important;
	margin-bottom: 9px !important;
}

#Name {
	@extend %library_header;
}

#Remainder {
	@extend %button;

	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--library_icon-size) !important;
	height: var(--library_icon-size) !important;
}

#RemainderContainer {
	border-radius: var(--border-radius) !important;

	height: unset !important;
}

#RemainderText {
	all: unset !important;
}

#Ribbon {
	display: none !important;
}

#UnachievedSection {
	border-top: var(--library_border) !important;
	padding: var(--library_spacing) !important;
	margin: 0 calc(var(--library_spacing) * -1) !important;

	#Additional {
		padding-block: 0 !important;
	}
}

#UnlockedLabel {
	color: inherit !important;
}

#UnlockedLabelPercent {
	opacity: var(--library_secondary-text-opacity) !important;
	color: inherit !important;
}
