@use "../../../shared/extends/library";
@use "../../../shared/extends/style";

#ButtonContainer {
	margin-top: calc(var(--library_spacing-x05) * -1) !important;

	flex-wrap: wrap !important;
}

#FeaturedItem {
	align-items: start !important;
}

#FeaturedItemDesc {
	@extend %library_description;

	max-width: unset !important;
	-webkit-line-clamp: 4 !important;
}

#FeaturedItemHeader {
	display: none !important;
}

#FeaturedItemHideButton {
	/* also TODO */
	width: 32px !important;
}

#FeaturedItemLink {
	@extend %link;

	font: inherit !important;
	padding: 0 !important;
	margin: 0 !important;
}

#FeaturedItemName {
	@extend %library_header;

	margin: 0 !important;
}

#WorkshopContainer {
	background: none !important;
}
