@use "shared/extends/controls";
@use "shared/extends/style";

%input-base {
	background-color: var(--bg-main);
	color: var(--fg-main);
	font: inherit;
	border: 1px solid #abadb3;
	border-radius: 0;
	box-shadow: none;
}

.DialogBody {
	a {
		@include style.link;

		font: inherit;
	}
}

.DialogBodyText {
	color: inherit;
	font: inherit;
	margin: 0;
	margin-bottom: 4px;
}

.DialogButton {
	@include controls.button;

	&::before {
		display: none;
	}
}

.DialogCheckbox {
	@include controls.input-base("checkbox", ".Active");

	border-radius: 0;
	box-shadow: none;

	width: var(--size);
	height: var(--size);

	svg {
		display: none;
	}
}

.DialogControlsSection,
.DialogControlsSectionHeader,
.DialogHeader,
.DialogSubHeader {
	&:not(:first-child) {
		margin-top: var(--pagedsettings_spacing);
	}
}

.DialogDropDown {
	--arrow-grad-start: #f2f2f2;
	--arrow-grad-end: #cfcfcf;
	--arrow-border: #707070;
	--arrow-inner-border: #fcfcfc;

	@extend %input-base;

	opacity: 1;
	gap: 0;
	padding: 0;

	display: flex;

	&:not(.Disabled):hover {
		--arrow-grad-start: #eaf6fd;
		--arrow-grad-end: #a7d9f5;
		--arrow-border: #3c7fb1;
		--arrow-inner-border: #fafdfe;
	}

	&.Disabled {
		--bg-main: #f0f0f0;
		--fg-main: #6d6d6d;

		--arrow-grad-start: #f4f4f4;
		--arrow-grad-end: #f4f4f4;
		--arrow-border: #adb2b5;
		--arrow-fg: #afafaf;
	}
}

.DialogDropDown_Arrow {
	background: linear-gradient(var(--arrow-grad-start), var(--arrow-grad-end));
	border: 1px solid var(--arrow-border);
	box-shadow: inset 0 0 0 1px var(--arrow-inner-border);

	text-align: center;
	position: unset;
	width: 19px;
	height: 22px;

	svg {
		background-color: var(--arrow-fg, var(--fg-main));
		mask: var(--icon-arrow-bottom);
		padding: 0;

		width: 7px;
		height: 4px;
	}

	polygon {
		display: none;
	}
}

.DialogDropDown_CurrentDisplay {
	padding: 3px 5px;

	flex-grow: 1;
}

.DialogHeader {
	:root[browsertype="DirectHWND"] & {
		display: none;
	}
}

.DialogInput {
	@extend %input-base;

	padding: 1px 3px;
}

.DialogInput_Wrapper {
	gap: 8px;
}

._DialogInputContainer {
	border-radius: 0;
}

.DialogLabel,
.DialogToggle_Label {
	color: inherit;
	font-size: inherit;
	text-transform: unset;
}

.DialogToggle_Label {
	line-height: 1;
}

.ModalPosition_Content {
	color: inherit;
	font-size: inherit;
	font-weight: normal;

	& > div {
		padding-top: var(--title-bar-height);
	}
}

.ModalPosition_TopBar {
	display: none;
}

// fix for game info dialog
.TitleBar {
	z-index: 99;
	height: var(--title-bar-height);

	:root[browsertype="DirectHWND"] & {
		display: none;
	}
}
