@use "shared/extends/library";

#EventOptions {
	& > div {
		border-radius: var(--border-radius-large) !important;
	}
}

#EventRowCarousel {
	padding: var(--library_spacing) !important;
	margin: 0 !important;
}

#EventSummaryContainer {
	border-radius: var(--border-radius-large) !important;
}

#EventTime {
	@include library.header;

	padding-bottom: var(--library_text-spacing) !important;
}

#GameIcon {
	margin-right: var(--library_text-spacing) !important;

	width: var(--icon-size) !important;
	height: var(--icon-size) !important;
}

/* TODO:
 * @mixin header-secondary idk
 * filter: brightness(1.2); on hover
 */
#GameIconAndName {
	background-color: transparent !important;
	font-size: var(--font-size) !important;
	font-weight: bold !important;
	padding: 0 !important;
	margin-top: var(--library_spacing-x05) !important;

	align-items: center;
}

#GameName {
	opacity: var(--library_secondary-text-opacity) !important;
	color: inherit !important;
}

#PartnerEventRowCapsule {
	margin-right: var(--library_spacing) !important;

	&_MainImageContainer {
		border-radius: var(--border-radius-large) !important;
	}

	&_TextCtn {
		color: inherit !important;
		padding: 0 !important;
		margin-top: var(--library_spacing-x05) !important;
	}

	// TODO: @mixin header-primary idk
	&_TextTitle {
		@include library.header;

		font-size: 10pt !important;
		text-decoration: underline !important;
	}
}

#SettingsButton {
	background-image: var(--icon-settings) !important;
	margin: calc(var(--library_section-header-spacing-y) * -1) 0 !important;
	margin-left: var(--library_text-spacing) !important;

	// TODO: put somewhere else once I replace arrows
	svg {
		display: none !important;
	}
}
