@use "shared/extends/library";

#AddedDate {
	@include library.header;
}

#RecentGame {
	margin-right: var(--library_spacing) !important;
}

#RecentGameMediaContainer {
	margin-top: var(--library_text-spacing) !important;
}

#RecentGames {
	padding: var(--library_spacing) !important;
}
