@use "shared/extends/library";

#PlayNextSubHead {
	@include library.header;

	letter-spacing: 0 !important;

	position: absolute !important;
	top: var(--library_spacing) !important;
	left: var(--library_spacing) !important;
	z-index: 1 !important;
}

#PlayNextSuggestion {
	margin-right: var(--library_spacing) !important;
}

#PlayNextSuggestionMediaContainer {
	margin-top: var(--library_text-spacing) !important;
}

#PlayNextSuggestions {
	padding: var(--library_spacing) !important;
	padding-top: calc(var(--library_spacing) + 1lh) !important;

	height: unset !important;
}
