@use "shared/extends/library";
@use "shared/extends/style";

#EventOptions {
	& > div {
		border-radius: var(--border-radius-large);
	}
}

#EventRowCarousel {
	padding: var(--library_spacing);
	margin: 0;
}

#EventSummaryContainer {
	border-radius: var(--border-radius-large);
}

#EventTime {
	@include library.header;

	padding-bottom: var(--library_text-spacing);
}

#GameIcon {
	margin-right: var(--library_text-spacing);

	width: var(--icon-size);
	height: var(--icon-size);
}

#GameIconAndName {
	background-color: transparent;
	padding: 0;
	margin-top: var(--library_spacing-x05);

	align-items: center;
}

#GameName {
	@include library.header-secondary;
}

#PartnerEventRowCapsule {
	margin-right: var(--library_spacing);

	&_MainImageContainer {
		border-radius: var(--border-radius-large);
	}

	&_TextCtn {
		color: inherit;
		padding: 0;
		margin-top: var(--library_spacing-x05);
	}

	&_TextTitle {
		@include library.header-primary;
	}
}

#SettingsButton {
	@include style.icon("settings", "svg");

	margin: 0;
}
