#TimelineAndControls {
	gap: var(--library--spacing);

	& > div:first-child {
		margin: 0;
	}
}

#TimelineContainer {
	// From #clipmanager_OpenedItemHeaderControls
	background: linear-gradient(
		hsla(from var(--listitem--item-gradient-end) h s l / 1),
		hsla(from var(--listitem--item-gradient-start) h s l / 1)
	);
	border-block-start: 1px solid var(--listitem--item-border);
	padding: var(--library--spacing);
}

#VideoPlayerContainer {
	background: none;
	box-shadow: none;
}
