@use "mixins/modal";

#ActionButton,
#CancelButton {
	@include modal.button;

	flex-grow: 0;
}

#ButtonRow {
	gap: var(--library_spacing-x05);
	justify-content: end;
	margin: 0;
}

#DialogCarrot {
	display: none;
}

#DialogInner {
	@include modal.container;

	box-shadow: var(--popup-shadow);
	padding: var(--library_spacing);
}

#ExplainerText {
	@include modal.description;

	margin-block: var(--library_spacing-x05);
}

#MultiSelectActionDialogContainer {
	animation: dropfade var(--anim-time) ease-in;
	box-shadow: none;
	inset: 0;
	margin: auto;
	position: fixed;

	&::before {
		@include modal.overlay;

		content: "";
		inset: 0;
		position: fixed;
		z-index: -1;
	}
}

#Title {
	@include modal.header;

	margin: calc((var(--library_spacing) + var(--library_border-size)) * -1);
	margin-block-end: 0;
	width: calc(
		100% + var(--library_spacing) * 2 + var(--library_border-size) * 2
	);
}
