@use "shared/extends/library";
@use "shared/extends/style";

#ButtonContainer {
	margin-top: calc(var(--library_spacing-x05) * -1);

	flex-wrap: wrap;
}

#FeaturedItem {
	align-items: start;
}

#FeaturedItemDesc {
	@include library.description;

	max-width: unset;
	-webkit-line-clamp: 4;
}

#FeaturedItemHeader {
	display: none;
}

#FeaturedItemHideButton {
	// also TODO
	width: 32px;
}

#FeaturedItemLink {
	@include style.link;

	font: inherit;
	padding: 0;
	margin: 0;
}

#FeaturedItemName {
	@include library.header;

	margin: 0;
}

#WorkshopContainer {
	background: none;
}
