@use "shared/extends/library";

#FriendsOverflow {
	width: 100%;
}

#ShowMore {
	@include library.button;

	margin-top: var(--library_spacing-x05);
}

#Subsection {
	padding-bottom: var(--library_spacing);
	margin-bottom: var(--library_spacing);
}

#SubsectionHeader {
	color: inherit;
	font-size: var(--font-size);
	padding-bottom: 9px;
}
