@use "shared/extends/controls";
@use "shared/extends/style";

@mixin _details-section {
	gap: var(--library_text-spacing);
	padding: 0;
	margin: 0;

	flex-direction: row;
	align-items: center;

	&::before {
		content: "";

		@include style.icon;
	}
}

#ActionSection {
	margin: 0;
}

#Container:not(#InPage),
#StickyHeaderShadow {
	display: none;
}

#ClickablePlayBarItem {
	@include style.link;

	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

#Container {
	position: absolute;
	top: calc(
		var(--library_header-img-height) * -1 + var(--library_body-spacing) * 2 +
			1lh + 9px
	);

	svg * {
		display: none;
	}
}

#DetailsProgressContainer {
	display: none;
}

#DetailsSection {
	@include _details-section;

	&#Downloading {
		--icon: var(--icon-download);
	}
}

#DetailsSectionExtra {
	overflow: visible;
}

#GameStat {
	padding: 0;
	margin: 0;
}

#GameStatIcon,
#GameStatIconForced {
	display: none;
}

#GameStatRight {
	@include _details-section;

	#CloudStatusSyncFail & {
		--icon: var(--icon-cancel);
	}

	#LastPlayed & {
		--icon: var(--icon-calendar);
	}

	#SuperimposedGridItems & {
		--icon: var(--icon-checkmark);
	}

	// Duplicate info
	#MiniAchievements & {
		display: none;
	}

	#Playtime & {
		--icon: var(--icon-clock);
	}
}

#GameStatsSection {
	gap: var(--library_game-stat-spacing);

	flex-direction: column;
	flex-wrap: nowrap;
}

#HideWhenNarrow {
	display: flex;
}

#InnerContainer {
	padding: 0 var(--library_body-spacing);
	margin-left: calc(
		var(--library_icon-size) + var(--library_spacing)
	);
}

#PlayBar {
	background: none;
	margin: 0;
}

#PlayBarDetailLabel {
	color: var(--fg-main);
	font-size: var(--font-size);
	line-height: 1;
}

// Used in sticky header, no longer useful
#PlayBarIconAndGame {
	display: none;
}

#PlayBarLabel {
	color: var(--blue-text);
	font-size: var(--font-size);
	font-weight: bold;
	letter-spacing: 0;
	line-height: 1;
	text-transform: unset;

	&::after {
		content: ":";
	}

	#Downloading &,
	&:only-child {
		&::after {
			display: none;
		}
	}
}

#RightControls {
	display: none;
}

#StatusAndStats {
	gap: var(--library_game-stat-spacing);
	margin-left: 14px;

	flex-direction: column;
	flex-wrap: unset;
	max-height: unset;
}

#StatusNameContainer {
	height: unset;
}
