@use "shared/extends/controls";
@use "shared/extends/library";
@use "shared/extends/style";

#AchievementProgressContainer {
	@include controls.progress-bar-outer;

	margin-top: 8px;
	margin-bottom: 0;
}

#AchievementProgress {
	@include controls.progress-bar-inner;
}

#Additional {
	margin: 0;

	#Featured + & {
		border-bottom: var(--library_border);
		padding: var(--library_spacing);
		margin: 0 calc(var(--library_spacing) * -1);
	}
}

#AdditionalItem:not(#RemainderContainer) {
	box-shadow: var(--achievementiconbase_border);
	margin-right: var(--library_spacing-x05);

	height: unset;
}

#Desc {
	@include library.description;

	line-height: unset;

	-webkit-line-clamp: 1;

	#RemainderContainer & {
		all: unset;

		@include style.link;
	}
}

#Featured {
	background-color: #d1e1b9;
	border-bottom: var(--library_border);
	padding: 0 var(--library_spacing);
	margin: calc(var(--library_spacing) * -1);
	margin-bottom: 0;
}

#Label {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	font-size: var(--font-size-small);
	margin-bottom: 9px;
}

#Name {
	@include library.header;
}

#Remainder {
	@include library.button;

	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--achievementiconbase_size);
	height: var(--achievementiconbase_size);
}

#RemainderContainer {
	border-radius: var(--border-radius);

	height: unset;
}

#RemainderText {
	all: unset;
}

#Ribbon {
	display: none;
}

#UnachievedSection {
	border-top: none;
	padding: var(--library_spacing);
	margin: 0 calc(var(--library_spacing) * -1);

	&:only-of-type {
		margin-top: calc(var(--library_spacing) * -1);
	}
}

#UnlockedLabel {
	color: inherit;
}

#UnlockedLabelPercent {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
}
