@use "shared/extends/library";

#Badge {
	margin: 0;
	margin-right: var(--library_spacing);

	width: var(--library_icon-size);
	height: var(--library_icon-size);

	&#EmptyCircle {
		@include library.placeholder;
	}
}

#BadgeLevel {
	@include library.description;
}

#BadgeName {
	@include library.header;
}

#CardsLeft {
	display: none;
}
