@use "shared/extends/controls";
@use "shared/extends/library";

#AchievementProgressContainer {
	@include controls.progress-bar-outer;

	margin-top: 8px;
	margin-bottom: 0;
}

#AchievementProgress {
	@include controls.progress-bar-inner;
}

#Additional {
	padding: var(--library_spacing);
	margin: 0 calc(var(--library_spacing) * -1);
}

#AdditionalItem:not(#RemainderContainer) {
	box-shadow:
		inset -1px -1px #fff,
		inset 1px 1px #3c5678;
	margin-right: var(--library_spacing-x05);

	height: unset;
}

#Desc {
	@include library.description;

	line-height: unset;

	-webkit-line-clamp: 1;
}

#Featured {
	background-color: #d1e1b9;
	border-bottom: var(--library_border);
	padding: 0 var(--library_spacing);
	margin: calc(var(--library_spacing) * -1);
	margin-bottom: 0;
}

#Label {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	font-size: var(--font-size-small);
	margin-bottom: 9px;
}

#Name {
	@include library.header;
}

#Remainder {
	@include library.button;

	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--library_icon-size);
	height: var(--library_icon-size);
}

#RemainderContainer {
	border-radius: var(--border-radius);

	height: unset;
}

#RemainderText {
	all: unset;
}

#Ribbon {
	display: none;
}

#UnachievedSection {
	border-top: var(--library_border);
	padding: var(--library_spacing);
	margin: 0 calc(var(--library_spacing) * -1);

	#Additional {
		padding-block: 0;
	}
}

#UnlockedLabel {
	color: inherit;
}

#UnlockedLabelPercent {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
}
