@use "shared/extends/library";

#ActivityFeedContainer {
	max-width: unset;
}

#FetchMoreContainer {
	margin-top: var(--library_spacing-x05);
	margin-bottom: 0;
}

#NoActivity {
	@include library.placeholder;

	color: inherit;
	font-size: var(--font-size);
	margin-bottom: var(--library_spacing-x05);

	min-height: unset;
}

#ViewLastNews {
	@include library.button;
}
