@use "shared/extends/controls";
@use "shared/extends/style";

@mixin _details-section {
	gap: var(--library_text-spacing) !important;
	padding: 0 !important;
	margin: 0 !important;

	flex-direction: row !important;
	align-items: center !important;

	&::before {
		content: "";

		@include style.icon;
	}
}

#ActionSection {
	margin: 0 !important;
}

#Container:not(#InPage),
#StickyHeaderShadow {
	display: none !important;
}

#ClickablePlayBarItem {
	@include style.link;

	background: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

#Container {
	position: absolute !important;
	top: calc(
		var(--library_header-img-height) * -1 + var(--library_body-spacing) * 2 +
			1lh + 9px
	) !important;

	svg * {
		display: none !important;
	}
}

#DetailsProgressContainer {
	display: none !important;
}

#DetailsSection {
	@include _details-section;

	&#Downloading {
		--icon: var(--icon-download);
	}
}

#DetailsSectionExtra {
	overflow: visible !important;
}

#GameStat {
	margin: 0 !important;
}

#GameStatIconForced {
	display: none !important;
}

#GameStatRight {
	@include _details-section;

	#CloudStatusSyncFail & {
		--icon: var(--icon-cancel);
	}

	#LastPlayed & {
		--icon: var(--icon-calendar);
	}

	#SuperimposedGridItems & {
		--icon: var(--icon-checkmark);
	}

	// Duplicate info
	#MiniAchievements & {
		display: none !important;
	}

	#Playtime & {
		--icon: var(--icon-clock);
	}
}

#GameStatsSection {
	gap: var(--library_game-stat-spacing) !important;

	flex-direction: column !important;
	flex-wrap: nowrap !important;
}

#HideWhenNarrow {
	display: flex !important;
}

#InnerContainer {
	padding: 0 var(--library_body-spacing) !important;
	margin-left: calc(
		var(--library_icon-size) + var(--library_spacing)
	) !important;
}

#PlayBar {
	background: none !important;
	margin: 0 !important;
}

#PlayBarDetailLabel {
	color: var(--fg-main) !important;
	font-size: var(--font-size) !important;
	line-height: 1 !important;
}

// Used in sticky header, no longer useful
#PlayBarIconAndGame {
	display: none !important;
}

#PlayBarLabel {
	color: var(--blue-text) !important;
	font-size: var(--font-size) !important;
	font-weight: bold !important;
	letter-spacing: 0 !important;
	line-height: 1 !important;
	text-transform: unset !important;

	&::after {
		content: ":";
	}

	#Downloading &,
	&:only-child {
		&::after {
			display: none !important;
		}
	}
}

#RightControls {
	display: none !important;
}

#StatusAndStats {
	gap: var(--library_game-stat-spacing) !important;
	margin-left: 14px !important;

	flex-direction: column !important;
	flex-wrap: unset !important;
	max-height: unset !important;
}

#StatusNameContainer {
	height: unset !important;
}
