@use "shared/extends/library";

#FriendsOverflow {
	width: 100%;
}

#LabelHolder {
	padding-top: 0;
}

#ShowMore {
	@include library.button;

	margin-top: var(--library_spacing-x05);
}

#Subsection {
	border-bottom: var(--library_border);
	padding-bottom: var(--library_spacing);
	margin-bottom: var(--library_spacing);

	&:last-of-type {
		border: none;
		padding: 0;
		margin: 0;
	}
}

#SubsectionHeader {
	color: inherit;
	font-size: var(--font-size);
	padding-bottom: var(--library_text-spacing);
}
