@use "shared/extends/library";

#ButtonsGroup {
	flex-wrap: wrap;
}

#CommentIcon,
#UpVotesIcon {
	display: none;
}

#CommentCount {
	color: inherit;
	font-weight: bold;
}

#CommentsContainer {
	font-size: var(--font-size);
}

#CommentsLabel {
	color: inherit;
}

#PlayedForTime {
	@include library.description;

	font-weight: normal;
	padding: 0;
}

#ReviewDescription {
	@include library.header;
}

#ReviewIcon {
	border-radius: var(--border-radius);
	margin-right: var(--library_spacing);

	width: var(--library_icon-size);
	height: var(--library_icon-size);
}

#ReviewText {
	color: inherit;
	font-size: var(--font-size);
}

#VoteUpDownContainer {
	padding: 0;

	:last-child {
		margin-inline-end: 0;
	}
}
