@import "../shared/extends/style.css";

#AddGameButton {
	&::after {
		content: "";

		background-color: var(--blue-text);
		mask-image: var(--icon-arrow-bottom);

		width: 7px;
		height: 4px;
	}
}

#BottomBar {
	@extend %blue-bar;
	box-shadow: none !important;

	flex: unset !important;
}

#AddGameButton,
#DownloadStatusContent,
#FriendsButton {
	gap: 4px !important;
	padding: 0 !important;
}

#Icon {
	background-image: var(--icon) !important;

	order: -1 !important;

	#AddGameButton & {
		--icon: var(--icon-add);
	}

	#DownloadStatusContent & {
		--icon: var(--icon-download);
	}

	#FriendsButton & {
		--icon: var(--icon-users);
	}

	svg {
		display: none !important;
	}
}

#Text,
#Queue {
	color: var(--blue-text) !important;
}
