#AddGameButton {
	&::after {
		content: "";

		/* TODO: function ? */
		background-color: var(--text);
		-webkit-mask-image: var(--icon-arrow-bottom);
		/* how the fuck is that not centered ? */
		margin-top: 1px;

		width: 7px;
		height: 4px;
	}
}

#BottomBar {
	--text: #2f4360;
	--blue-dark: #bcd0e8;
	--blue-light: #d3dfed;

	background-image: linear-gradient(
		180deg,
		var(--blue-light),
		var(--blue-dark),
		var(--blue-light)
	) !important;
	box-shadow: none !important;
	padding: 8px 12px !important;

	flex: unset !important;
}

#AddGameButton,
#DownloadStatusContent,
#FriendsButton {
	gap: 4px !important;
	padding: 0 !important;
}

#Icon {
	background-image: var(--icon) !important;

	order: -1 !important;

	#AddGameButton & {
		--icon: var(--icon-add);
	}

	#DownloadStatusContent & {
		--icon: var(--icon-download);
	}

	#FriendsButton & {
		--icon: var(--icon-users);
	}

	svg {
		display: none !important;
	}
}

#Text,
#Queue {
	color: var(--text) !important;
}
