#BottomBar {
	--text: #2f4360;
	--blue-dark: #bcd0e8;
	--blue-light: #d3dfed;

	background-image: linear-gradient(
		180deg,
		var(--blue-light),
		var(--blue-dark),
		var(--blue-light)
	) !important;
	box-shadow: none !important;
	padding: 8px 12px !important;

	flex: unset !important;
}

#AddGameButton,
#DownloadStatusContent,
#FriendsButton {
	gap: 4px !important;
	padding: 0 !important;
}

/* TODO: replace icons */
#Icon {
	color: var(--text) !important;

	order: -1 !important;
}

#Text,
#Queue {
	color: var(--text) !important;
}
