:root {
	--steamdesktop_border-size: 1px;
	--steamdesktop_window-size: calc(100% - var(--steamdesktop_border-size) * 2);
}

#FocusBar {
	display: none !important;
}

#OuterFrame {
	gap: 2px !important;
	margin: var(--steamdesktop_border-size) !important;

	width: var(--steamdesktop_window-size) !important;
	height: var(--steamdesktop_window-size) !important;
}

#Wrapper {
	background-image: linear-gradient(0deg, transparent 96.5%, #82b4ff1a 100%),
		linear-gradient(180deg, #293b53 0%, #112034 100%) !important;
	border: none !important;
}
