#ContentFrame {
	margin: var(--border-size) !important;
}

#FocusBar {
	display: none !important;
}

#OuterFrame {
	--border-size: 1px;
	--window-size: calc(100% - calc(var(--border-size) * 2));

	gap: var(--border-size) !important;
	margin: var(--border-size) !important;

	width: var(--window-size) !important;
	height: var(--window-size) !important;
}

#Wrapper {
	background-image: linear-gradient(180deg, #304562, #0f1e30 25%) !important;
	border: 1px solid #060d14 !important;
	/* TODO doesn't work for no reason, ofc
	border-image: linear-gradient(180deg, #131b27, #060d14) 1;
	*/
}
