@use "mixins/library";

#AchievementSearchHeader {
	gap: var(--library--spacing-x05);
	margin-block-end: calc(
		var(--library--spacing) + var(--achievementslist--virt-list-gap) / 2
	);
}

#Content {
	gap: var(--library--spacing-x05);
	text-shadow: var(--library--header-text-shadow);
}

#Progress {
	backdrop-filter: blur(3px);
	margin-block-start: 4px;
}

#ProgressLabel {
	gap: 4px;
	justify-content: start;

	#Label {
		color: var(--library--button-text);
		font-size: var(--text--font-size-md);
		font-weight: normal;
		letter-spacing: 0;
		text-transform: none;

		&:last-child {
			opacity: var(--library--secondary-text-opacity);
		}
	}
}

#Ribbon {
	display: none;
}

#StatsBlock {
	background: none;
	padding: 0;
	margin-inline-start: calc(
		var(--library--icon-size) + var(--library--spacing)
	);
}

// Always display it so it can be made consistent with app details
#Title {
	align-items: center;
	color: var(--blue-text);
	font-size: var(--text--font-size-xl);
	font-weight: bold;
	display: flex;

	#GameIcon {
		height: var(--library--icon-size);
		margin-inline-end: var(--library--spacing);
		width: var(--library--icon-size);
	}
}
