@use "mixins/library";

#AchievementSearchHeader {
	gap: var(--library_spacing-x05);
	margin-block-end: calc(
		var(--library_spacing) + var(--achievementslist_virt-list-gap) / 2
	);
}

#Content {
	gap: var(--library_spacing-x05);
}

#Progress {
	backdrop-filter: blur(3px);
	margin-block-start: 4px;
}

#ProgressLabel {
	gap: 4px;
	justify-content: start;

	#Label {
		color: var(--library_button-text);
		font-size: var(--font-size);
		font-weight: normal;
		letter-spacing: 0;
		text-transform: none;

		&:last-child {
			opacity: var(--library_secondary-text-opacity);
		}
	}
}

#Ribbon {
	display: none;
}

#StatsBlock {
	background: none;
	padding: 0;
	margin-inline-start: calc(var(--library_icon-size) + var(--library_spacing));
}

// Always display it so it can be made consistent with app details
#Title {
	align-items: center;
	color: var(--blue-text);
	font-size: var(--font-size-xlarge);
	font-weight: bold;
	display: flex;

	#GameIcon {
		height: var(--library_icon-size);
		margin-inline-end: var(--library_spacing);
		width: var(--library_icon-size);
	}
}
