@use "mixins/tab";

#FixCenterAlignScroll {
	gap: 0;
	margin-block-start: var(--library_spacing);
	padding: 0;
}

#Tab {
	@include tab.item($selected: "&#Selected");

	color: var(--blue-text);
	height: unset;
	letter-spacing: 0;
	text-transform: none;
}

#TabContentsScroll {
	padding: 0;
	margin-block-start: 46px;
}

#TabHeaderRowWrapper {
	padding: 0;

	&#ScrolledDown {
		&::before {
			display: none;
		}
	}
}

#TabRow {
	@include tab.container;
}
