#FixCenterAlignScroll {
	gap: 0;
	margin-block-start: var(--library_spacing);
	padding: 0;
}

#Tab {
	color: var(--blue-text);
	font-weight: normal;
	height: unset;
	letter-spacing: 0;
	padding: var(--supernav_tab-spacing-y) 12px;
	position: relative;
	text-transform: none;

	&#Selected {
		--inverse-border-color: var(--supernav_tab-gradient-end);
		background-image: linear-gradient(#fff, var(--supernav_tab-gradient-end));
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		box-shadow: inset 0 1px #ccddf2;
	}

	&::before,
	&::after {
		box-shadow: 0 var(--supernav_inverse-border-size)
			var(--inverse-border-color);
		content: "";
		height: calc(var(--supernav_inverse-border-size) * 2);
		inset-block-end: 0;
		position: absolute;
		width: var(--supernav_inverse-border-size);
		z-index: 1;
	}

	&::before {
		border-end-end-radius: var(--supernav_inverse-border-size);
		inset-inline-start: calc(var(--supernav_inverse-border-size) * -1);
	}

	&::after {
		border-end-start-radius: var(--supernav_inverse-border-size);
		inset-inline-end: calc(var(--supernav_inverse-border-size) * -1);
	}
}

#TabContentsScroll {
	padding: 0;
	margin-block-start: 46px;
}

#TabHeaderRowWrapper {
	padding: 0;

	&#ScrolledDown {
		&::before {
			display: none;
		}
	}
}

#TabRow {
	border-bottom: 2px solid var(--supernav_tab-gradient-end);
}
