#Container {
	background: transparent !important;
	gap: 1px !important;
}

#GameListHomeAndSearch {
	box-shadow: none !important;
	padding: 0 !important;

	flex-direction: column !important;
	height: unset !important;
	order: 1 !important;
}
