@import "../shared/extends.css";

#Arrow {
	@extend %arrow;
	background-color: var(--blue-text);
}

#Bar {
	padding: 3px 3px 0 !important;

	/* for part */
	order: -1 !important;
	z-index: 1 !important;
}

#CheckboxWithImage {
	@extend %white-gradient;
	border: 1px solid transparent !important;
	padding: 2px 3px !important;
	margin: 0 !important;
	margin-left: 3px !important;

	box-sizing: content-box !important;
	width: var(--icon-size) !important;
	height: var(--icon-size) !important;

	/* TODO: just use an image, fuck this */
	&#Active {
		--wg-size: 7px;
		--wg-opacity-1: 0.2;
		--wg-opacity-2: 0.15;
		--bg: #64c2f8;

		background-image: linear-gradient(180deg, var(--bg), var(--bg)),
			var(--white-gradient);
		border-image: linear-gradient(180deg, #4a91b9, #8abdda) 1 !important;
		border-radius: 2px !important;
		box-shadow: 0 0 0 1px #bbe7ff !important;
	}

	/* Don't want icons to be in the same shit as gradients */
	&::before {
		content: "";

		width: var(--icon-size);
		height: var(--icon-size);

		background-image: var(--icon) !important;
	}

	&:nth-last-child(3) {
		--icon: var(--icon-windows);
	}

	&:nth-last-child(2) {
		--icon: var(--icon-sort-last-played);
	}

	&:nth-last-child(1) {
		--icon: var(--icon-play);
	}
}

#MenuHeader {
	background-color: #fff !important;
	color: var(--blue-text) !important;
	font-size: 12px !important;
	border: 1px solid #5a7eaa !important;
	border-radius: 0 !important;
	padding: 2px 5px !important;

	height: unset !important;
}

#ScrollToTop {
	display: none !important;
}

#ViewFiltersBar {
	margin: 0 !important;

	/* TODO: ?????????? */
	display: contents !important;

	svg {
		display: none !important;
	}
}
