@use "shared/extends/library";
@use "shared/extends/style";

#Blur,
#ImageContainer,
#MediumImageContainer {
	display: none;
}

#DayPosted {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#Event {
	background: none;
	font-size: var(--font-size);
	border: none;
	box-shadow: none;
	margin: calc(var(--library_spacing-x05) * -1);
	margin-top: calc(var(--library_spacing) * -1);
}

#PartnerEventFeaturedHeader {
	@include style.section-header;

	text-transform: unset;
	line-height: unset;
	margin-inline: calc(var(--library_border-size) * -1);
}

#PartnerEventTextOnly,
#PartnerEventLargeImage,
#PartnerEventMediumImage {
	&_Container {
		background: none;
	}

	&_Summary {
		@include library.header-secondary;

		text-shadow: none;

		order: 1;
	}

	&_TextColumn {
		text-shadow: none;
		padding: 0;
		margin: 0;

		display: flex;
		flex-direction: column;
	}

	&_Title {
		@include library.header-primary;

		text-shadow: none;
	}
}

#PartnerEventLargeImage,
#PartnerEventMediumImage {
	&_Contents {
		padding: var(--library_spacing);
	}
}

#PartnerEventType {
	@include library.header-secondary;

	text-shadow: none;
	text-transform: unset;
	margin-top: 10px;

	order: 1;
}
