@use "shared/extends/controls";
@use "shared/extends/style";

#ButtonChild {
	@include controls.button;

	padding-inline: 8px;
}

#ButtonText {
	all: unset;
}

#PlayButton {
	#ShowingStreaming & {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	svg {
		@include style.icon;

		margin-right: 6px;

		// TODO: refactor - move these somewhere one day
		&.SVGIcon_Download {
			--icon: var(--icon-download);
		}

		&.SVGIcon_Play {
			--icon: var(--icon-play);
		}

		&.SVGIcon_Pause,
		&.SVGIcon_X_Line {
			--icon: var(--icon-cancel);
		}

		&:not(.SVGIcon_Button) {
			--icon: var(--icon-update);
		}
	}
}

#PlayButtonContainer {
	display: inline-flex;
	min-width: unset;
	height: unset;

	svg * {
		display: none;
	}
}

#StreamingSelector {
	--size: 23px;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 2px;

	width: var(--size);
	height: var(--size);

	svg {
		@include style.arrow("bottom");

		background-color: var(--blue-text);

		transform: unset;
	}
}
