@use "../../../shared/extends/library";
@use "../../../shared/extends/style";

#Blur,
#ImageContainer,
#MediumImageContainer {
	display: none !important;
}

#DayPosted {
	color: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
}

#Event {
	background: none !important;
	font-size: var(--font-size) !important;
	border: none !important;
	box-shadow: none !important;
	margin: calc(var(--library_spacing-x05) * -1) !important;
	margin-top: calc(var(--library_spacing) * -1) !important;
}

#PartnerEventFeaturedHeader {
	@extend %section-header;

	text-transform: unset !important;
	line-height: unset !important;
	margin-inline: calc(var(--library_border-size) * -1) !important;
}

#PartnerEventTextOnly,
#PartnerEventLargeImage,
#PartnerEventMediumImage {
	&_Container {
		background: none !important;
	}

	&_Summary {
		opacity: var(--library_secondary-text-opacity) !important;
		color: inherit !important;
		font-size: inherit !important;
		text-shadow: none !important;

		order: 1 !important;
	}

	&_TextColumn {
		text-shadow: none !important;
		padding: 0 !important;
		margin: 0 !important;

		display: flex;
		flex-direction: column;
	}

	&_Title {
		@extend %library_header;

		font-size: 10pt !important;
		text-decoration: underline !important;
		text-shadow: none !important;
	}
}

#PartnerEventLargeImage,
#PartnerEventMediumImage {
	&_Contents {
		padding: var(--library_spacing) !important;
	}
}

#PartnerEventType {
	opacity: var(--library_secondary-text-opacity) !important;
	color: inherit !important;
	font-size: inherit !important;
	font-weight: bold !important;
	text-shadow: none !important;
	text-transform: unset !important;
	margin-top: 10px !important;

	order: 1 !important;
}
