@use "shared/extends/library";

#AppDetailsSection {
	color: var(--blue-text);
	margin-bottom: var(--library_spacing);
}

#AppDetailsSectionContainer {
	box-shadow: none;
	margin: 0;
}

#Body {
	@include library.section;

	padding: var(--library_spacing);
}

#ButtonContainer {
	gap: var(--library_spacing-x05);
}

#Highlight {
	background: none #cedef2;
	color: #273b5c;
	font-size: var(--font-size);
	border: var(--library_border);
	border-top: none;
	border-radius: 0;
	box-shadow: none;
	padding: var(--library_spacing);
	margin: 0;
}
