@use "shared/extends/style";

#SectionHeader {
	@include style.section-header;

	letter-spacing: unset !important;
	text-transform: unset !important;

	width: 100%;
}

#Label {
	justify-content: space-between !important;
	flex-grow: 1 !important;
}
