#Backdrop {
	display: none;
}

#ColumnContainer {
	padding: var(--library_body-spacing);
	padding-top: 0;
}

#LeftColumn {
	// shit layout
	width: calc(67% - var(--library_spacing));
}

#RightColumn {
	margin-left: var(--library_spacing);
}

#Spotlights {
	padding: 0;
}
