:root {
	// shit layout
	--appdetails_left-column-size: calc(67% - var(--library_spacing));
}

#Backdrop {
	display: none !important;
}

#ColumnContainer {
	padding: var(--library_body-spacing) !important;
	padding-top: 0 !important;
}

#LeftColumn {
	width: var(--appdetails_left-column-size);
}

#RightColumn {
	margin-left: var(--library_spacing) !important;
}

#Spotlights {
	padding: 0 !important;

	width: var(--appdetails_left-column-size);
}
