@use "shared/extends/controls";
@use "shared/extends/style";

#Controls {
	padding: 0;
	margin: var(--library_spacing-x05) 0;

	max-height: unset;
}

#EmoticonButton {
	background-color: transparent;
	gap: var(--library_spacing-x05);

	width: unset;
	height: unset;

	&:disabled {
		opacity: 0.75;
	}

	& > div {
		display: none;
	}

	&::before {
		content: "";

		--icon: var(--icon-smiley);

		@include style.icon;
	}

	&::after {
		content: "";

		background-color: var(--blue-text);

		@include style.arrow;
	}
}

#Label {
	color: inherit;
}

#PostButton {
	@include controls.button;

	gap: var(--library_spacing-x05);

	display: flex;
	align-items: center;
	width: unset;

	&::before {
		content: "";

		--icon: var(--icon-blue-arrow);

		@include style.icon;
	}
}

#PostTextEntryArea {
	@include controls.text-input;

	width: 100%;
	min-height: 40px;
}
