#Backdrop {
	display: none !important;
}

#ColumnContainer {
	padding: var(--library_body-spacing) !important;
	padding-top: 0 !important;
}

#LeftColumn {
	// shit layout
	width: calc(67% - var(--library_spacing));
}

#RightColumn {
	margin-left: var(--library_spacing) !important;
}

#Spotlights {
	padding: 0 !important;
}
