@use "shared/extends/controls";

#HeaderStyles {
	border-radius: 0 !important;
	margin: 0 !important;
}

#LoadContentButton {
	@include controls.button;

	margin: var(--library_spacing) !important;
}
