@use "shared/extends/library";

#EventDaySeparator {
	background-color: var(--library_border-color);
	margin: 0;

	width: var(--library_border-size);
}

#EventHeaderBlock {
	@include library.header;

	margin-bottom: var(--library_text-spacing);

	height: 1lh;
}

#ForcedCarouselPadding {
	display: none;
}

#GamePlaySummaryContainer {
	margin-bottom: var(--library_spacing);

	&:not(:first-child) {
		margin-top: var(--library_spacing);
	}
}

#GamePlaySummaryHeader {
	all: unset;
}

#SummaryCarouselContainer {
	padding: 0;

	height: unset;

	&::after {
		display: none;
	}
}

#SummaryContainer {
	margin: var(--library_spacing);

	height: unset;
}

#TypeSeparator {
	display: none;
}
