@use "mixins/list";
@use "mixins/style";

@mixin container {
	background: var(--contextmenu--container-bg);
	border: 1px solid var(--contextmenu--container-border-outer);
	box-shadow:
		var(--popup-shadow),
		inset 0 0 0 var(--contextmenu--container-spacing)
			var(--contextmenu--container-border-inner);
	padding: var(--contextmenu--container-spacing);
}

@mixin container-child($offset) {
	--offset: #{$offset};

	margin-inline-start: var(--offset);
	margin-block-start: var(--offset);
}

@mixin container-left-border {
	&::before {
		border-inline-start: 1px solid var(--contextmenu--separator-light);
		box-shadow: -1px 0 var(--contextmenu--separator-dark);
		content: "";
		position: absolute;
		inset-block: 0;
		inset-inline-start: var(--contextmenu--left-spacing);
	}
}

/// @param {"checkmark" | "radio"} $what
@mixin icon($what) {
	--offset: -1px;

	@include list.item-active;

	background-image:
		var(--icon-context-menu-#{$what}), var(--listitem--item-gradient);
	background-position: center;
	border-radius: var(--rounding-md);
	height: var(--contextmenu--item-height);
	inset-block-start: var(--offset);
	inset-inline-start: var(--offset);
	position: absolute;
	width: var(--contextmenu--item-height);
}

@mixin icon-pos {
	height: var(--icon-size-sm);
	inset-inline-start: 4px;
	position: absolute;
	width: var(--icon-size-sm);
}

@mixin item {
	@include list.item;

	padding: 3px calc(8px * 2 + 4px) 3px
		calc(5px + var(--contextmenu--left-spacing));
	position: relative;
	// #contextmenu_UpperCase
	text-transform: unset;

	&:focus {
		@include list.item-active;
	}
}

@mixin separator {
	--offset: calc(1px + var(--contextmenu--container-spacing));

	border-block-start: 1px solid var(--contextmenu--separator-light);
	box-shadow: 0 -1px var(--contextmenu--separator-dark);
	margin: 5px 0 2px calc(var(--contextmenu--left-spacing) + var(--offset));
}

@mixin submenu-arrow {
	@include style.arrow("right");

	background-color: var(--listitem--fg);
	position: absolute;
	inset-inline-end: 8px;
}
