@use "mixins/style";

/*#region CONTROLS */
@mixin button {
	@include style.lighter($opacity: 0.35);
	@include style.white-gradient($size: 9px);

	background:
		linear-gradient(
			0deg,
			var(--library_button-bg-1) 9%,
			var(--library_button-bg-2) 54%,
			var(--library_button-bg-3)
		),
		var(--lighter-bg), var(--white-gradient);
	border: 1px solid var(--blue-border);
	border-radius: var(--border-radius);
	box-shadow: none;
	color: var(--library_button-text);
	font-size: var(--font-size);
	font-weight: bold;
	text-align: center;
	padding: 2.5px 18px;

	&:active {
		--wg-opacity-1: 0.9;
		--wg-opacity-2: 0.4;
		--lighter-opacity: 0;
	}
}

@mixin button-disabled {
	--wg-opacity-1: 0;
	--wg-opacity-2: 0;

	pointer-events: none;
}

@mixin text-input($compact: false) {
	background-color: #fff;
	border: 1px solid var(--blue-border);
	border-radius: 0;
	box-shadow: none;
	color: var(--fg-main);
	font-size: var(--font-size);
	line-height: 18px;
	padding: #{$compact and 0 or 3px} 6px;

	&::placeholder {
		color: #7f7f7f;
	}
}

/*#endregion*/
/*#region STYLE */
@mixin placeholder {
	border: var(--library_placeholder-border-size) dashed var(--blue-text);
	border-radius: 0;
	opacity: var(--library_secondary-text-opacity);
	padding: var(--library_spacing);
}

@mixin section {
	background: none var(--library_section-bg);
	border: var(--library_border);
	border-block-start: none;
	border-radius: 0;
}

@mixin section-header {
	@include style.white-gradient(
		$opacity-start: 0.5,
		$opacity-end: 0.15,
		$size: 7px
	);
	--bg: #bdd1ea;

	background-image:
		linear-gradient(180deg, var(--bg), var(--bg)), var(--white-gradient);
	color: var(--blue-text);
	font-size: var(--font-size-small);
	font-weight: bold;
	border: 1px solid var(--library_section-header-border-color);
	padding: var(--library_section-header-spacing-y)
		var(--library_section-header-spacing-x);
}

@mixin spotlight {
	background: var(--library_green);
	border: 1px solid var(--library_green-dark);
	padding: var(--library_spacing);
}

/*#endregion*/
/*#region TEXT */
@mixin description {
	color: inherit;
	font-size: var(--font-size);
	font-style: italic;
	opacity: var(--library_secondary-text-opacity);
}

@mixin header {
	color: inherit;
	font-size: var(--font-size);
	font-weight: bold;
}

@mixin header-primary {
	@include header;

	font-size: 10pt;
	text-decoration: underline;
}

@mixin header-secondary {
	@include header;

	opacity: var(--library_secondary-text-opacity);
}

/*#endregion*/
/*#region ACTIVITY SECTION */
@mixin activity-section_header {
	color: inherit;
	font-size: var(--font-size-large);
	font-weight: bold;
}

@mixin activity-section_rule {
	border-block-start: 1px solid var(--library_border-color);
	border-block-end: 1px solid var(--bg-main);
}
