@use "mixins/style";

@mixin button($icon-name) {
	@include style.icon($icon-name);

	margin: 0;
	opacity: 1;
}

@mixin buttons-container {
	gap: calc(var(--library_section-header-spacing-x) / 2);
	margin-inline-end: var(--library_section-header-spacing-x);

	#Disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	svg {
		display: none;
	}
}
