@mixin header {
	background-color: #dde7ee;
	border-block-end: var(--pagedsettings_separator);
	color: var(--blue-text);
	font: inherit;
	font-weight: bold;
	margin: 0;
	margin-block-end: var(--tabpanel_spacing);
	padding: 6px;
	width: 100%;
}

@mixin separator {
	border-block-start: var(--pagedsettings_separator);
	margin-block-start: 10px;
	padding-block-start: 12px;
}
