@mixin bigger--bg-blur {
	filter: blur(9px) saturate(2);
	mix-blend-mode: screen;
}

@mixin bigger--container {
	@include container;

	padding: 0;
}

@mixin container {
	background: var(--tooltip_background);
	border: 1px solid #767676;
	border-radius: var(--border-radius);
	box-shadow: var(--popup-shadow);
	color: #4c4c4c;
	font-size: var(--font-size);
	padding: 3px 5px 3px 4px;
	text-shadow: none;
}

@mixin separator {
	border-block-start: 1px solid #fff;
	box-shadow: 0 -1px #9ebbdd;
	padding: 2px 0 1px 0;
}
