@use "shared/extends/style";
@use "shared/extends/controls";

.DialogButton {
	@include controls.button;

	box-shadow: none;

	&:is(:disabled, .Disabled) {
		@include controls.button-disabled;
	}

	&::before {
		display: none;
	}
}

.DialogDropDown {
	@include controls.text-input;

	align-items: center;
}

.DialogDropDown_Arrow {
	@include style.arrow("bottom");

	background-color: var(--blue-text);
	margin-left: 6px;

	position: unset;

	svg {
		display: none;
	}
}

.DialogDropDown_CurrentDisplay {
	line-height: 1;

	flex-grow: 1;
}

.DialogInput {
	@include controls.text-input-compact;
}

.DialogToggle_Label {
	color: inherit;
}
