@use "shared/extends/style";
@use "shared/extends/controls";

.DialogButton {
	@include controls.button;

	box-shadow: none !important;

	&:is(:disabled, .Disabled) {
		@include controls.button-disabled;
	}

	&::before {
		display: none !important;
	}
}

.DialogDropDown {
	@include controls.text-input;

	align-items: center !important;
}

.DialogDropDown_Arrow {
	@include style.arrow;

	background-color: var(--blue-text) !important;
	margin-left: 6px !important;

	position: unset !important;

	svg {
		display: none !important;
	}
}

.DialogDropDown_CurrentDisplay {
	line-height: 1 !important;

	flex-grow: 1 !important;
}

.DialogInput {
	@include controls.text-input-compact;
}

.DialogToggle_Label {
	color: inherit;
}
