:root {
	// Design
	--blue-border: 1px solid #5a7eab;
	--blue-text: #304461;
	--blue-dark: #bcd0e8;
	--blue-light: #d3dfed;

	--bg-main: #fff;
	--fg-main: #000;

	--font-size-xlarge: 18pt;
	--font-size-large: 12pt;
	--font-size: 9pt;
	--font-size-small: 8pt;

	--border-radius-large: 5px;
	--border-radius: 2.5px;

	--anim-time: 150ms;
	--icon-size: 16px;
	--popup-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.5);
	--scrollbar-size: 15px;
	--title-bar-height: 32px;

	@media (prefers-reduced-motion: reduced) {
		--anim-time: 0ms;
	}

	// Imitation of native Windows 7 controls
	--dialog_bg: #f0f0f0;
	--dialog_fg: var(--fg-main);

	--listitem_fg: var(--fg-main);
	--listitem_fg-secondary: #6d6d6d;
	--listitem_item-border: rgba(152, 196, 249, 0.75);
	--listitem_item-gradient-start: rgba(245, 250, 255, 0.4);
	--listitem_item-gradient-end: rgba(215, 232, 255, 0.4);
	--listitem_item-gradient: linear-gradient(
		180deg,
		var(--listitem_item-gradient-start),
		var(--listitem_item-gradient-end)
	);
	--listitem_item-inner-border: rgba(243, 248, 254, 0.75);

	--tab_bg-selected: var(--bg-main);
	--tab_border-outer: var(--tabpanel_border);
	--tab_border-inner: #f8f8f8;
	--tabpanel_bg: var(--bg-main);
	--tabpanel_border: #898c95;
	--tabpanel_spacing: 14px;

	--table_bg: var(--bg-main);
	--table_border: #828790;
	--tableheaderrow_border-start: #f2f2f2;
	--tableheaderrow_border-end: #d5d5d5;

	// Componenet vars
	--achievementiconbase_border: inset -1px -1px #fff, inset 1px 1px #3c5678;
	--achievementiconbase_size: 32px;

	--collapseicon_bg: #b5c7e9;
	--collapseicon_border-1: #9dabc1;
	--collapseicon_border-2: #354962;
	--collapseicon_size: 11px;

	--contextmenu_container-bg: #f0f0f0;
	--contextmenu_container-border-inner: #f5f5f5;
	--contextmenu_container-border-outer: #979797;
	--contextmenu_container-spacing: 2px;
	--contextmenu_item-height: 22px;
	--contextmenu_left-spacing: 27px;
	--contextmenu_separator-dark: #e0e0e0;
	--contextmenu_separator-light: #fff;

	--gamelistentry_active-bg: #8dd6ff;

	--library_body-spacing: 16px;
	--library_border-color: #aeb8c6;
	--library_border-size: 1px;
	--library_border: var(--library_border-size) solid var(--library_border-color);
	--library_button-text: #273b5c;
	--library_container-border: var(--library_border-size) solid #39577c;
	--library_game-stat-spacing: 7px;
	--library_green: #d1e1b9;
	--library_green-dark: color-mix(in srgb, var(--library_green) 75%, black);
	--library_header-img-height: 163px;
	--library_header-img-mask: radial-gradient(
		55.62% 83.6% at 35.73% 0%,
		var(--bg-main) 0%,
		transparent 100%
	);
	--library_icon-size: 32px;
	--library_secondary-text-opacity: 0.5;
	--library_section-header-spacing-y: 2.5px;
	--library_section-header-spacing-x: 6px;
	--library_spacing: 12px;
	--library_spacing-x05: calc(var(--library_spacing) / 2);
	--library_text-spacing: 4px;

	--pagedsettings_border: 1px solid var(--tabpanel_border);
	--pagedsettings_dialog-spacing: 6px;
	--pagedsettings_separator: 2px solid #7ba4e0;
	--pagedsettings_tab-separator: #c5c5c5;
	--pagedsettings_tab-separator2: #dde7ee;

	--steamavatar_size: 32px;

	--steamdesktop_border-size: 1px;
	--steamdesktop_top-bar-drag: drag;
	--steamdesktop_spacing: 2px;
	--steamdesktop_window-size: calc(100% - var(--steamdesktop_border-size) * 2);

	--supernav_icon-spacing: 4px;
	--supernav_inverse-border-size: 3px;
	--supernav_tab-gradient-end: #d7e0eb;
	--supernav_tab-spacing-y: 9px;

	--tooltip_background: linear-gradient(180deg, #fff, #c9d9ef);
	--tooltip_description-spacing: 9px;

	&[browsertype="DirectHWND"] {
		--steamdesktop_top-bar-drag: no-drag;
		--supernav_tab-spacing-y: 3px;
	}
}
