@use "mixins/library";

#AddedDate {
	@include library.header;
}

#RecentGame {
	margin-inline-end: var(--library_spacing);
}

#RecentGameMediaContainer {
	margin-block-start: var(--library_text-spacing);
}

#RecentGames {
	padding: var(--library_spacing);
}
