@use "shared/extends/library";
@use "shared/extends/pageablecontainer";

#AddShowcase {
	@include library.button;

	opacity: 1;

	&#Disabled {
		@include library.button-disabled;
	}

	svg {
		width: var(--icon-size);
		height: var(--icon-size);
	}

	line,
	circle {
		stroke: var(--blue-text);
		stroke-width: var(--icon-size);
	}
}

#AddShowcaseRow {
	margin: 0;
	margin-top: calc(var(--library_body-spacing) * -1);
}

#ChildrenContainer {
	margin: 0;

	// #libraryhomeplaynext_PlayNextSubhead
	position: relative;
}

// ty valve for making me duplicate my code, amazing
#Collapser {
	@include pageablecontainer.button("blue-arrow");

	background: none;

	svg {
		all: inherit;

		transform: rotate(90deg);
		background-image: var(--icon);
		background-size: var(--icon-size);

		&[style="transform: rotate(270deg);"] {
			transform: rotate(-90deg);
		}
	}

	polyline {
		display: none;
	}
}

#CountDisplay {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	font-size: inherit;
	line-height: 1;
	margin-left: var(--library_text-spacing);
}

#Message {
	font-size: var(--font-size-xlarge);
}

#PageButtons {
	@include pageablecontainer.buttons-container;

	margin: 0;
}

#PageLeft {
	@include pageablecontainer.button("nav-back");
}

#PageRight {
	@include pageablecontainer.button("nav-forward");
}

#Showcase {
	border: none;
	padding-top: var(--library_spacing);
}

#ShowcaseArrow {
	top: 30px;

	path,
	line {
		stroke: var(--blue-text);
	}
}

#ShowcaseGrid {
	padding: var(--library_spacing);
}

#ShowcaseHeader {
	@include library.section-header;

	background-color: transparent;
	border-radius: 0;
	margin: 0;
}
