@use "shared/extends/library";

#PlayNextSubHead {
	@include library.header;

	letter-spacing: 0;

	position: absolute;
	top: var(--library_spacing);
	left: var(--library_spacing);
	z-index: 1;
}

#PlayNextSuggestion {
	margin-right: var(--library_spacing);
}

#PlayNextSuggestionMediaContainer {
	margin-top: var(--library_text-spacing);
}

#PlayNextSuggestions {
	padding: var(--library_spacing);
	padding-top: calc(var(--library_spacing) + 1lh);

	height: unset;
}
