@use "mixins/library";
@use "mixins/pageablecontainer";

#AddShowcase {
	@include library.button;

	opacity: 1;

	&#Disabled {
		@include library.button-disabled;
	}

	svg {
		height: var(--icon-size-sm);
		width: var(--icon-size-sm);
	}

	line,
	circle {
		stroke: var(--blue-text);
		stroke-width: var(--icon-size-sm);
	}
}

#AddShowcaseRow {
	margin: 0;
	margin-block-start: calc(var(--library--body-spacing) * -1);
}

#ChildrenContainer {
	margin: 0;
	// #libraryhomeplaynext_PlayNextSubhead
	position: relative;
}

// ty valve for making me duplicate my code, amazing
#Collapser {
	@include pageablecontainer.button("blue-arrow");

	background: none;

	svg {
		all: inherit;

		background-image: var(--icon);
		background-size: var(--icon-size-sm);
		transform: rotate(90deg);

		&[style="transform: rotate(270deg);"] {
			transform: rotate(-90deg);
		}
	}

	polyline {
		display: none;
	}
}

#CountDisplay {
	color: inherit;
	font-size: inherit;
	line-height: 1;
	margin-inline-start: var(--library--text-spacing);
	opacity: var(--library--secondary-text-opacity);
}

#Message {
	font-size: var(--text--font-size-xl);
}

#PageButtons {
	@include pageablecontainer.buttons-container;

	margin: 0;
}

#PageLeft {
	@include pageablecontainer.button("nav-back");
}

#PageRight {
	@include pageablecontainer.button("nav-forward");
}

#Showcase {
	border: none;
	padding-block-start: var(--library--spacing);
}

#ShowcaseArrow {
	inset-block-start: 30px;

	path,
	line {
		stroke: var(--blue-text);
	}
}

#ShowcaseGrid {
	padding: var(--library--spacing);
}

#ShowcaseHeader {
	@include library.section-header;

	background-color: transparent;
	border-radius: 0;
	margin: 0;
}
