@use "mixins/library";
@use "mixins/style";

#EventOptions {
	& > div {
		border-radius: var(--border-radius-large);
	}
}

#EventRowCarousel {
	margin: 0;
	padding: var(--library_spacing);
}

#EventSummaryContainer {
	border-radius: var(--border-radius-large);
}

#EventTime {
	@include library.header;

	padding-block-end: var(--library_text-spacing);
}

#GameIcon {
	height: var(--icon-size);
	margin-inline-end: var(--library_text-spacing);
	width: var(--icon-size);
}

#GameIconAndName {
	align-items: center;
	background-color: transparent;
	margin-block-start: var(--library_spacing-x05);
	padding: 0;
}

#GameName {
	@include library.header-secondary;
}

#PartnerEventRowCapsule {
	margin-inline-end: var(--library_spacing);

	&_MainImageContainer {
		border-radius: var(--border-radius-large);
	}

	&_TextCtn {
		color: inherit;
		margin-block-start: var(--library_spacing-x05);
		padding: 0;
	}

	&_TextTitle {
		@include library.header-primary;
	}
}

#SettingsButton {
	@include style.icon("settings", "svg");

	margin: 0;
}
