#Container {
	background-color: var(--bg-main);
	background-image: none;
}

#InnerContainer {
	color: var(--blue-text);
}

#LibraryHome,
#UpdatesContainer {
	background-image: none;
	height: unset;
	padding: var(--library_body-spacing);
}
