@use "mixins/library";

#PlayNextSubHead {
	@include library.header;

	position: absolute;
	inset-block-start: var(--library--spacing);
	inset-inline-start: var(--library--spacing);
	letter-spacing: 0;
	z-index: 1;
}

#PlayNextSuggestion {
	margin-inline-end: var(--library--spacing);
}

#PlayNextSuggestionMediaContainer {
	margin-block-start: var(--text-spacing);
}

#PlayNextSuggestions {
	height: unset;
	padding: var(--library--spacing);
	padding-block-start: calc(var(--library--spacing) + 1lh);
}
