@use "shared/extends/library";

#AppGridSectionFooter {
	display: none;
}

#AppGridSectionHeader {
	padding: 0;
	margin: var(--library_spacing);
	margin-bottom: 0;

	transform: none;
}

#AppGridSectionLabel,
#SortingDropDownLabel {
	color: var(--blue-text);
	font-size: var(--font-size);
	text-transform: none;
	letter-spacing: 0;
	margin: 0;
	margin-right: var(--library_text-spacing);
}

#CollectionOptions {
	padding: var(--library_spacing);
}

#CollectionOptionsRightJustified {
	display: none;
}

#EmptyGridMessageContainer {
	@include library.placeholder;

	margin: var(--library_spacing);
}

#EmptyGridMessageLine {
	color: var(--blue-text);
	font-size: var(--font-size);
	margin: 0;
}

#GridWithControls {
	@include library.section;

	padding: 0;

	.CSSGrid_Measure + div {
		all: unset;
	}
}

#Rule {
	background-image: linear-gradient(
		0deg,
		var(--library_border-color),
		var(--library_border-color)
	);
	margin: 0;
}

#SortingDropDown {
	font-size: inherit;
	margin: 0;

	align-items: center;

	.DialogDropDown {
		margin-left: 0;
	}

	.DialogDropDown_Arrow,
	.DialogDropDown_CurrentDisplay {
		border-radius: 0;
		padding: 0;
	}
}
