@use "../../shared/extends/library";

#EventOptions {
	& > div {
		border-radius: calc(var(--border-radius) * 2) !important;
	}
}

#EventRowCarousel {
	padding: var(--library_spacing) !important;
	margin: 0 !important;
}

#EventTime {
	@extend %library_header;

	padding-bottom: var(--library_text-spacing) !important;
}

#EventSummaryContainer,
#PartnerEventRowCapsule_MainImageContainer {
	border-radius: calc(var(--border-radius) * 2) !important;
}

#PartnerEventRowCapsule {
	margin-right: var(--library_spacing) !important;

	&_TextCtn {
		color: inherit !important;
		padding: 0 !important;
		margin-top: var(--library_text-spacing) !important;
	}

	&_TextTitle {
		@extend %library_description;
	}
}

#SettingsButton {
	background-image: var(--icon-settings) !important;
	margin: calc(var(--library_section-header-spacing-y) * -1) 0 !important;
	margin-left: var(--library_text-spacing) !important;

	/* TODO: put somewhere else once I replace arrows */
	svg {
		display: none !important;
	}
}
