#Container {
	background-color: var(--main-bg) !important;
	background-image: none !important;
}

#InnerContainer {
	color: var(--blue-text) !important;
}

#LibraryHome,
#UpdatesContainer {
	background-image: none !important;
	padding: var(--library_spacing) !important;

	height: unset !important;
}
