@import "../../shared/extends/appdetails.css";

#EventOptions {
	& > div {
		border-radius: calc(var(--border-radius) * 2) !important;
	}
}

#EventRowCarousel {
	padding: var(--libraryhome_spacing) !important;
	margin: 0 !important;
}

#EventTime {
	@extend %appdetails_header;

	padding-bottom: var(--libraryhome_text-spacing) !important;
}

#EventSummaryContainer,
#PartnerEventRowCapsule_MainImageContainer {
	border-radius: calc(var(--border-radius) * 2) !important;
}

#PartnerEventRowCapsule {
	margin-right: var(--libraryhome_spacing) !important;
}

#PartnerEventRowCapsule_TextCtn {
	color: inherit !important;
	padding: 0 !important;
	margin-top: var(--libraryhome_text-spacing) !important;
}

#PartnerEventRowCapsule_TextTitle {
	@extend %appdetails_description;
}

#SettingsButton {
	background-image: var(--icon-settings) !important;
	margin: -2.5px 0 !important;
	margin-left: var(--libraryhome_text-spacing) !important;

	/* TODO: put somewhere else once I replace arrows */
	svg {
		display: none !important;
	}
}
