@import "../../shared/extends/appdetails.css";

#PlayNextSubHead {
	@extend %appdetails_header;

	letter-spacing: 0 !important;

	position: absolute !important;
	top: var(--libraryhome_spacing) !important;
	left: var(--libraryhome_spacing) !important;
	z-index: 1 !important;
}

#PlayNextSuggestion {
	margin-right: var(--libraryhome_spacing) !important;
}

#PlayNextSuggestionMediaContainer {
	margin-top: var(--libraryhome_text-spacing) !important;
}

#PlayNextSuggestions {
	padding: var(--libraryhome_spacing) !important;
	padding-top: calc(var(--libraryhome_spacing) + 1lh) !important;

	height: unset !important;
}
