@use "mixins/library";
@use "mixins/style";

#AdvancedSearchButton {
	@include library.button;

	min-width: unset;
	padding: 2px 3px;

	& > div {
		@include style.icon("settings");
	}

	svg {
		display: none;
	}
}

#AdvancedSearchContainer {
	background-color: transparent;
	border-radius: 0;
	height: unset;
}

#Container {
	background-color: transparent;
	gap: 3px;
	margin: 3px 4px 5px 3px;
	// for part
	order: -1;
	z-index: 1;

	.DialogInput {
		--spacing-x: 5px;

		background-image: icon("search");
		background-position: calc(100% - var(--spacing-x));
		background-repeat: no-repeat;
		font-size: 11px;
		height: unset;
		margin-inline-end: calc(var(--icon-size) + var(--spacing-x) * 2);
	}
}

#SearchInput {
	border-radius: 0;
	min-height: unset;
}
