#Container {
	align-items: center;
	background: none;
	border: none;
	box-shadow: none;
	gap: 6px;
	padding: 0 6px;
}

#SectionCount {
	color: inherit;
	font: inherit;
	height: unset;
	margin: 0;
}

#SectionHeaderContent {
	color: var(--fg-main);
	font-size: 12px;
	gap: 4px;
	padding-block-start: 4px;
}

#SectionName {
	all: unset;
}
