#Container {
	background-image: linear-gradient(0deg, #728fb7 88.41%, #c9d3e1 102.3%);

	& > .part {
		order: -1;
	}
}

#GameListHomeAndSearch {
	--border-size: 1px;

	background-color: transparent;
	box-shadow: none;
	flex-direction: column;
	gap: var(--border-size);
	height: unset;
	margin-block-start: var(--border-size);
	order: 1;
	padding: 0;
}
