@use "mixins/style";

#Container {
	background-color: var(--bg-main);
	font-size: var(--text--font-size-md);
}

#NoResultsLink {
	@include style.link;

	font-weight: normal;
}

#NoResultsTitle {
	font-weight: bold;
}
