#Container {
	background-color: transparent;
	color: var(--fg-main);
	font-size: var(--text--font-size-md);
	border: none;
	box-shadow: none;

	&:is(:hover, #HasContextMenuOpen) {
		background-color: color-mix(
			in srgb,
			var(--gamelistentry--active-bg) 50%,
			transparent
		);
	}

	&#Selected {
		background-color: var(--gamelistentry--active-bg);
	}

	* {
		background-color: transparent;
	}
}

#FriendIsPlaying {
	--offset: 4px;

	background-image: icon("users");
	height: var(--icon-size-sm);
	inset-block-start: var(--offset);
	inset-inline-start: var(--offset);
	width: var(--icon-size-sm);

	svg {
		display: none;
	}
}

#GameListEntryContainer {
	align-items: center;
	padding: 3px 6px 3px 38px;
}
