#Container {
	--icon: icon("minus-small");
	--icon-size: 5px 2px;

	background-image: linear-gradient(
		135deg,
		transparent,
		var(--collapseicon_bg)
	);
	border: 1px solid;
	border-inline-start-color: var(--collapseicon_border-1);
	border-block-start-color: var(--collapseicon_border-1);
	border-inline-end-color: var(--collapseicon_border-2);
	border-block-end-color: var(--collapseicon_border-2);
	border-radius: var(--border-radius);
	height: var(--collapseicon_size);
	padding: 0;
	position: relative;
	width: var(--collapseicon_size);

	&::before {
		background-color: var(--collapseicon_border-2);
		content: "";
		inset: 0;
		mask-image: var(--icon);
		mask-position: 2px;
		mask-repeat: no-repeat;
		mask-size: var(--icon-size);
		position: absolute;
	}

	&:active {
		transform: rotate(180deg);
	}

	&#Collapsed {
		--icon: icon("plus-small");
		--icon-size: 5px;
	}

	svg {
		display: none;
	}
}
