@use "../shared/extends/library";

#Container {
	@extend %library_section;
}

#CSSGrid {
	gap: var(--library_spacing) !important;
	padding: var(--library_spacing) !important;

	grid-template-columns: repeat(auto-fill, 128px) !important;
}
