@import "../shared/extends/style.css";

#HeaderPageControls {
	@extend %section-header;
}

#Name {
	font: inherit !important;
}

#PageClickContainer {
	margin: -2.5px -6px !important;
	margin-left: auto !important;
}

#PageableCloseButton {
	opacity: 1 !important;
}
