@mixin description {
	opacity: var(--library_secondary-text-opacity) !important;
	color: inherit !important;
	font-size: var(--font-size) !important;
	font-style: italic !important;
}

@mixin placeholder {
	opacity: var(--library_secondary-text-opacity) !important;
	border: 2px dashed var(--blue-text) !important;
	border-radius: 0 !important;
	padding: var(--library_spacing) !important;
}

@mixin header {
	color: inherit !important;
	font-size: var(--font-size) !important;
	font-weight: bold !important;
}

@mixin section {
	background: none #e1e7ef !important;
	border: var(--library_border) !important;
	border-top: none !important;
	border-radius: 0 !important;
}
