@mixin arrow {
	mask-image: var(--icon-arrow-bottom);
	margin: 0 !important;

	width: 7px !important;
	height: 4px !important;
}

@mixin icon {
	background-image: var(--icon) !important;
	background-size: var(--icon-size) !important;

	width: var(--icon-size) !important;
	height: var(--icon-size) !important;
}

@mixin lighter {
	--lighter: rgba(255, 255, 255, var(--lighter-opacity));
	--lighter-bg: linear-gradient(0deg, var(--lighter), var(--lighter));
}

@mixin link {
	color: blue !important;
	text-decoration: underline !important;
}

@mixin parentheses {
	&::before {
		content: "(";
	}

	&::after {
		content: ")";
	}
}

@mixin white-gradient {
	--wg-opacity-1: 0.75;
	--wg-opacity-2: 0.25;
	--wg-color: 255, 255, 255;
	--wg-deg: 180deg;
	--wg-size: 12px;
	--white-gradient: linear-gradient(
		var(--wg-deg),
		rgba(var(--wg-color), var(--wg-opacity-1)),
		rgba(var(--wg-color), var(--wg-opacity-2)) var(--wg-size),
		transparent var(--wg-size)
	);

	background-blend-mode: color-burn !important;
}

@mixin blue-bar {
	@include white-gradient;
	--blue-bar-gradient: linear-gradient(
			180deg,
			var(--blue-light),
			var(--blue-dark),
			var(--blue-light)
		),
		var(--white-gradient);

	background-color: transparent !important;
	background-image: var(--blue-bar-gradient) !important;
	padding: 7px 12px !important;
}

@mixin section-header {
	@include white-gradient;
	--wg-size: 7px;
	--wg-opacity-1: 0.5;
	--wg-opacity-2: 0.15;
	--bg: #bdd1ea;

	background-image: linear-gradient(180deg, var(--bg), var(--bg)),
		var(--white-gradient) !important;
	color: var(--blue-text) !important;
	font-size: var(--font-size-small) !important;
	font-weight: bold !important;
	border: 1px solid #9cb1ca !important;
	padding: var(--library_section-header-spacing-y)
		var(--library_section-header-spacing-x) !important;
}
