@use "shared/extends/style";

@mixin button {
	@include style.lighter($opacity: 0.35);
	@include style.white-gradient($size: 9px);

	background: linear-gradient(0deg, #bdd1ea 9%, #93b0d4 54%, #506580),
		var(--lighter-bg), var(--white-gradient) !important;
	color: #273b5c !important;
	font-size: var(--font-size) !important;
	font-weight: bold !important;
	text-align: center !important;
	line-height: 1 !important;
	border: var(--blue-border) !important;
	border-radius: var(--border-radius) !important;
	padding: 2.5px 18px !important;

	&:active {
		--wg-opacity-1: 0.9;
		--wg-opacity-2: 0.4;
		--lighter-opacity: 0;
	}
}

@mixin button-disabled {
	--wg-opacity-1: 0;
	--wg-opacity-2: 0;

	pointer-events: none !important;
}

@mixin progress-bar-outer {
	background-color: transparent !important;
	background-image: linear-gradient(180deg, #66666680, transparent) !important;
	border: var(--blue-border) !important;
	box-shadow: 0 0 0 1px #fff !important;
	border-radius: var(--border-radius) !important;

	height: 18px !important;
}

@mixin progress-bar-inner {
	@include style.white-gradient($size: 9px);

	background-color: transparent !important;
	background-image: linear-gradient(
			90deg,
			#69922c 0%,
			#84c422 65%,
			#c6e296 98%
		),
		var(--white-gradient) !important;
	box-shadow: inset 0 0 0 1px #ffffff80 !important;
	border-radius: 0 !important;
}

@mixin text-input {
	background-color: #fff !important;
	color: var(--fg-main) !important;
	font-size: var(--font-size) !important;
	line-height: 18px !important;
	border: var(--blue-border) !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 3px 6px !important;

	&::placeholder {
		color: #7f7f7f !important;
	}
}

@mixin text-input-compact {
	@include text-input;

	padding: 0 6px !important;
}

@mixin tooltip {
	background: var(--tooltip_background);
	color: #4c4c4c;
	font-size: var(--font-size);
	text-shadow: none;
	border: 1px solid #767676;
	border-radius: var(--border-radius);
	box-shadow: var(4px 4px 4px -2px rgba(0, 0, 0, 0.5));
	padding: 3px 5px 3px 4px;
}
