@use "shared/extends/list";
@use "shared/extends/style";

@mixin container {
	background: var(--contextmenu_container-bg);
	border: 1px solid var(--contextmenu_container-border-outer);
	box-shadow:
		var(--popup-shadow),
		inset 0 0 0 var(--contextmenu_container-spacing)
			var(--contextmenu_container-border-inner);
	padding: var(--contextmenu_container-spacing);
}

@mixin container-child($offset) {
	--offset: #{$offset};

	margin-top: var(--offset);
	margin-left: var(--offset);
}

@mixin container-left-border {
	&::before {
		content: "";

		position: absolute;
		top: 0;
		bottom: 0;
		left: var(--contextmenu_left-spacing);

		border-left: 1px solid var(--contextmenu_separator-light);
		box-shadow: -1px 0 var(--contextmenu_separator-dark);
	}
}

/// @param {"checkmark" | "radio"} $what
@mixin icon($what) {
	--offset: -1px;

	@include list.item-active;

	background-image:
		var(--icon-context-menu-#{$what}), var(--listitem_item-gradient);
	background-position: center;
	border-radius: var(--border-radius);

	position: absolute;
	top: var(--offset);
	left: var(--offset);
	width: var(--contextmenu_item-height);
	height: var(--contextmenu_item-height);
}

@mixin icon-pos {
	position: absolute;
	left: 4px;
	width: var(--icon-size);
	height: var(--icon-size);
}

@mixin item {
	@include list.item;

	// #contextmenu_UpperCase
	text-transform: unset;
	padding: 3px calc(8px * 2 + 4px) 3px
		calc(5px + var(--contextmenu_left-spacing));

	position: relative;

	&:focus {
		@include list.item-active;
	}
}

@mixin separator {
	--offset: calc(1px + var(--contextmenu_container-spacing));

	border-top: 1px solid var(--contextmenu_separator-light);
	box-shadow: 0 -1px var(--contextmenu_separator-dark);
	margin: 5px 0 2px calc(var(--contextmenu_left-spacing) + var(--offset));
}

@mixin submenu-arrow {
	@include style.arrow("right");

	background-color: var(--listitem_fg);

	position: absolute;
	right: 8px;
}
