@use "shared/extends/style";

/// Checkbox/radio base.
///
/// @param {string} $name - checkbox/radio
/// @param {string} $checked-class-name - Class name of checked state
@mixin input-base($name, $checked-class-name) {
	--pos: calc(var(--pos-initial) + var(--size) * var(--state));
	--pos-initial: 0px;
	--size: 13px;
	// Normal, Hover, Active, Disabled, Max
	--state: 0;

	background-image: url("../../../assets/images/#{$name}.png");
	background-position-y: calc(var(--pos) * -1);

	&:hover {
		--state: 1;
	}

	&:active {
		--state: 2;
	}

	&#Disabled {
		--state: 3;
	}

	&#{$checked-class-name} {
		--pos-initial: calc(var(--size) * 4);
	}
}

@mixin button {
	@include style.lighter($opacity: 0.35);
	@include style.white-gradient($size: 9px);

	background: linear-gradient(0deg, #bdd1ea 9%, #93b0d4 54%, #506580),
		var(--lighter-bg), var(--white-gradient);
	color: #273b5c;
	font-size: var(--font-size);
	font-weight: bold;
	text-align: center;
	line-height: 1;
	border: var(--blue-border);
	border-radius: var(--border-radius);
	padding: 2.5px 18px;

	&:active {
		--wg-opacity-1: 0.9;
		--wg-opacity-2: 0.4;
		--lighter-opacity: 0;
	}
}

@mixin button-disabled {
	--wg-opacity-1: 0;
	--wg-opacity-2: 0;

	pointer-events: none;
}

@mixin progress-bar-outer {
	background-color: transparent;
	background-image: linear-gradient(180deg, #66666680, transparent);
	border: var(--blue-border);
	box-shadow: 0 0 0 1px #fff;
	border-radius: var(--border-radius);

	height: 18px;
}

@mixin progress-bar-inner {
	@include style.white-gradient($size: 9px);

	background-color: transparent;
	background-image: linear-gradient(
			90deg,
			#69922c 0%,
			#84c422 65%,
			#c6e296 98%
		),
		var(--white-gradient);
	box-shadow: inset 0 0 0 1px #ffffff80;
	border-radius: 0;
}

@mixin text-input {
	background-color: #fff;
	color: var(--fg-main);
	font-size: var(--font-size);
	line-height: 18px;
	border: var(--blue-border);
	border-radius: 0;
	box-shadow: none;
	padding: 3px 6px;

	&::placeholder {
		color: #7f7f7f;
	}
}

@mixin text-input-compact {
	@include text-input;

	padding: 0 6px;
}

@mixin tooltip {
	background: var(--tooltip_background);
	color: #4c4c4c;
	font-size: var(--font-size);
	text-shadow: none;
	border: 1px solid #767676;
	border-radius: var(--border-radius);
	box-shadow: var(4px 4px 4px -2px rgba(0, 0, 0, 0.5));
	padding: 3px 5px 3px 4px;
}
