@use "shared/extends/style";

/*#region CONTROLS */
@mixin button {
	@include style.lighter($opacity: 0.35);
	@include style.white-gradient($size: 9px);

	background: linear-gradient(0deg, #bdd1ea 9%, #93b0d4 54%, #506580),
		var(--lighter-bg), var(--white-gradient);
	color: #273b5c;
	font-size: var(--font-size);
	font-weight: bold;
	text-align: center;
	line-height: 1;
	border: var(--blue-border);
	border-radius: var(--border-radius);
	padding: 2.5px 18px;

	&:active {
		--wg-opacity-1: 0.9;
		--wg-opacity-2: 0.4;
		--lighter-opacity: 0;
	}
}

@mixin button-disabled {
	--wg-opacity-1: 0;
	--wg-opacity-2: 0;

	pointer-events: none;
}

@mixin text-input($compact: false) {
	background-color: #fff;
	color: var(--fg-main);
	font-size: var(--font-size);
	line-height: 18px;
	border: var(--blue-border);
	border-radius: 0;
	box-shadow: none;
	padding: #{$compact and 0 or 3px} 6px;

	&::placeholder {
		color: #7f7f7f;
	}
}

/*#endregion*/
/*#region STYLE */
@mixin placeholder {
	opacity: var(--library_secondary-text-opacity);
	border: 2px dashed var(--blue-text);
	border-radius: 0;
	padding: var(--library_spacing);
}

@mixin section {
	background: none #e1e7ef;
	border: var(--library_border);
	border-top: none;
	border-radius: 0;
}

/*#endregion*/
/*#region TEXT */
@mixin description {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	font-size: var(--font-size);
	font-style: italic;
}

@mixin header {
	color: inherit;
	font-size: var(--font-size);
	font-weight: bold;
}

@mixin header-primary {
	@include header;

	font-size: 10pt;
	text-decoration: underline;
}

@mixin header-secondary {
	@include header;

	opacity: var(--library_secondary-text-opacity);
}
/*#endregion*/
