@use "mixins/modal";

#BackupAppsBrowse {
	margin: 0;
}

#BackupAppsDialog {
	.DialogBody {
		padding-block-start: var(--library_spacing-x05);
	}

	.DialogBodyText {
		margin: 0;
		padding: var(--library_spacing);
		padding-block-end: 0;
	}

	.DialogFooter {
		margin: var(--library_spacing);
		margin-block-start: 0;
	}
}

// Not the same as .DialogBodyText, this one is in .DialogBody
#DialogBodyText {
	@include modal.description;

	padding-block: var(--library_spacing) var(--library_spacing-x05);
}
