#GRModalOptions {
	gap: 0;
	margin: var(--library_spacing);

	#OptionExplainer {
		margin-block-start: 0;
		margin-inline-start: 20px;
		opacity: 0.5;
	}
}

#GROptionLabel {
	color: inherit;
	font: inherit;
	gap: var(--library_text-spacing);
}

#ModalButtonRow {
	margin: var(--library_spacing);
}
