@use "mixins/library";

#Content {
	color: var(--blue-text);
	font-size: var(--font-size);
	margin: var(--library_spacing);

	hr {
		border-block-end: 2px solid var(--blue-border);
		margin-block: var(--library_spacing-x05);
	}
}

#DetailBlock {
	font: inherit;

	#Header {
		@include library.header-primary;

		letter-spacing: 0;
		margin-block-end: var(--library_spacing-x05);
		text-transform: none;
	}

	#Primary {
		@include library.header-secondary;

		margin-block-end: var(--library_spacing-x05);
	}
}

#ExportPreview {
	gap: var(--library_spacing);
	padding-block-start: var(--library_spacing);

	#Thumbnail {
		border-radius: var(--border-radius-large);
	}
}

#PathRow {
	#DiskIcon {
		// Makes it appear not blurred
		--icon-size: 18px;

		color: inherit;
		height: var(--icon-size);
		inset: 0;
		margin: auto;
		padding: 0;
		position: absolute;
		width: var(--icon-size);
	}

	#File {
		@include library.header;
	}

	#Path {
		@include library.description;
	}
}

#SettingRow {
	color: inherit;
	font: inherit;
	margin-block: 2px;
}

#Slider {
	& ~ hr {
		display: none;
	}
}

#SliderHeader {
	@include library.header;
}
