#GRModalOptions {
	gap: 0;
	margin: var(--library--spacing);

	#OptionExplainer {
		margin-block-start: 0;
		margin-inline-start: 20px;
		opacity: 0.5;
	}
}

#GROptionLabel {
	color: inherit;
	font: inherit;
	gap: var(--text-spacing);
}

#ModalButtonRow {
	gap: var(--library--spacing-x05);
	margin: var(--library--spacing);

	.DialogButton {
		width: auto;
	}
}
