@use "mixins/library";
@use "mixins/list";
@use "mixins/style";

#AppsToInstall {
	border: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#AppToInstall {
	align-items: center;
	border: none;
	line-height: inherit;
	padding: 0;

	#AppLogo {
		margin-inline-end: var(--library_spacing-x05);
	}

	#AppName {
		@include library.header-primary;

		flex: 0 0 auto;
	}

	#DiskSpace {
		@include style.parentheses;

		color: color-mix(in srgb, var(--blue-text) 50%, transparent);
		font: inherit;
		margin-inline: 4px 0;
		text-align: start;
	}
}

#CreateShortcuts {
	flex-direction: column;
	gap: 0;
	margin-block: var(--library_spacing-x05);
}

#FolderOption {
	@include list.item;

	font: inherit;
	margin: 0;

	&#Active {
		@include list.item-active;
	}

	#DiskSpace {
		font: inherit;
		text-transform: none;
	}

	#FolderFlag {
		@include style.icon("download");

		margin: 0;
	}

	#FolderFlagStar {
		@include style.icon("star");

		margin: 0;
	}

	#FolderName {
		font-weight: bold;
	}

	svg {
		display: none;
	}
}

#FolderSelector {
	border-block-start: 2px solid var(--blue-border);
	padding-block: var(--library_spacing);

	#FolderSettings {
		all: unset;

		// fix some bullshit css behavior
		.tool-tip-source {
			display: flex;
		}

		svg {
			@include style.icon("settings", "path");
		}
	}

	#Header {
		@include library.header-secondary;

		align-items: center;
		justify-content: space-between;
		line-height: inherit;
		letter-spacing: 0;
		text-transform: none;
	}

	& > :not([class]) {
		background-color: var(--bg-main);
		border: 1px solid var(--blue-border);
		color: var(--fg-main);
		padding: 2px;
	}
}
