@use "mixins/modal";
@use "mixins/style";

#KeyCaptureBottomRow {
	gap: var(--library_spacing-x05);
	margin: var(--library_spacing);
	margin-block-start: auto;

	.DialogButton {
		width: auto;
	}
}

#KeyCaptureCenter {
	align-items: start;
	margin: var(--library_spacing);
	margin-block-start: 0;

	#Explainer {
		@include modal.description;

		font-weight: bold;
		margin-block-end: var(--library_spacing-x05);
	}
}

#KeyCaptureContainer {
	padding: 0;

	#UnbindButton {
		@include style.icon("delete", "svg");

		inset-inline-end: 4px;
	}
}

#KeyCaptureHeader #Subhead {
	@include modal.description;

	margin: var(--library_spacing);
}

#KeyCaptureModal {
	justify-content: start;
}
