@use "mixins/controls";
@use "mixins/modal";

#Description,
#Description2,
#DMCA {
	@include modal.description;

	margin-block: 0 var(--library_spacing-x05);
}

#InputBox {
	@extend %textfield-base;

	margin-block-end: var(--library_spacing-x05);
	width: 100%;
}
