@use "mixins/library";
@use "mixins/modal";

// Actually screenshot share

#CaptionField {
	@include library.text-input;
}

#CloudStorageImpact {
	@include modal.description;
}

#ScreenshotShareDialog {
	gap: var(--library--spacing-x05);
	padding: var(--library--spacing);

	#Buttons {
		gap: var(--library--spacing-x05);
	}
}

#ShareDialogRow {
	align-items: start;
	flex-direction: column;
	gap: var(--library--text-spacing);
}
