@use "mixins/controls";
@use "mixins/style";

#DescribeGame {
	margin-block: 0 var(--library_spacing-x05);
}

#FreeCheckbox {
	.HelperTooltip {
		display: none;
	}
}

#Header {
	color: var(--blue-text);
	font-size: var(--font-size-xlarge);
	border-block-end: 2px solid transparent;
	border-image: linear-gradient(90deg, var(--blue-border), transparent) 1;
}

#ReviewSettingsChecks {
	gap: 4px;
	margin: 0;
	margin-inline-start: var(--library_spacing);

	.HelperTooltip {
		@include style.icon($name: "help", $hide-selector: "*");

		margin-inline-start: 4px;
	}
}

#ReviewSettingsRow {
	& > span {
		line-height: 22px;
		margin-inline-end: var(--library_spacing-x05);
	}
}

#ReviewTextArea {
	@extend %textfield-base;
}

#WriteReviewContainer {
	font-size: inherit;

	#RatingContainer {
		margin-block: var(--library_spacing);
	}

	.DialogInputLabelGroup {
		margin: 0;
	}
}
