@use "shared/extends/settings";

#Field {
	--field-row-children-spacing: 7px;

	color: inherit;
	padding-block: 3px;
	margin: 0;
}

#FieldChildrenWithIcon {
	align-self: start;
}

#FieldDescription {
	color: inherit;
	font: inherit;
	margin-top: 0;
	margin-left: 20px;

	&:not(:has(> *)) {
		opacity: 0.5;
	}
}

#FieldLabel {
	color: inherit;
	font: inherit;
}

#FieldLabelRow {
	&:not(:has(.DialogButton, .DialogDropDown, .DialogInput)) {
		flex-direction: row-reverse;
	}
}

#StandaloneFieldSeparator {
	@include settings.separator;
}
