@use "shared/extends/style";

#HeaderPageControls {
	@include style.section-header;
}

#Name {
	font: inherit;
}

#PageClickContainer {
	margin: calc(var(--library_section-header-spacing-y) * -1)
		calc(var(--library_section-header-spacing-x) * -1);
	margin-left: auto;
}

#PageableCloseButton {
	opacity: 1;
}
