@use "shared/extends/pageablecontainer";
@use "shared/extends/style";

#HeaderPageControls {
	@include style.section-header;

	padding: 0;

	align-items: center;
}

#Name {
	font: inherit;
	margin: var(--library_section-header-spacing-y)
		var(--library_section-header-spacing-x);
}

#PageClickContainer {
	@include pageablecontainer.buttons-container;
}

#PageableCloseButton {
	@include pageablecontainer.button("delete");
}

#PageLeft {
	@include pageablecontainer.button("nav-back");
}

#PageRight {
	@include pageablecontainer.button("nav-forward");
}
