:root {
	--steamavatar_size: 32px;
}

#avatar {
	border: none;
	box-shadow: none;

	width: var(--steamavatar_size);
	height: var(--steamavatar_size);
}

#avatarHolder {
	transform: unset;

	position: relative;
	width: var(--steamavatar_size);
	height: var(--steamavatar_size);
}
