#avatar {
	border: none;
	box-shadow: none;

	width: inherit;
	height: inherit;
}

#avatarHolder {
	transform: unset;

	position: relative;
	width: calc(var(--steamavatar_size) * var(--multiply));
	height: calc(var(--steamavatar_size) * var(--multiply));

	&.X-Small {
		--multiply: 0.75;
	}

	&.Small {
		--multiply: 1;
	}

	&.Medium {
		// same size in steam css
		--multiply: 1;
	}

	&.Large {
		--multiply: 1.5;
	}

	&.X-Large {
		--multiply: 2;
	}
}
