@use "shared/extends/controls";
@use "shared/extends/tooltip";

#Name {
	margin: 0;
}

#ProgressLabel {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	font-size: var(--font-size-small);
	margin-bottom: var(--library_text-spacing);
}

#SingleAchievementProgressBar {
	@include controls.progress-bar-outer;
}

#SingleAchievementProgressContainer {
	margin-top: var(--tooltip_description-spacing);
}

#TextSection {
	color: inherit;
	font: inherit;
	padding: var(--tooltip_description-spacing);
	padding-left: 0;
}

#TopSectionAchievementIcon {
	--icon-size: 64px;

	margin: var(--tooltip_description-spacing);
}

#Unlocked {
	@include tooltip.separator;

	background: none;
	color: inherit;
	font-size: var(--font-size);
	font-weight: bold;
}
