@use "shared/extends/controls";

#AppDetailsHover {
	@include controls.tooltip;

	background-image: none;
}

#Background {
	background-image: var(--tooltip_background);
	border-radius: inherit;
}

#BlurContainer {
	mask: none;
	opacity: 1;
}
