@use "shared/extends/controls";

#Name {
	margin: 0;
}

#ProgressLabel {
	opacity: var(--library_secondary-text-opacity);
	color: inherit;
	font-size: var(--font-size-small);
	margin-bottom: var(--library_text-spacing);
}

#SingleAchievementProgressBar {
	@include controls.progress-bar-outer;
}

#SingleAchievementProgressContainer {
	margin-top: var(--tooltip_description-spacing);
}

#TextSection {
	color: inherit;
	font: inherit;
	padding: var(--tooltip_description-spacing);
	padding-left: 0;
}

#TopSectionAchievementIcon {
	--icon-size: 64px;

	margin: var(--tooltip_description-spacing);
}

#Unlocked {
	background: none;
	color: inherit;
	font-size: var(--font-size);
	font-weight: bold;
	padding: 2px 0 1px 0;
	border-top: 1px solid #fff;
	box-shadow: 0 -1px #9ebbdd;
}
