@use "shared/extends/tooltip";

#TextToolTip {
	@include tooltip.container;
}

#ToolTipCustom {
	@include tooltip.container;

	max-width: 220px;
}

#ToolTipInsetContent {
	color: inherit;
	margin: var(--tooltip_description-spacing);
}

#ToolTipTitle {
	color: inherit;
	font-weight: bold;
}
