@use "shared/extends/tooltip";

:root {
	--tooltip_background: linear-gradient(180deg, #fff, #c9d9ef);
	--tooltip_description-spacing: 9px;
}

#TextToolTip {
	@include tooltip.container;
}

#ToolTipCustom {
	@include tooltip.container;

	max-width: 220px;
}

#ToolTipInsetContent {
	color: inherit;
	margin: var(--tooltip_description-spacing);
}

#ToolTipTitle {
	color: inherit;
	font-weight: bold;
}
