@use "shared/extends/controls";

:root {
	--tooltip_background: linear-gradient(180deg, #fff, #c9d9ef);
	--tooltip_description-spacing: 9px;
}

#TextToolTip {
	@include controls.tooltip;
}

#ToolTipCustom {
	@include controls.tooltip;

	max-width: 210px;
}

#ToolTipInsetContent {
	color: inherit !important;
	margin: var(--tooltip_description-spacing) !important;
}

#ToolTipTitle {
	color: inherit !important;
	font-weight: bold;
}
